[Desktop Entry]
Keywords=
Name=Shader Test
Name[az]=Şeyderin testi
Name[bs]=Šader test
Name[ca]=Prova les ombres
Name[ca@valencia]=Prova les ombres
Name[da]=Shader-test
Name[de]=Schattentest
Name[en_GB]=Shader Test
Name[es]=Prueba de sombreado
Name[et]=Shaderi test
Name[eu]=Itzaldura probak
Name[fi]=Varjostintesti
Name[fr]=Test du nuanceur
Name[gd]=Deuchainn air sgàileadairean
Name[gl]=Proba de sombreador
Name[hu]=Árnyékoló teszt
Name[ia]=Essayo de umbrator (Shader)
Name[id]=Uji Shader
Name[it]=Prova shader
Name[ko]=셰이더 테스트
Name[mr]=शेडर चाचणी
Name[nb]=Skygger-test
Name[nds]=Schaddeerertest
Name[nl]=Test van schaduw
Name[nn]=Skuggar-test
Name[pl]=Próba cieniowania
Name[pt]=Teste de Sombras
Name[pt_BR]=Teste de sombra
Name[ru]=Тест шейдеров
Name[sk]=Test Shadera
Name[sl]=Preizkus senčilnikov
Name[sr]=Проба шејдера
Name[sr@ijekavian]=Проба шејдера
Name[sr@ijekavianlatin]=Proba šejdera
Name[sr@latin]=Proba šejdera
Name[sv]=Skuggningstest
Name[tg]=Санҷиши соягузор
Name[tr]=Gölgelendirici Testi
Name[uk]=Тестування підпрограм побудови тіней
Name[vi]=Kiểm thử trình đánh bóng
Name[x-test]=xxShader Testxx
Name[zh_CN]=着色器测试
Name[zh_TW]=陰影測試
Comment=Futzing with Visual Effects
Comment[az]=Vizual Effektlər nümunəsi
Comment[bs]=Futzing sa vizuelnim efektima
Comment[ca]=Jugant amb els efectes visuals
Comment[ca@valencia]=Jugant amb els efectes visuals
Comment[da]=Futzing med visuelle effekter
Comment[de]=Verschwommen mit optischen Effekten
Comment[en_GB]=Futzing with Visual Effects
Comment[es]=Jugar con los efectos visuales
Comment[et]=Nikerdamine visuaalsete efektidega
Comment[eu]=Denbora xahutu ikus-efektuekin
Comment[fi]=Ajan tuhlausta visuaalisten tehosteiden parissa
Comment[fr]=Jouer avec les effets visuels
Comment[gd]=A' cluich le èifeachdan lèirsinne
Comment[gl]=Perdas de tempo con efectos visuais
Comment[hu]=Vizuális effektek kavalkádja
Comment[ia]=Jocante (Futzing) con effectos visual
Comment[id]=Berjuang dengan Visual Efek
Comment[it]=Divertirsi con gli effetti visuali
Comment[ko]=시각 효과 가지고 놀기
Comment[mr]=दृश्यास्पद परिणाम बरोबर फट्झिंग
Comment[nb]=Fomle med visuelle effekter
Comment[nds]=Rümspelen mit visuell Effekten
Comment[nl]=Tijd verspillen met visuele effecten
Comment[nn]=Fomling med visuelle effektar
Comment[pl]=Grzebanie przy efektach wizualnych
Comment[pt]=Brincar com Efeitos Visuais
Comment[pt_BR]=Brinque com efeitos visuais
Comment[ru]=Примеры визуальных эффектов
Comment[sk]=Futzing s vizuálnymi efektami
Comment[sl]=Igranje z vidnimi učinki
Comment[sr]=Поигравање са визуелним ефектима
Comment[sr@ijekavian]=Поигравање са визуелним ефектима
Comment[sr@ijekavianlatin]=Poigravanje sa vizuelnim efektima
Comment[sr@latin]=Poigravanje sa vizuelnim efektima
Comment[sv]=Greja med visuella effekter
Comment[tg]=Ҷунбидани таъсирҳои намоён
Comment[tr]=Görsel efektler ile Müdahale
Comment[uk]=Маніпулювання візуальними ефектами
Comment[vi]=Thử các hiệu ứng trực quan
Comment[x-test]=xxFutzing with Visual Effectsxx
Comment[zh_CN]=测试各种视觉效果
Comment[zh_TW]=視覺效果
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.example.testshaders
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/testshaderapplet.qml
