[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Shader Test
Name[bs]=Šader test
Name[ca]=Prova d'ombres
Name[de]=Schattentest
Name[es]=Prueba de sombreado
Name[fi]=Varjostintesti
Name[gl]=Proba de sombreador
Name[ia]=Essayo de umbrator (Shader)
Name[mr]=शेडर चाचणी
Name[nds]=Schaddeerertest
Name[nl]=Test van schaduw
Name[pl]=Próba cieniowania
Name[pt]=Teste de Sombras
Name[pt_BR]=Teste de sombra
Name[sk]=Test Shadera
Name[sl]=Preizkus senčilnikov
Name[sr]=Проба шејдера
Name[sr@ijekavian]=Проба шејдера
Name[sr@ijekavianlatin]=Proba šejdera
Name[sr@latin]=Proba šejdera
Name[sv]=Skuggningstest
Name[uk]=Тестування підпрограм побудови тіней
Name[x-test]=xxShader Testxx
Comment=Futzing with Visual Effects
Comment[bs]=Futzing sa vizuelnim efektima
Comment[ca]=Jugant amb efectes visuals
Comment[de]=Verschwommen mit optischen Effekten
Comment[es]=Jugar con los efectos visuales
Comment[fi]=Ajan tuhlausta visuaalisten tehosteiden parissa
Comment[gl]=Perdas de tempo con efectos visuais
Comment[ia]=Jocante (Futzing) con effectos visual
Comment[mr]=दृश्यास्पद परिणाम बरोबर फट्झिंग
Comment[nds]=Rümspelen mit visuell Effekten
Comment[nl]=Tijd verspillen met visuele effecten
Comment[pl]=Grzebanie przy efektach wizualnych
Comment[pt]=Brincar com Efeitos Visuais
Comment[pt_BR]=Brinque com efeitos visuais
Comment[sk]=Futzing s vizuálnymi efektami
Comment[sl]=Igranje z vidnimi učinki
Comment[sr]=Поигравање са визуелним ефектима
Comment[sr@ijekavian]=Поигравање са визуелним ефектима
Comment[sr@ijekavianlatin]=Poigravanje sa vizuelnim efektima
Comment[sr@latin]=Poigravanje sa vizuelnim efektima
Comment[sv]=Greja med visuella effekter
Comment[uk]=Маніпулювання візуальними ефектами
Comment[x-test]=xxFutzing with Visual Effectsxx
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.example.testshaders
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/testshaderapplet.qml
