[Desktop Entry]
Keywords=
Name=Applet Test
Name[ar]=اختبار للبريمج
Name[az]=Test vidjeti
Name[bs]=Applet Test
Name[ca]=Miniaplicació de prova
Name[ca@valencia]=Miniaplicació de prova
Name[cs]=Test appletu
Name[da]=Test af applet
Name[de]=Miniprogrammtest
Name[en_GB]=Applet Test
Name[es]=Prueba de miniaplicación
Name[et]=Apleti test
Name[eu]=Aplikaziotxo-proba
Name[fi]=Sovelmatesti
Name[fr]=Applet test
Name[gd]=Deuchainn air aplaid
Name[gl]=Proba de miniaplicativo
Name[hu]=Kisalkalmazás teszt
Name[ia]=Applet Test (Prova de applet)
Name[id]=Uji Applet
Name[it]=Prova applet
Name[ko]=애플릿 테스트
Name[lt]=Programėlės testas
Name[lv]=Lietotnes tests
Name[mr]=एप्लेट चाचणी
Name[nb]=Applet-test
Name[nds]=Lüttprogramm-Test
Name[nl]=Test van applet
Name[nn]=Applet-test
Name[pa]=ਐਪਲਿਟ ਟੈਸਟ
Name[pl]=Próba apletu
Name[pt]=Teste de 'Applets'
Name[pt_BR]=Teste de miniaplicativo
Name[ro]=Test miniaplicație
Name[ru]=Тестовый виджет
Name[sk]=Test Appletu
Name[sl]=Preizkus apleta
Name[sr]=Проба аплета
Name[sr@ijekavian]=Проба аплета
Name[sr@ijekavianlatin]=Proba apleta
Name[sr@latin]=Proba apleta
Name[sv]=Miniprogramtest
Name[ta]=பிளாஸ்மாய்ட் சோதனை
Name[tg]=Санҷиши зербарнома
Name[tr]=Uygulama Programı Testi
Name[uk]=Тест аплету
Name[vi]=Kiểm thử tiểu ứng dụng
Name[x-test]=xxApplet Testxx
Name[zh_CN]=小部件测试
Name[zh_TW]=小程式測試
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.example.conditionalloader
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
