[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ScriptEngine

Comment=Scripting language extension for Plasma
Comment[ar]=إمتداد لغة مخطوطة للبلازما
Comment[as]=Plasma ৰ কাৰণে স্ক্ৰিপ্টিং ভাষাৰ সম্প্ৰসাৰণ
Comment[be@latin]=Pašyreńnie skryptavaj movy dla systemy „Plasma”
Comment[ca]=Extensió de llenguatge d'script per al Plasma
Comment[ca@valencia]=Extensió de llenguatge d'script per al Plasma
Comment[cs]=Rozšíření pro skriptovací jazyky Plasma
Comment[da]=Scriptsprog-udvidelse til Plasma
Comment[de]=Skriptsprachen-Erweiterung für Plasma
Comment[el]=Επέκταση γλώσσας σεναρίων για το Plasma
Comment[es]=Extensión de lenguaje de guiones para Plasma
Comment[et]=Skriptikeele laiendus Plasmale
Comment[eu]=Plasmarako script lengoaien gehigarria
Comment[fi]=Skriptauskielituki Plasmalle
Comment[fr]=Langage de script d'extension pour Plasma
Comment[ga]=Eisínteacht teanga scriptithe le haghaidh Plasma
Comment[gl]=Extensión de linguaxe de scripting para Plasma
Comment[gu]=પ્લાઝમા માટે સ્ક્રિપ્ટીંગ ભાષા એક્સટેન્શન
Comment[he]=הרחבת שפת תסריטים של Plasma
Comment[hsb]=Skriptowa rěč jako Plasma-ekstensija
Comment[hu]=Szkriptkezelő bővítmény a Plasmához
Comment[is]=Framlenging á skriftunarmál fyrir Plasma
Comment[it]=Estensione linguaggio scripting per Plasma
Comment[ja]=Plasma のためのスクリプト言語拡張
Comment[km]=ផ្នែក​បន្ថែម​ភាសា​ស្គ្រីប​សម្រាប់​ប្លាស្មា
Comment[ko]=Plasma 스크립트 언어 확장
Comment[ku]=Pêveka zimanê skrîpt kirinê ji bo Plasma
Comment[lt]=Scenarijų kalbos praplėtimas, skirtas Plasma
Comment[lv]=Skriptēšanas valodu Plasma paplašinājums
Comment[mai]=प्लाजमाक लेल स्क्रिप्टिंग भाषाक विस्तार
Comment[ml]=പ്ലാസ്മയ്ക്കുള്ള സ്ക്രിപ്റ്റിങ്ങ് ഭാഷാ എക്സ്റ്റന്‍ഷന്‍
Comment[nb]=Skriptspråk-utvidelse for Plasma
Comment[nds]=Skriptspraak-Verwiedern för Plasma
Comment[nl]=Scripttaalextensie voor Plasma
Comment[nn]=Skriptspråkutviding for Plasma
Comment[pa]=ਪਲਾਜ਼ਮਾ ਲਈ ਸਕ੍ਰਿਪਟਿੰਗ ਭਾਸ਼ਾ ਇਕਸਟੈਨਸ਼ਨ
Comment[pl]=Rozszerzenie języka skryptów dla Plazmy
Comment[pt]=Extensão de linguagens de programação para o Plasma
Comment[pt_BR]=Extensão de linguagem de script do Plasma
Comment[ro]=Extensie de limbaj pentru scripturi Plasma
Comment[ru]=Поддержка скриптовых языков для Plasma
Comment[se]=Skriptagiellaviiddádus Plasmai
Comment[sk]=Rozšírenie skryptovacieho jazyku pre Plasmu
Comment[sl]=Razširitev s skriptnim jezikom za Plasmo
Comment[sr]=Проширење Плазме за скриптне језике
Comment[sr@latin]=Proširenje Plasme za skriptne jezike
Comment[sv]=Skriptspråksutökning för Plasma
Comment[ta]=பிளாஸ்மாவிற்கான நேர்நிரலாக்க மொழி விரிவாக்கம்
Comment[tg]=Скрипти забонҳои иловагӣ барои Plasma
Comment[th]=ส่วนเสริมภาษาสคริปต์สำหรับพลาสมา
Comment[tr]=Plasma için betik dili eklentisi
Comment[uk]=Розширення скриптових мов для Plasma
Comment[x-test]=xxScripting language extension for Plasmaxx
Comment[zh_CN]=Plasma 的扩展脚本语言
Comment[zh_TW]=Plasma 文稿語言延伸

[PropertyDef::X-Plasma-ComponentTypes]
Type=QStringList

[PropertyDef::X-Plasma-PackageFormat]
Type=QString

