[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

