[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PackageStructure
Comment=Plasma package structure definition
Comment[ca]=Definició de l'estructura d'un paquet Plasma
Comment[de]=Plasma-Paket Struktur-Definition
Comment[el]=Ορισμός δομής πακέτου του Plasma
Comment[eo]=Plasma-pakaĵa struktura difino
Comment[es]=Definición de la estructura del paquete Plasma
Comment[ga]=Sainmhíniú ar struchtúr pacáiste Plasma
Comment[km]=កា​រកំណត់​រចនាសម្ព័ន្ធ​កញ្ចប់​ប្លាស្មា
Comment[pt]=Definição da estrutura de pacotes do Plasma
Comment[pt_BR]=Definição da estrutura do pacote Plasma
Comment[sr]=Дефиниција структуре плазма пакета
Comment[sr@latin]=Definicija strukture plasma paketa
Comment[th]=ข้อกำหนดโครงสร้างแพ็กเกจของพลาสมา
Comment[tr]=Plasma paketi yapı tanımlaması
Comment[x-test]=xxPlasma package structure definitionxx
Comment[zh_CN]=Plasma 包结构定义
Comment[zh_TW]=Plasma 套件結構定義

[PropertyDef::X-Plasma-PackageFileFilter]
Type=QString

[PropertyDef::X-Plasma-PackageFileMimetypes]
Type=QStringList

