[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PopupApplet

Comment=Plasma scripting popup applet
Comment[be@latin]=Skryptavy vypłyŭny aplet „Plasma”
Comment[nds]=Skript-Opduklüttprogramm vun Plasma
Comment[sv]=Plasma-skriptminiprogram
Comment[tr]=Plasma betik kullanan açılabilir gereci
Comment[uk]=Аплет програмованого контекстного вікна Плазми


