[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Animator

Comment=Plasma Animation Engine
Comment[de]=Plasma Animations-Treiber
Comment[nds]=Animeerkarn Plasma

