[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Animator

Comment=Plasma Animation Engine
Comment[csb]=Mòtór animacëji plazmë
Comment[de]=Plasma Animations-Treiber
Comment[el]=Μηχανή κίνησης του Plasma
Comment[es]=Motor de animaciones de Plasma
Comment[nds]=Animeerkarn Plasma
Comment[nl]=Plasma animatie-engine
Comment[sv]=Animeringsgränssnitt i Plasma
Comment[zh_TW]=Plasma 動畫引擎

