[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PopupApplet

Comment=Plasma scripting popup applet
Comment[ar]=بريمج منبثق بواسطة سكربت بلازما
Comment[be@latin]=Skryptavy vypłyŭny aplet „Plasma”
Comment[bg]=Аплет за Plasma за скриптове за изскачащи прозорци
Comment[ca]=Miniaplicació emergent d'scripting del Plasma
Comment[ca@valencia]=Miniaplicació emergent d'scripting del Plasma
Comment[cs]=Skriptovací vyskakující Plasma applet
Comment[da]=Popop-applet til Plasma-scripting
Comment[de]=Plasma-Skript-Miniprogramm
Comment[el]=Αναδυόμενη μικροεφαρμογή σεναρίου plasma
Comment[es]=Miniaplicación emergente de script para Plasma
Comment[et]=Plasma skriptimise hüpikaplett
Comment[gl]=Applet contextual de scripting de Plasma
Comment[gu]=પ્લાઝમા સ્ક્રિપ્ટીંગ પોપઅપ એપ્લેટ
Comment[hu]=Szkriptkezelő kisalkalmazás a Plasmához
Comment[is]=Plasma smáforrit fyrir skriftun
Comment[km]=អាប់ភ្លេត​លេចឡើង​របស់​ស្គ្រីប​ប្លាស្មា
Comment[lv]=Plasma skriptu uznirstošais logs
Comment[ml]=പ്ലാസ്മ സ്ക്രിപ്റ്റിങ്ങിന്റെ പൊങ്ങിവരുന്ന ലഘുപ്രയോഗം
Comment[nb]=Oppsprett-miniprogram for Plasma-skripting
Comment[nds]=Skript-Opduklüttprogramm vun Plasma
Comment[nn]=Sprettoppelement for Plasma-skript
Comment[pt]='Applet' de programação do Plasma
Comment[pt_BR]=Miniaplicativo de script do Plasma
Comment[sv]=Plasma-skriptminiprogram
Comment[tr]=Plasma betik kullanan açılabilir gereci
Comment[uk]=Аплет програмованого контекстного вікна Плазми
Comment[x-test]=xxPlasma scripting popup appletxx
Comment[zh_CN]=Plasma 脚本型弹出小程序
Comment[zh_TW]=Plasma 文稿彈出小程式


