[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Animator

Comment=Plasma Animation Engine
Comment[de]=Plasma Animations-Treiber
Comment[nds]=Animeerkarn Plasma
Comment[nl]=Plasma animatie-engine
Comment[zh_TW]=Plasma 動畫引擎

