[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Animator

Comment=Plasma Animation Engine
Comment[el]=Μηχανή εφέ κίνησης του Plasma
Comment[nds]=Plasma-Animeerkarn
Comment[pt]=Motor de Animação do Plasma
Comment[pt_BR]=Mecanismo de animação do Plasma
Comment[sv]=Animeringsgränssnitt i Plasma
Comment[uk]=Рушій анімації Плазми
Comment[zh_TW]=Plasma 動畫引擎

