[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Plasma Data Engine
Comment[el]=Μηχανή δεδομένων Plasma
Comment[nds]=Plasma-Datenkarn
Comment[pt]=Motor de Dados do Plasma
Comment[pt_BR]=Mecanismo de dados do Plasma
Comment[sv]=Plasma datagränssnitt
Comment[tr]=Plasma Veri Motoru
Comment[uk]=Рушій даних Плазми
Comment[zh_TW]=Plasma 資料引擎

