[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[be@latin]=Plugin dla „KRunner”
Comment[ca]=Connector del KRunner
Comment[de]=KRunner-Modul
Comment[el]=Πρόσθετο του KRunner
Comment[es]=Complemento para KRunner
Comment[et]=KRunneri plugin
Comment[gl]=Extensión KFileWrite
Comment[gu]=KRunner પ્લગઈન
Comment[he]=תוסף KRunner
Comment[is]=KRunner íforrit
Comment[km]=កម្មវិធី​ជំនួយ​របស់ KRunner
Comment[lv]=KRunner spraudnis
Comment[ml]=കെറണ്ണര്‍ സംയോജകം
Comment[nb]=KRunner-programtillegg
Comment[nds]=KRunner-Moduul
Comment[nl]=KRunner-plugin
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plug-in do KRunner
Comment[sv]=Krunner-insticksprogram
Comment[th]=โปรแกรมเสริมของ KRunner
Comment[tr]=KRunner eklentisi
Comment[uk]=Втулок KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

[PropertyDef::TryExec]
Type=QString

