[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[ar]=KRunner ملحق
Comment[be]=Утулка Krunner
Comment[bg]=Приставка за KRunner
Comment[ca]=Connectors per al KRunner
Comment[csb]=Wtëkôcze zrëszôcza KRunner
Comment[de]=Programmstarter-Modul
Comment[el]=Πρόσθετο του KRunner
Comment[eo]=KRunner-kromprogramo
Comment[es]=Complemento de KRunner
Comment[et]=KRunneri plugin
Comment[eu]=KRunner plugin-a
Comment[fa]=وصلۀ KRunner
Comment[fi]=KRunner-liitännäinen
Comment[fr]=Module externe de KRunner
Comment[ga]=Breiseán KRunner
Comment[gl]=Extensión de KRunner
Comment[he]=תוסף של KRunner
Comment[hi]=के-रनर प्लगइन
Comment[hu]=KRunner-bővítőmodul
Comment[is]=KRunner íforrit
Comment[it]=Plugin di KRunner
Comment[ja]=KRunner プラグイン
Comment[kk]=KRunner плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ KRunner
Comment[ko]=KRunner 플러그인
Comment[lv]=KRunner spraudnis
Comment[nb]=KRunner-programtillegg
Comment[nds]=KRunner-Moduul
Comment[ne]=केडीई रनर प्लगइन
Comment[nl]=KRunner-plugin
Comment[nn]=KRunner-tillegg
Comment[pa]=ਕੇ-ਰਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczki KRunnera
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plugin do KRunner
Comment[se]=KRunner-lassemodula
Comment[sl]=Vstavek za KRunner
Comment[sr]=Прикључак за К‑извођач
Comment[sr@latin]=Priključak za K‑izvođač
Comment[sv]=Krunner-insticksprogram
Comment[th]=ปลั๊กอินของ KRunner
Comment[uk]=Втулка KRunner
Comment[vi]=Bổ sung KRunner
Comment[wa]=Tchôke-divins KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

[PropertyDef::X-Plasma-RunnerPhase]
Type=QString

