[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[el]=Υποδοχέας μικροεφαρμογών Plasma και σχεδιαστής του φόντου
Comment[nds]=Plasma-Gelaats för Lüttprogrammen un Achtergrundpleger
Comment[pt]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[pt_BR]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[sv]=Plasma miniprogrambehållare och bakgrundsuppritning
Comment[uk]=Контейнер аплетів плазми і малювання тла
Comment[zh_TW]=Plasma 小程式容器與背景畫家

