[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[el]=Ταπετσαρία plasma
Comment[nds]=Plasma-Achtergrundbild
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do Plasma
Comment[sv]=Plasma skrivbordsunderlägg
Comment[uk]=Тло стільниці Плазми
Comment[zh_TW]=Plasma 桌布

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

