[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PopupApplet

Comment=Plasma scripting popup applet
Comment[be@latin]=Skryptavy vypłyŭny aplet „Plasma”
Comment[ca]=Miniaplicació emergent d'scripting del Plasma
Comment[ca@valencia]=Miniaplicació emergent d'scripting del Plasma
Comment[da]=Popop-applet til Plasma-scripting
Comment[el]=Αναδυόμενη μικροεφαρμογή σεναρίου plasma
Comment[es]=Miniaplicación emergente de script para Plasma
Comment[et]=Plasma skriptimise hüpikaplett
Comment[gl]=Applet contextual de scripting de Plasma
Comment[gu]=પ્લાઝમા સ્ક્રિપ્ટીંગ પોપઅપ એપ્લેટ
Comment[km]=អាប់ភ្លេត​លេចឡើង​របស់​ស្គ្រីប​ប្លាស្មា
Comment[nds]=Skript-Opduklüttprogramm vun Plasma
Comment[nn]=Sprettoppelement for Plasma-skript
Comment[pt]='Applet' de programação do Plasma
Comment[pt_BR]=Miniaplicativo de script do Plasma
Comment[sv]=Plasma-skriptminiprogram
Comment[tr]=Plasma betik kullanan açılabilir gereci
Comment[uk]=Аплет програмованого контекстного вікна Плазми
Comment[zh_CN]=Plasma 脚本型弹出小程序
Comment[zh_TW]=Plasma 文稿彈出小程式


