[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[ar]=بريمج بلازما
Comment[be]=Аплет Plasma
Comment[bg]=Аплет за Plasma
Comment[ca]=Miniaplicació del Plasma
Comment[csb]=Aplet plazmë
Comment[de]=Plasma-Miniprogramm
Comment[el]=Μικροεφαρμογή plasma
Comment[eo]=Plasma aplikaĵeto
Comment[es]=Miniaplicación de Plasma
Comment[et]=Plasma aplett
Comment[eu]=Plasma applet-a
Comment[fa]=برنامک پلاسما
Comment[fi]=Plasma-sovelma
Comment[fr]=Applet Plasma
Comment[ga]=Feidhmchláirín Plasma
Comment[gl]=Aplicacionciña de Plasma
Comment[he]=יישומון Plasma
Comment[hi]=प्लाज्मा ऐप्लेट
Comment[hu]=Plasma-kisalkalmazás
Comment[is]=Plasma smáforrit
Comment[it]=Applet di Plasma
Comment[ja]=Plasma アプレット
Comment[kk]=Plasma апплеті
Comment[km]=អាប់ភ្លេត​​ប្លាស្មា​
Comment[ko]=Plasma 애플릿
Comment[lv]=Plasma aplets
Comment[nb]=Plasma miniprogram
Comment[nds]=Plasma-Lüttprogramm
Comment[ne]=प्लाज्मा एप्लेट
Comment[nl]=Plasma-applet
Comment[nn]=Plasma-panelprogram
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ
Comment[pl]=Aplet Plazmy
Comment[pt]='Applet' do Plasma
Comment[pt_BR]=Mini-Aplicativo do Plasma
Comment[ro]=Applet Plasma
Comment[se]=Plasma-prográmmaš
Comment[sl]=Plasma programček
Comment[sr]=Плазма аплет
Comment[sr@latin]=Plasma aplet
Comment[sv]=Plasma-miniprogram
Comment[th]=แอพเพล็ตของ Plasma
Comment[tr]=Plasma programcığı
Comment[uk]=Аплет Плазми
Comment[vi]=Tiểu dụng Plasma
Comment[wa]=Aplikete Plasma
Comment[x-test]=xxPlasma appletxx
Comment[zh_CN]=Plasma 小程序
Comment[zh_TW]=Plasma 小程式

[PropertyDef::X-Plasma-Language]
Type=QString

