[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[be]=Аплет Plasma
Comment[csb]=Aplet plazmë
Comment[de]=Plasma-Miniprogramm
Comment[el]=Εφαρμογίδιο plasma
Comment[es]=Miniaplicación de Plasma
Comment[fa]=برنامک پلاسما
Comment[ga]=Feidhmchláirín Plasma
Comment[ja]=Plasma アプレット
Comment[nds]=Plasma-Lüttprogramm
Comment[nl]=Plasma-applet
Comment[pt]='Applet' do Plasma
Comment[pt_BR]='Applet' do Plasma
Comment[sv]=Plasma-miniprogram
Comment[uk]=Аплет Плазми
Comment[zh_TW]=Plasma 小程式

[PropertyDef::X-Plasma-Language]
Type=QString

