[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[nds]=Plasma-Gelaats för Lüttprogrammen un Achtergrundmaker
Comment[pt]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[pt_BR]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[sv]=Plasma miniprogrambehållare och bakgrundsuppritning

