[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Plasma Data Engine
Comment[be]=Рухавік дадзеных Plasma
Comment[csb]=Mòtór dostónków plazmë
Comment[de]=Plasma Daten-Treiber
Comment[el]=Μηχανή δεδομένων Plasma
Comment[es]=Motor de datos de Plasma
Comment[fa]=موتور داده پلاسما
Comment[ja]=Plasma データエンジン
Comment[nds]=Datendriever Plasma
Comment[nl]=Plasma data-engine
Comment[pt]=Motor de Dados do Plasma
Comment[pt_BR]=Motor de Dados do Plasma
Comment[sv]=Plasma datagränssnitt
Comment[zh_TW]=Plasma 資料引擎

[PropertyDef::X-EngineName]
Type=QString

