[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[be@latin]=Špalery „Plasma”
Comment[ca]=Paper pintat del Plasma
Comment[de]=Plasma-Hintergrundbild
Comment[el]=Ταπετσαρία plasma
Comment[es]=Fondo de escritorio para Plasma
Comment[gl]=Fondo de escritorio de Plasma
Comment[gu]=પ્લાઝમા વોલપેપર
Comment[he]=תמונת רקע של Plasma
Comment[hsb]=Tapeta za Plasma
Comment[is]=Plasma veggfóður
Comment[km]=ផ្ទាំង​រូបភាព​ប្លាស្មា
Comment[ml]=പ്ലാസ്മ ചുമര്‍ച്ചിത്രം
Comment[nb]=Plasma tapet
Comment[nds]=Plasma-Achtergrundbild
Comment[nl]=Plasma-bureaubladachtergrond
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do Plasma
Comment[sv]=Plasma skrivbordsunderlägg
Comment[tr]=Plasma duvar kağıdı
Comment[uk]=Тло стільниці Плазми
Comment[x-test]=xxPlasma wallpaperxx
Comment[zh_CN]=Plasma 壁纸
Comment[zh_TW]=Plasma 桌布

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

