[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[de]=Plasma-Miniprogramm
Comment[el]=Εφαρμογίδιο plasma
Comment[fa]=برنامک پلاسما
Comment[nds]=Plasma-Lüttprogramm
Comment[nl]=Plasma-applet
Comment[zh_TW]=Plasma 小程式

