[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PackageStructure
Comment=Plasma package structure definition
Comment[be@latin]=Aznačeńnie struktury pakunka „Plasma”
Comment[ca]=Definició de l'estructura d'un paquet Plasma
Comment[el]=Ορισμός δομής πακέτου του Plasma
Comment[es]=Definición de estructura de paquete para Plasma
Comment[gl]=Definición da estrutura do paquete de Plasma
Comment[gu]=પ્લાઝમા પેકેજ માળખાંની વ્યાખ્યા
Comment[he]=הגדרת מבנה של חבילת Plasma
Comment[hsb]=Strukturna definicija Plasma-pakćika
Comment[is]=Skilgreiningar Plasma pakkauppbyggingar
Comment[km]=កា​រកំណត់​រចនាសម្ព័ន្ធ​កញ្ចប់​របស់​ប្លាស្មា
Comment[ml]=പ്ലാസ്മ പാക്കേജ് സ്ട്രക്ചര്‍ ഡെഫനിഷന്‍
Comment[nb]=Definisjon av Plasma pakkestruktur
Comment[nds]=Paketstruktuur-Fastleggen vun Plasma
Comment[nl]=Structuurdefinitie van plasmapakket
Comment[pt]=Definição da estrutura de pacotes do Plasma
Comment[pt_BR]=Definição de estrutura de pacote do Plasma
Comment[sv]=Strukturdefinition av Plasma-paket
Comment[tr]=Plasma paketi yapı tanımlaması
Comment[uk]=Опис структури пакунка плазми
Comment[x-test]=xxPlasma package structure definitionxx
Comment[zh_CN]=Plasma 包结构定义
Comment[zh_TW]=Plasma 套件結構定義

[PropertyDef::X-Plasma-PackageFileFilter]
Type=QString

[PropertyDef::X-Plasma-PackageFileMimetypes]
Type=QStringList

[PropertyDef::X-Plasma-ProvidesWidgetBrowser]
Type=bool


