[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[ca]=Paper pintat del Plasma
Comment[de]=Plasma-Hintergrundbild
Comment[el]=Ταπετσαρία plasma
Comment[gl]=Fondo de escritorio de Plasma
Comment[gu]=પ્લાઝમા વોલપેપર
Comment[he]=תמונת רקע של Plasma
Comment[hsb]=Tapeta za Plasma
Comment[nb]=Plasma tapet
Comment[nds]=Plasma-Achtergrundbild
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do Plasma
Comment[sv]=Plasma skrivbordsunderlägg
Comment[tr]=Plasma duvar kağıdı
Comment[uk]=Тло стільниці Плазми
Comment[zh_TW]=Plasma 桌布

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

