[Desktop Entry]
Name=Test
Name[en_GB]=Test
Name[es]=Prueba
Name[et]=Test
Name[eu]=Proba
Name[hu]=Teszt
Name[ia]=Prova
Name[ku]=Bicaribîne
Name[nb]=Test
Name[nds]=Utproberen
Name[pt]=Teste
Name[pt_BR]=Teste
Name[se]=Geahččaleapmi
Name[sv]=Test
Name[th]=ทดสอบ
Name[uk]=Тест
Name[x-test]=xxTestxx
Name[zh_TW]=測試
Comment=A dummy plugin for testing
Comment[en_GB]=A dummy plugin for testing
Comment[es]=Un complemento de pruebas
Comment[et]=Libaplugin testimiseks
Comment[eu]=Probatarako gezurretazko plugin bat
Comment[hu]=Üres bővítmény teszteléshez
Comment[ia]=Un plugin vacue pro essayar
Comment[ku]=Pêvekekî hêsan ji bo ceribandinê
Comment[nb]=Et attrapp-programtillegg for testing
Comment[nds]=En Platzholler-Moduul för't Utproberen
Comment[pt]=Um 'plugin' de exemplo para testes
Comment[pt_BR]=Um plug-in fictício para testes
Comment[se]=Geahččalanlassemodula
Comment[sv]=Ett exempelinsticksprogram för test
Comment[th]=โปรแกรมเสริมเทียมสำหรับทดสอบ
Comment[uk]=Додаток для тестування
Comment[x-test]=xxA dummy plugin for testingxx
Comment[zh_TW]=測試用外掛程式
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_test
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true
