[Desktop Entry]
Name=Test
Name[af]=Toets
Name[ar]=اختبر
Name[as]=পৰীক্ষা কৰক
Name[be]=Праверыць
Name[be@latin]=Test
Name[bg]=Проба
Name[bn]=পরীক্ষা
Name[bn_IN]=পরীক্ষা
Name[br]=Arnodiñ
Name[ca]=Prova
Name[ca@valencia]=Prova
Name[cs]=Test
Name[csb]=Test
Name[cy]=Arbrofi
Name[da]=Test
Name[de]=Test
Name[el]=Δοκιμή
Name[en_GB]=Test
Name[eo]=Testo
Name[es]=Prueba
Name[et]=Test
Name[eu]=Froga
Name[fa]=آزمون
Name[fi]=Testi
Name[fr]=Test
Name[fy]=Test
Name[ga]=Tástáil
Name[gl]=Proba
Name[gu]=ચકાસણી
Name[he]=ניסיון
Name[hi]=जांच
Name[hne]=जांच
Name[hr]=Test
Name[hsb]=Test
Name[hu]=Próba
Name[id]=Tes
Name[is]=Prufa
Name[it]=Prova
Name[ja]=テスト
Name[ka]=ტესტი
Name[kk]=Сынау
Name[km]=សាកល្បង
Name[kn]=ಪರೀಕ್ಷಿಸು
Name[ko]=시험
Name[ku]=Test
Name[lt]=Testas
Name[lv]=Tests
Name[mai]=जाँच
Name[mk]=Тест
Name[ml]=പരീക്ഷണം
Name[mr]=चाचणी
Name[ms]=Uji
Name[nb]=Test
Name[nds]=Test
Name[ne]=परीक्षण
Name[nl]=Test
Name[nn]=Test
Name[oc]=Tèst
Name[or]=ପରୀକ୍ଷଣ
Name[pa]=ਟੈਸਟ
Name[pl]=Test
Name[pt]=Teste
Name[pt_BR]=Testar
Name[ro]=Test
Name[ru]=Тест
Name[se]=Geahččaleapmi
Name[si]=පරික්‍ෂණය
Name[sk]=Test
Name[sl]=Preizkus
Name[sr]=Проба
Name[sr@latin]=Proba
Name[sv]=Test
Name[ta]=சோதனை
Name[te]=పరీక్ష
Name[tg]=Санҷиш
Name[th]=ทดสอบ
Name[tr]=Test
Name[uk]=Тест
Name[uz]=Sinov
Name[uz@cyrillic]=Синов
Name[vi]=Thử
Name[wa]=Sayî
Name[xh]=Uvavanyo
Name[x-test]=xxTestxx
Name[zh_CN]=测试
Name[zh_TW]=測試
Comment=A dummy plugin for testing
Comment[et]=Libaplugin testimiseks
Comment[id]=Plugin rekaan untuk pengujian
Comment[nb]=Et attrapp-programtillegg for testing
Comment[nds]=En Platzholl-Moduul för't Utproberen
Comment[pt]=Um 'plugin' de exemplo para testes
Comment[pt_BR]=Um plug-in fictício para testes
Comment[sv]=Ett exempelinsticksprogram för test
Comment[tr]=Test için sahte bir eklenti
Comment[uk]=Додаток для тестування
Comment[x-test]=xxA dummy plugin for testingxx
Comment[zh_TW]=測試用外掛程式
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_test
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true
