[Desktop Entry]
Comment=
Keywords=
Name=hello world
Name[ar]=أهلًا يا عالم
Name[az]=Salam dünya
Name[bs]=zdravo raja
Name[ca]=hola món
Name[ca@valencia]=hola món
Name[cs]=Hello World
Name[da]=hej verden
Name[de]=Hallo Welt
Name[en_GB]=hello world
Name[es]=hola mundo
Name[et]=Tere, maailm
Name[eu]=Kaixo mundua
Name[fi]=Hei maailma
Name[fr]=Bonjour tout le monde
Name[gd]=Shin thu, a shaoghail
Name[gl]=Ola mundo
Name[hu]=helló, világ
Name[ia]=Salute mundo
Name[id]=halo dunia
Name[it]=ciao mondo
Name[ko]=hello world
Name[lt]=sveikas, pasauli
Name[lv]=sveika pasaule
Name[nb]=hallo verden
Name[nds]=Moin Welt
Name[nl]=hallo wereld
Name[nn]=hei, verda
Name[pl]=witaj świecie
Name[pt]=olá mundo
Name[pt_BR]=Olá mundo
Name[ro]=salut lume
Name[ru]=Здравствуй, мир!
Name[sk]=ahoj svet
Name[sl]=pozdravljen svet
Name[sr]=Здраво свете
Name[sr@ijekavian]=Здраво свете
Name[sr@ijekavianlatin]=Zdravo svete
Name[sr@latin]=Zdravo svete
Name[sv]=hello world
Name[ta]=வணக்கம், உலகமே
Name[tg]=Салом ҷаҳон
Name[tr]=Merhaba Dünya
Name[uk]=Привіт, світе
Name[vi]=chào thế giới
Name[x-test]=xxhello worldxx
Name[zh_CN]=hello world
Name[zh_TW]=hello world
Type=Service
Icon=package_toys
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.examples.compactrepresentation
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
