[Desktop Entry]
Name=script-mediaplayer
Name[gu]=સ્ક્રિપ્ટ-મીડિઆપ્લેયર
Name[is]=margmiðlunarspilara-skrifta
Name[mai]=स्क्रिप्ट मीडिया प्लेयर
Name[nds]=Afspeler-Skript
Name[nl]=script-mediaspeler
Name[ro]=script-lectormultimedia
Name[sv]=script-mediaspelare
Name[tr]=betik-çokluortam oynatıcı
Name[x-test]=xxscript-mediaplayerxx
Name[zh_CN]=脚本-媒体播放器

Comment=Javascript media player
Comment[ca]=Reproductor de suports en Javascript
Comment[ca@valencia]=Reproductor de suports en Javascript
Comment[da]=Medieafspiller i Javascript
Comment[de]=Javascript-Medienspieler
Comment[el]=Αναπαραγωγή πολυμέσων Javascript
Comment[et]=Javascripti meediamängija
Comment[fi]=Javascript-mediasoitin
Comment[fr]=Lecteur multimédia JavaScript
Comment[ga]=Seinnteoir meán JavaScript
Comment[gl]=Reprodutor multimedia escrito en Javascript
Comment[gu]=જાવાસ્ક્રિપ્ટ મિડીઆ પ્લેયર
Comment[is]=JavaScript margmiðlunarspilari
Comment[ja]=JavaScript のメディアプレーヤー
Comment[km]=កម្មវិធី​ចាក់មេឌៀ Javascript
Comment[ko]=자바스크립트 미디어 재생기
Comment[lv]=Javascript multivides atskaņotājs
Comment[mai]=जावास्क्रिप्ट मीडिया प्लेयर
Comment[ml]=ജാവാസ്ക്രിപ്റ്റ് മീഡിയാ പ്ലെയര്‍
Comment[nb]=Javascript mediaspiller
Comment[nds]=JavaScript-Afspeler
Comment[nl]=Mediaspeler in Javascript
Comment[nn]=Mediespelar i JavaScript
Comment[pl]=Odtwarzacz multimedialny w Javascript
Comment[pt]=Leitor multimédia em JavaScript
Comment[pt_BR]=Leitor de mídias em JavaScript
Comment[ro]=Lector multimedia Javascript
Comment[sl]=Večpredstavnostni predvajalnik v JavaScriptu
Comment[sv]=Javascript-mediaspelare
Comment[tr]=Javascript çokluortam oynatıcı
Comment[uk]=Програвач на JavaScript
Comment[x-test]=xxJavascript media playerxx
Comment[zh_CN]=JavaScript 媒体播放器
Comment[zh_TW]=Javascript 媒體播放器

Icon=applications-multimedia
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-DropMimeTypes=video/mpeg,video/quicktime,video/ogg,video/x-msvideo, audio/mpeg, audio/x-vorbis+ogg, audio/x-flac
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=script-mediaplayer
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
