[Desktop Entry]
Name=Declarative widget
Name[ast]=Elementu gráficu declarativu
Name[ca]=Estri declaratiu
Name[da]=Erklærende widget
Name[el]=Δηλωτικό συστατικό
Name[en_GB]=Declarative widget
Name[es]=Elemento gráfico declarativo
Name[et]=Deklaratiivne vidin
Name[eu]=Trepeta ezagutarazlea
Name[ia]=Widget declarative
Name[kk]=Мәлімдеме виджеті
Name[km]=ធាតុ​ក្រាហ្វិក​ដែល​ប្រកាស
Name[ko]=Declarative 위젯
Name[lt]=Deklaratyvus valdiklis
Name[nb]=Deklarativt skjermelement
Name[nds]=Stüerelement för Verkloren
Name[nl]=Widget voor declaratie
Name[pt]=Item declarativo
Name[pt_BR]=Widget declarativo
Name[sv]=Deklarativ grafisk komponent
Name[uk]=Декларативний віджет
Name[x-test]=xxDeclarative widgetxx
Name[zh_TW]=宣告元件
Comment=Native Plasma widget written in QML and JavaScript
Comment[ast]=Elementu gráficu nativu de Plasma escritu en QML y JavaScript
Comment[ca]=Estri nadiu del Plasma escrit en QML i JavaScript
Comment[da]=Hjemmehørende Plasma-widget skrevet i QML og JavaScript
Comment[de]=Echtes Plasma-Programm, geschrieben in QML und JavaScript
Comment[el]=Εγγενές συστατικό Plasma γραμμένο σε QML και JavaScript
Comment[en_GB]=Native Plasma widget written in QML and JavaScript
Comment[es]=Elemento gráfico nativo de Plasma escrito en QML y JavaScript
Comment[et]=QML-is ja JavaScriptis kirjutatud Plasma vidin
Comment[eu]=Plasma jatorrizko trepeta QML eta JavaScript-en idatzia
Comment[ia]=Widget native de Plasma scribite in QLM e JavaScript
Comment[ja]=QML と JavaScript で書かれた Plasma のネイティブウィジェット
Comment[kk]=QML мен JavaScript-те жазылған Plasma тума виджеті
Comment[km]=ធាតុ​ក្រាហ្វិក​ប្លា​ស្មា​ដើម ដែល​សរសេរ​ក្នុង JavaScript​
Comment[ko]=QML과 자바스크립트로 작성된 Plasma 위젯
Comment[lt]=Nuosavas Plasma valdiklis parašytas QML ir JavaScript kalba
Comment[nb]=Plasmaelement for dette systemet, skrevet i QML og JavaScript
Comment[nds]=En orginaal Plasmaelement, schreven in QML un JavaScript
Comment[nl]=Hier thuishorend Plasma-widget geschreven in QML en JavaScript
Comment[pt]=Elemento nativo do Plasma feito em QML e JavaScript
Comment[pt_BR]=Widget do Plasma nativo escrito em QML e JavaScript
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i QML och Javascript
Comment[th]=วิดเจ็ตพลาสมาแบบดั้งเดิมที่เขียนด้วย QML และจาวาสคริปต์
Comment[uk]=Віджет Плазми, написаний на QML та JavaScript
Comment[x-test]=xxNative Plasma widget written in QML and JavaScriptxx
Comment[zh_TW]=用 QML 與 JavaScript 寫的原始 Plasma 元件
Type=Service
Icon=text-x-script

X-KDE-ServiceTypes=Plasma/ScriptEngine
X-KDE-Library=plasma_appletscript_declarative
X-EngineName=declarativeappletscript
X-Plasma-API=declarativeappletscript
X-Plasma-ComponentTypes=Applet

X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=qmlscript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
