[Desktop Entry]
Name=Javascript Addon
Name[en_GB]=Javascript Addon
Name[es]=Complemento de JavaScript
Name[eu]=Javascript gehigarria
Name[nn]=JavaScript-tillegg
Name[pt]=Extensão de JavaScript
Name[pt_BR]=Complementos de JavaScript
Name[sv]=Javaskript-tillägg
Name[uk]=Додаток JavaScript
Name[x-test]=xxJavascript Addonxx
Comment=Addons for Javascript Plasma plugins
Comment[en_GB]=Addons for Javascript Plasma plugins
Comment[es]=Añadidos para complementos de JavaScript para Plasma
Comment[eu]=Javascript Plasma pluginentzako gehigarriak
Comment[nn]=Tillegg for JavaScript–Plasma-programtillegg
Comment[pt]=Extras para os 'plugins' do Plasma em JavaScript
Comment[pt_BR]=Complementos para os plug-ins do Plasma em JavaScript
Comment[sv]=Tillägg för Javascript Plasma-insticksprogram
Comment[uk]=Додатки для використання Javascript у Плазмі
Comment[x-test]=xxAddons for Javascript Plasma pluginsxx
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_javascriptaddon
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigh@kde.org
X-KDE-PluginInfo-Name=Plasma/JavascriptAddon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.plasmaaddon
X-Plasma-PackageFileMimetypes=application/zip

