[Desktop Entry]
Name=Plasma JavaScript Addon
Name[en_GB]=Plasma JavaScript Addon
Name[hr]=Dodatak JavaScripta Plasmi
Name[pt]=Extensão de JavaScript do Plasma
Name[pt_BR]=Adicional JavaScript do Plasma
Name[sv]=Plasma Javaskript-tillägg
Name[uk]=Додаток JavaScript до Плазми
Name[x-test]=xxPlasma JavaScript Addonxx
Type=ServiceType
X-KDE-ServiceType=Plasma/JavascriptAddon
Icon=plasma
