[Desktop Entry]
Name=Javascript Addon
Name[ast]=Complementu de JavaScript
Name[ca]=Complement del Javascript
Name[da]=JavaScript-tilføjelse
Name[de]=JavaScript-Erweiterung
Name[el]=Πρόσθετο Javascript
Name[en_GB]=Javascript Addon
Name[es]=Complemento de JavaScript
Name[et]=JavaScripti lisa
Name[eu]=Javascript gehigarria
Name[hi]=जावास्क्रिप्ट एडोन
Name[hr]=Dodadak za Javascript
Name[ia]=JavaScript Addon
Name[is]=JavaScript viðbót
Name[ja]=JavaScript アドオン
Name[kk]=Javascript қосымшасы
Name[km]=ផ្នែក​បន្ថែម Javascript
Name[ko]=자바스크립트 추가 기능
Name[lt]=Javascript priedas
Name[nb]=JavaScript-tillegg
Name[nds]=JavaScript-Verwiedern
Name[nl]=Addon voor JavaScript
Name[nn]=JavaScript-tillegg
Name[pa]=ਜਾਵਾ ਸਕ੍ਰਿਪਟ ਐਡ-ਆਨ
Name[pt]=Extensão de JavaScript
Name[pt_BR]=Complementos de JavaScript
Name[sv]=Javaskript-tillägg
Name[tr]=Javascript Eklentisi
Name[uk]=Додаток JavaScript
Name[x-test]=xxJavascript Addonxx
Name[zh_TW]=Javascript Addon
Comment=Addons for Javascript Plasma plugins
Comment[ast]=Amestaos pa complementos de JavaScript pa Plasma
Comment[ca]=Complements pels connectors Javascript del Plasma
Comment[da]=Tilføjelse til Plasma-plugins i JavaScript
Comment[de]=Erweiterungen für JavaScript-Module in Plasma
Comment[el]=Πρόσθετο για Plasma JavaScript
Comment[en_GB]=Addons for Javascript Plasma plugins
Comment[es]=Añadidos para complementos de JavaScript para Plasma
Comment[et]=JavaScripti Plasma pluginate lisad
Comment[eu]=Javascript Plasma pluginentzako gehigarriak
Comment[hr]=Dodaci za priključke za Javascript Plasma
Comment[ia]=Addons pro plugins de Plasma de javascript
Comment[ja]=JavaScript Plasma プラグイン用のアドオン
Comment[kk]=Javascript Plasma плагиніне қосымшасы
Comment[km]=កម្មវិធី​បន្ថែម​សម្រាប់​កម្មវិធី​ជំនួយ Javascript Plasma
Comment[ko]=자바스크립트 Plasma 플러그인을 위한 추가 기능
Comment[lt]=Javascript Plasma papildinio priedai
Comment[nb]=Tillegg for JavaSript Plasma-programtillegg
Comment[nds]=Verwiedern för Plasma sien JavaScript-Modulen
Comment[nl]=Addons voor Javascript Plasma plugins
Comment[nn]=Tillegg for JavaScript–Plasma-programtillegg
Comment[pt]=Extras para os 'plugins' do Plasma em JavaScript
Comment[pt_BR]=Complementos para os plug-ins do Plasma em JavaScript
Comment[sv]=Tillägg för Javascript Plasma-insticksprogram
Comment[uk]=Додатки для використання Javascript у Плазмі
Comment[x-test]=xxAddons for Javascript Plasma pluginsxx
Comment[zh_TW]=Javascript Plasma 外掛程式的 Addon
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_javascriptaddon
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigh@kde.org
X-KDE-PluginInfo-Name=Plasma/JavascriptAddon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.plasmaaddon
X-Plasma-PackageFileMimetypes=application/zip

