[Desktop Entry]
Name=Plasma JavaScript Addon
Name[ast]=Complementu de JavaScript pa Plasma
Name[bg]=Добавка за JavaScript на Plasma
Name[bs]=Plazma javaskriptni dodatak
Name[ca]=Complement del JavaScript pel Plasma
Name[ca@valencia]=Complement del JavaScript pel Plasma
Name[cs]=Doplněk Plasmy JavaScript
Name[da]=Plasma JavaScript-tilføjelse
Name[de]=JavaScript-Erweiterung für Plasma
Name[el]=Πρόσθετο Plasma JavaScript
Name[en_GB]=Plasma JavaScript Addon
Name[es]=Complemento de JavaScript para Plasma
Name[et]=Plasma JavaScripti lisa
Name[eu]=Plasma JavaScript gehigarria
Name[fi]=Plasma JavaScript -lisäosa
Name[fr]=Module complémentaire Javascript de Plasma
Name[he]=תוסף עבור JavaScript של Plasma
Name[hi]=प्लाज़मा जावा-स्क्रिप्ट एडोन
Name[hr]=Dodatak JavaScripta Plasmi
Name[hu]=Plazma JavaScript-bővítmény
Name[ia]=Plasma JavaScript Addon
Name[is]=Plasma JavaScript viðbót
Name[it]=Aggiunta per Java e JavaScript
Name[ja]=Plasma JavaScript アドオン
Name[kk]=Plasma JavaScript қосымшасы
Name[km]=ផ្នែក​បន្ថែម​ Plasma JavaScript
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್ ಆಡ್‌ಆನ್
Name[ko]=Plasma 자바스크립트 추가 기능
Name[lt]=Plasma JavaScript priedas
Name[nb]=Plasma JavaScript-tillegg
Name[nds]=JavaScript-Verwiedern för Plasma
Name[nl]=Addon voor Plasma JavaScript
Name[nn]=Plasma–JavaScript-tillegg
Name[pa]=ਪਲਾਜ਼ਮਾ ਜਾਵਾ ਸਕ੍ਰਿਪਟ ਐਡਆਨ
Name[pl]=Dodatek dla JavaScript
Name[pt]=Extensão de JavaScript do Plasma
Name[pt_BR]=Complementos de JavaScript do Plasma
Name[ro]=Supliment JavaScript Plasma
Name[ru]=Расширение Plasma, использующее JavaScript
Name[sk]=Doplnok JavaScript pre plasmu
Name[sl]=Dodatek za JavaScript za Plasmo
Name[sr]=Плазма јаваскриптни додатак
Name[sr@ijekavian]=Плазма јаваскриптни додатак
Name[sr@ijekavianlatin]=Plasma JavaScript dodatak
Name[sr@latin]=Plasma JavaScript dodatak
Name[sv]=Plasma Javaskript-tillägg
Name[tg]=Иловаҳои Plasma JavaScript
Name[th]=ส่วนเสริมจาวาและจาวาสคริปต์สำหรับพลาสมาส่วนเสริมจาวาและจาวาสคริปต์สำหรับ
Name[tr]=Plasma JavaScript Eklentisi
Name[ug]=Plasma JavaScript قوشۇلما
Name[uk]=Додаток JavaScript до Плазми
Name[wa]=Pacaedje di rawete Plasma JavaScript
Name[x-test]=xxPlasma JavaScript Addonxx
Name[zh_CN]=Plasma JavaScript 附加插件
Name[zh_TW]=Plasma JavaScript Addon
Type=ServiceType
X-KDE-ServiceType=Plasma/JavascriptAddon
Icon=plasma
