[Desktop Entry]
Name=Plasma JavaScript Addon
Name[en_GB]=Plasma JavaScript Addon
Name[es]=Complemento de JavaScript para Plasma
Name[et]=Plasma JavaScripti lisa
Name[eu]=Plasma JavaScript gehigarria
Name[hr]=Dodatak JavaScripta Plasmi
Name[ia]=Plasma JavaScript Addon
Name[ja]=Plasma JavaScript アドオン
Name[ko]=Plasma 자바스크립트 추가 기능
Name[nb]=Plasma JavaScript-tillegg
Name[nds]=JavaScript-Verwiedern för Plasma
Name[nl]=Addon voor Plasma JavaScript
Name[nn]=Plasma–JavaScript-tillegg
Name[pa]=ਪਲਾਜ਼ਮਾ ਜਾਵਾ ਸਕ੍ਰਿਪਟ ਐਡਆਨ
Name[pt]=Extensão de JavaScript do Plasma
Name[pt_BR]=Complementos de JavaScript do Plasma
Name[sv]=Plasma Javaskript-tillägg
Name[tg]=Иловаҳои Plasma JavaScript
Name[tr]=Plasma JavaScript Eklentisi
Name[uk]=Додаток JavaScript до Плазми
Name[x-test]=xxPlasma JavaScript Addonxx
Name[zh_TW]=Plasma JavaScript Addon
Type=ServiceType
X-KDE-ServiceType=Plasma/JavascriptAddon
Icon=plasma
