[Desktop Entry]
Name=Declarative widget
Name[es]=Elemento gráfico declarativo
Name[pt]=Item declarativo
Name[pt_BR]=Widget declarativo
Name[sv]=Deklarativ grafisk komponent
Name[uk]=Декларативний віджет
Name[x-test]=xxDeclarative widgetxx
Comment=Native Plasma widget written in QML and JavaScript
Comment[es]=Elemento gráfico nativo de Plasma escrito en QML y JavaScript
Comment[pt]=Elemento nativo do Plasma feito em QML e JavaScript
Comment[pt_BR]=Widget do Plasma nativo escrito em QML e JavaScript
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i QML och Javascript
Comment[uk]=Віджет Плазми, написаний на QML та JavaScript
Comment[x-test]=xxNative Plasma widget written in QML and JavaScriptxx
Type=Service
Icon=text-x-script

X-KDE-ServiceTypes=Plasma/ScriptEngine
X-KDE-Library=plasma_appletscript_declarative
X-EngineName=declarativeappletscript
X-Plasma-API=declarativeappletscript
X-Plasma-ComponentTypes=Applet

X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=qmlscript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
