[Desktop Entry]
Encoding=UTF-8
Name=Oxygen
Name[csb]=Krziseń
Name[kk]=Оттегі
Name[km]=អុកស៊ីហ្សែន
Name[ne]=अक्सिजन
Name[pa]=ਆਕਸੀਜਨ
Name[sl]=Kisik
Name[wa]=Ocsidjinne
Comment=Theme done in the Oxygen style
Comment[bg]=Тема в стил "Oxygen"
Comment[de]=Oberflächen-Design im Oxygen-Stil
Comment[el]=Το θέμα δημιουργήθηκε στο στυλ Oxygen
Comment[es]=Tema realizado con el estilo Oxygen
Comment[fa]=چهره در سبک اکسیژن انجام شد
Comment[ga]=Téama sa stíl Oxygen
Comment[he]=ערכת נושא שמשתמשת בסגנון Oxygen
Comment[ja]=Oxygen スタイルのテーマ
Comment[kk]=Oxygen стилінде жасалған нақыш
Comment[km]=ស្បែក​បាន​ធ្វើ​រួច​នៅ​ក្នុង​រចនាប័ទ្ម​អុកស៊ីសែន​
Comment[nb]=Drakt laget i Oxygen-stil
Comment[nds]=Muster in den Oxygen-Stil
Comment[ne]=अक्सिजन शैलीमा गरिएको विषयवस्तु
Comment[nl]=Thema in Oxygen-stijl
Comment[pa]=ਥੀਮ ਆਕਸੀਜਨ ਸਟਾਇਲ 'ਚ
Comment[pt]=Um tema feito com o estilo Oxygen
Comment[pt_BR]=Tema criado no estilo Oxygen
Comment[sv]=Tema skapat med Oxygen-stilen
Comment[vi]=Sắc thái kiểu Oxygen
Comment[zh_CN]=Oxygen 风格的主题
Comment[zh_TW]=以 Oxygen 樣式完成的外觀主題

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
