[Desktop Entry]
Name=Ruby Widget
Comment=Native Plasma widget written in Ruby
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=krubypluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_ruby/data_engine.rb
X-EngineName=ruby-dataengine-script
X-Plasma-API=ruby-script
X-Plasma-ComponentTypes=DataEngine
