[Desktop Entry]
Name=Example window thumbnails list
Name[az]=Pəncərə miniatür nümunəsi siyahısı
Name[bs]=Primjer prozor liste sličica
Name[ca]=Exemple de llista de miniatures de les finestres
Name[ca@valencia]=Exemple de llista de miniatures de les finestres
Name[da]=Eksempel på miniatureliste over vinduer
Name[de]=Beispiel einer Liste mit Fenstervorschaubilden
Name[en_GB]=Example window thumbnails list
Name[es]=Ejemplo de lista de miniaturas de ventanas
Name[et]=Akende pisipiltide loendi näidis
Name[eu]=Leihoen koadro-txikien zerrenda adibidea
Name[fi]=Esimerkki ikkunoiden pikkukuvien luettelosta
Name[fr]=Exemple de liste de vignettes de fenêtres
Name[gd]=Ball-eisimpleir le liosta de dhealbhagan uinneige
Name[gl]=Exemplo de lista de miniaturas de xanelas
Name[hu]=Ablakbélyegképek lista - példa
Name[ia]=Lista de miniaturas de fenestra de exemplo
Name[id]=Contoh daftar gambar-mini window
Name[it]=Esempio di elenco di miniature delle finestre
Name[ko]=창 축소판 목록 예제
Name[nb]=Eksempelliste over vindus-småbilder
Name[nds]=Bispill-Finstervöransichten-List
Name[nl]=Voorbeeld van lijst met miniaturen van vensters
Name[nn]=Eksempel på list med vindaugsminiatyrbilete
Name[pl]=Przykładowe wykazem miniatur okien
Name[pt]=Lista de miniaturas das janelas de exemplo
Name[pt_BR]=Lista de miniaturas das janelas de exemplo
Name[ro]=Listă exemplificativă de miniaturi ferestre
Name[ru]=Пример списка окон с миниатюрами
Name[sk]=Ukážkové okno so zoznamom miniatúr
Name[sl]=Primer seznama sličic oken
Name[sr]=Пример прозорске листе сличица
Name[sr@ijekavian]=Пример прозорске листе сличица
Name[sr@ijekavianlatin]=Primer prozorske liste sličica
Name[sr@latin]=Primer prozorske liste sličica
Name[sv]=Exempel på miniatyrbilder av fönster
Name[tg]=Мисоли равзана бо рӯйхати ангорадор
Name[tr]=Örnek pencere küçük resim listesi
Name[uk]=Приклад списку мініатюр вікон
Name[vi]=Danh sách ví dụ các hình nhỏ của cửa sổ
Name[x-test]=xxExample window thumbnails listxx
Name[zh_CN]=窗口缩略图列表示例
Name[zh_TW]=視窗縮圖列表的範例
Comment=Example showing how to display window thumbnails
Comment[az]=Pəncərə miniatürlərinin necə göstəriləcəyinə nümunə
Comment[bs]=Primjer prikazuje kako prikazati prozor sličica
Comment[ca]=Exemple que mostra com visualitzar miniatures de les finestres
Comment[ca@valencia]=Exemple que mostra com visualitzar miniatures de les finestres
Comment[da]=Eksempel som viser, hvordan vinduesminiaturer vises
Comment[de]=Beispiel zur Anzeige einer Liste mit Fenstervorschaubilden
Comment[en_GB]=Example showing how to display window thumbnails
Comment[es]=Ejemplo que muestra cómo mostrar miniaturas de ventanas
Comment[et]=Näidis, kuidas kuvada akende pisipilte
Comment[eu]=Leihoen koadro-txikiak nola bistaratu erakusten duen adibidea
Comment[fi]=Esimerkki ikkunoiden pikkukuvien näyttämisestä
Comment[fr]=Exemple montrant comment afficher des vignettes de fenêtres
Comment[gd]=Eisimpleir a sheallas dhut mar a nochdas tu dealbhagan uinneagan
Comment[gl]=Un exemplo que como mostrar miniaturas de xanelas
Comment[hu]=Példa ablakok bélyegképeinek megjelenítésére
Comment[ia]=Exemplo monstrante como monstrar miniaturas de fenestra
Comment[id]=Menampilkan contoh bagaimana untuk menampilkan gambar-mini window
Comment[it]=Esempio che mostra come visualizzare le miniature delle finestre
Comment[ko]=창 축소판을 보여 주는 방법 예제
Comment[nb]=Eksempel som viser hvordan vindus-småbildevisning lages
Comment[nds]=En Bispill, dat wiest, wodennig sik Finstervöransichten dorstellen laat
Comment[nl]=Voorbeeld van hoe miniaturen van vensters te tonen
Comment[nn]=Eksempel som viser korleis visa miniatyrbilete av vindauge
Comment[pl]=Przykład pokazujący sposób wyświetlania miniatur okien
Comment[pt]=Exemplo que demonstra como apresentar miniaturas das janelas
Comment[pt_BR]=Exemplo que demostra como apresentar as miniaturas das janelas
Comment[ro]=Exemplu ce arată cum să afișați miniaturile ferestrelor
Comment[ru]=Демонстрация отрисовки миниатюр окон
Comment[sk]=Ukážka zobrazujúca ako zobraziť miniatúry okna
Comment[sl]=Primer kako prikazati sličice oken
Comment[sr]=Пример за приказивање прозорских сличица
Comment[sr@ijekavian]=Пример за приказивање прозорских сличица
Comment[sr@ijekavianlatin]=Primer za prikazivanje prozorskih sličica
Comment[sr@latin]=Primer za prikazivanje prozorskih sličica
Comment[sv]=Exempel som visar hur miniatyrbilder av fönster visas
Comment[tg]=Мисоли тарзи намоиши ангораҳои равзана
Comment[tr]=Pencere küçük resim listesinin nasıl görüntüleneceğini gösteren örnek
Comment[uk]=Приклад, який демонструє показ мініатюр вікон
Comment[vi]=Ví dụ cho thấy cách hiển thị hình nhỏ của cửa sổ
Comment[x-test]=xxExample showing how to display window thumbnailsxx
Comment[zh_CN]=窗口缩略图显示示例
Comment[zh_TW]=顯示視窗縮圖的範例
Icon=preferences-system-windows
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.windowthumbnails
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
