[Desktop Entry]
Name=Example window thumbnails list
Name[bs]=Primjer prozor liste sličica
Name[de]=Beispiel einer Liste mit Fenstervorschaubilden
Name[fi]=Esimerkki ikkunoiden pienoiskuvaluettelosta
Name[nl]=Voorbeeld van lijst met miniaturen van vensters
Name[pl]=Przykładowe wykazem miniatur okien
Name[pt]=Lista de miniaturas das janelas de exemplo
Name[pt_BR]=Lista de miniaturas das janelas de exemplo
Name[sk]=Ukážkové okno so zoznamom miniatúr
Name[sv]=Exempel på miniatyrbilder av fönster
Name[uk]=Приклад списку мініатюр вікон
Name[x-test]=xxExample window thumbnails listxx
Comment=Example showing how to display window thumbnails
Comment[bs]=Primjer prikazuje kako prikazati prozor sličica
Comment[de]=Beispiel zur Anzeige einer Liste mit Fenstervorschaubilden
Comment[fi]=Esimerkki, joka näyttää, miten näyttää ikkunoiden pienoiskuvat
Comment[nl]=Voorbeeld van hoe miniaturen van vensters te tonen
Comment[pl]=Przykład pokazujący sposób wyświetlania miniatur okien
Comment[pt]=Exemplo que demonstra como apresentar miniaturas das janelas
Comment[pt_BR]=Exemplo que demostra como apresentar as miniaturas das janelas
Comment[sk]=Ukážka zobrazujúca ako zobraziť miniatúry okna
Comment[sv]=Exempel som visar hur miniatyrbilder av fönster visas
Comment[uk]=Приклад, який демонструє показ мініатюр вікон
Comment[x-test]=xxExample showing how to display window thumbnailsxx
Icon=preferences-system-windows
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.windowthumbnails
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
