[Desktop Entry]
Name=Package metadata test file
Name[ar]=ملف اختبار بيانات الحزمة الوصفية
Name[bs]=Test datoteka paketa metapodataka
Name[ca]=Fitxer de proves per a les metadades del paquet
Name[de]=Testdatei für Paket-Metadaten
Name[en_GB]=Package metadata test file
Name[es]=Archivo de pruebas de metadatos de paquete
Name[fi]=Pakettimetatietojen testitiedosto
Name[gl]=Ficheiro de proba de metadatos de paquete
Name[hu]=Tesztfájl csomagok metaadatához
Name[ia]=File de prova del pacchetto metadata
Name[mr]=पॅकेज मेटाडेटा चाचणी फाईल
Name[nds]=Paketmetadaten-Testdatei
Name[nl]=Testbestand voor pakketmetadata
Name[pa]=ਪੈਕੇਜ ਮੇਟਾਡਾਟਾ ਟੈਸਟ ਫਾਈਲ
Name[pl]=Plik próbny pakietu metadanych
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Arquivo de teste dos metadados do pacote
Name[sk]=Testovací súbor metadát balíčku
Name[sl]=Preizkusna datoteka metapodatkov paketa
Name[sr]=Пробни фајл метаподатака пакета
Name[sr@ijekavian]=Пробни фајл метаподатака пакета
Name[sr@ijekavianlatin]=Probni fajl metapodataka paketa
Name[sr@latin]=Probni fajl metapodataka paketa
Name[sv]=Testfil för paketmetadata
Name[tr]=Paket metadata test dosyası
Name[ug]=بوغچا مېتا سانلىق-مەلۇمات سىناق ھۆججەت
Name[uk]=Файл перевірки метаданих пакунка
Name[x-test]=xxPackage metadata test filexx
Name[zh_CN]=工具包元数据测试文件
Name[zh_TW]=套件中繼資料測試檔
Comment=A test desktop file to test the PackageMetaData class.
Comment[ar]=ملف سطح مكتب اختباري لاختبار صنف بيانات الحزمة الوصفية (PackageMetaData).
Comment[bs]=Probna .desktop datoteka za klasu PackageMetaData.
Comment[ca]=Un fitxer d'escriptori de proves per provar la classe «PackageMetaData».
Comment[de]=Eine Test-Desktop-Datei zum Testen der Klasse „PackageMetaData“.
Comment[en_GB]=A test desktop file to test the PackageMetaData class.
Comment[es]=Un archivo de escritorio para probar la clase PackageMetaData.
Comment[fi]=Kokeellinen desktop-tiedosto PackageMetaData-luokan testaamiseen.
Comment[gl]=Un ficheiro de escritorio de proba para probar a clase PackageMetaData.
Comment[hu]=Teszt .desktop fájl a PackageMetaData osztály teszteléséhez.
Comment[ia]=Un file de prova del scriptorio pro provar le classe PackageMetaData.
Comment[mr]=पॅकेज मेटाडेटा वर्ग चाचणीसाठी चाचणी डेस्कटॉप फाईल.
Comment[nds]=En Test-Schriefdischdatei för't Utproberen vun de Klass „PackageMetaData“.
Comment[nl]=Een desktop-bestand voor het testen van de PackageMetaData-klasse.
Comment[pa]=PackageMetaData ਕਲਾਸ ਟੈਸਟ ਕਰਨ ਲਈ ਟੈਸਟ ਡੈਸਕਟਾਪ ਫਾਈਲ
Comment[pl]=Plik próbny desktop do wypróbowania klasy PackageMetaData.
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um arquivo desktop de testes para a classe PackageMetaData.
Comment[sk]=Testovací súbor plochy na testovanie triedy PackageMetaData.
Comment[sl]=Preizkusna namizna datoteka za preizkus razreda PackageMetaData.
Comment[sr]=Пробни .десктоп фајл за класу PackageMetaData.
Comment[sr@ijekavian]=Пробни .десктоп фајл за класу PackageMetaData.
Comment[sr@ijekavianlatin]=Probni .desktop fajl za klasu PackageMetaData.
Comment[sr@latin]=Probni .desktop fajl za klasu PackageMetaData.
Comment[sv]=En skrivbordsfil för att testa klassen PackageMetaData.
Comment[tr]=PackageMetaData sınıfını test etmek için bir desktop dosyası.
Comment[ug]=PackageMetaData خىلىدىكى سىناشقا ئىشلىتىدىغان desktop تىپىدىكى ھۆججەت.
Comment[uk]=Тестовий стільничний файл для перевірки класу PackageMetaData.
Comment[x-test]=xxA test desktop file to test the PackageMetaData class.xx
Comment[zh_CN]=用于测试 PackageMetaData 类的 desktop 类型文件。
Comment[zh_TW]=測試 PackageMetaData 類別的桌面檔

Icon=test
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ParentApp=A Test name
