[Desktop Entry]
Encoding=UTF-8
Name=Widgets gallery
Name[bs]=galerija dodataka
Name[de]=Miniprogramm-Galerie
Name[fi]=Käyttöliittymäelementtien galleria
Name[fr]=Galerie de composants graphiques
Name[nl]=Galerij van widgets
Name[pl]=Galeria elementów interfejsu
Name[pt]=Galeria de elementos
Name[pt_BR]=Galeria de widgets
Name[sk]=Galéria widgetov
Name[sv]=Grafiskt komponentgalleri
Name[uk]=Галерея віджетів
Name[x-test]=xxWidgets galleryxx
Comment=gallery of widgets done with Plasma QtComponents
Comment[bs]=galerija dodataka urađena sa plazma Qt komponentama
Comment[de]=Galerie von Miniprogrammen, die mit Plasma QtComponents erstellt wurden
Comment[fi]=Galleria Plasma QtComponentsilla tehdyistä käyttöliittymäelementeistä
Comment[fr]=Galerie de composants graphiques réalisés avec les QtComponents de Plasma
Comment[nl]=galerij van widgets gemaakt met Plasma QtComponents
Comment[pl]=galeria elementów interfejsu wykonana w QtComponents Plazmy
Comment[pt]=Uma galeria de elementos gráficos feita com o QtComponents do Plasma
Comment[pt_BR]=Galeria de widgets gráficos feita com o QtComponents do Plasma
Comment[sk]=Galéria widgetov vytvorených pomocou Plasma QtComponents
Comment[sv]=galleri av grafiska komponenter skapade med Plasma Qt-komponenter
Comment[uk]=Галерея віджетів, створених за допомогою QtComponent-ів Плазми
Comment[x-test]=xxgallery of widgets done with Plasma QtComponentsxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=preferences-desktop-theme
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco MArtin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.example.widgetgallery
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
