[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Config Test Package
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Joe Blow
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=jblow@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.configtestpackage
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript
