[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidBluetoothManager

Comment=Bluetooth Management Backend
Comment[af]=Bluetooth-beheer agtergrondprogram
Comment[be]=Кіраванне Bluetooth
Comment[be@latin]=Кіраванне Bluetooth
Comment[bg]=Заден слой за управление на Bluetooth
Comment[ca]=Dorsal de gestió de bluetooth
Comment[da]=Håndteringsmotor for Bluetooth
Comment[de]=Backend zur Bluetooth-Verwaltung
Comment[el]=Σύστημα διαχείρισης Bluetooth
Comment[eo]=Bluetooth-administra plenumilo
Comment[es]=Motor de gestión de Bluetooth
Comment[et]=Bluetoothi haldamise taustaprogramm
Comment[eu]=Bluetooth kudeatzeko interfazea
Comment[fa]=پایانۀ پشتیبانی مدیریت بلوتوث
Comment[fi]=Bluetooth-hallinnan taustaosa
Comment[fr]=Interface de gestion Bluetooth
Comment[fy]=Bluetooth behear backend
Comment[ga]=Inneall Bainisteoireachta Bluetooth
Comment[gl]=Infraestrutura de xestión de Bluetooth
Comment[gu]=બ્લ્યુટૂથ વ્યવસ્થાપક બેકએન્ડ
Comment[he]=ממשק ניהול Bluetooth
Comment[hi]=ब्लूटूथ प्रबंधन बैकएण्ड
Comment[hu]=Bluetooth-kezelő modul
Comment[is]=Blátannarstýringarkerfi
Comment[it]=Backend per la gestione di Blutooth
Comment[ja]=Bluetooth 管理のバックエンド
Comment[kk]=Bluetooth басқару тетігі
Comment[km]=ការ​គ្រប់គ្រង​ប៊្លូធូស​​កម្មវិធី​ខាង​ក្រោយ
Comment[kn]=ಬ್ಲೂಟೂತ್ ಹಿನ್ನೆಲೆ (ಬಾಕೆ ಎಂಡ್) ವ್ಯವಸ್ಥಾಪನೆ
Comment[ko]=블루투스 관리 백엔드
Comment[lt]=Bluetooth tvarkymo programinė sąsaja
Comment[lv]=Bluetooth pārvaldības aizmugure
Comment[ml]=ബ്ലൂടൂത് മാനേജ്മെന്റ് ബാക്കെന്‍ഡ്
Comment[mr]=ब्लूटूथ व्यवस्थापन बैकएण्ड
Comment[nb]=Bakgrunnsmotor for Bluetooth-styring
Comment[nds]=Hülprogramm för den Bluetooth-Pleger
Comment[ne]=ब्लुटुथ व्यवस्थापन ब्याकइन्ड
Comment[nl]=Bluetooth-beheer backend
Comment[nn]=Motor for Bluetooth-handtering
Comment[pa]=ਬਲਿਊਟੁੱਥ ਮੈਨਿਜਮੈਂਟ ਬੈਕਐਂਡ
Comment[pl]=Usługa zarządzania połączeniami Bluetooth
Comment[pt]=Infra-Estrutura de Gestão do Bluetooth
Comment[pt_BR]=Infra-estrutura do Gerenciamento de Bluetooth
Comment[ro]=Suport pentru administrare bluetooth
Comment[ru]=Модуль управления протоколом Bluetooth
Comment[se]=Bluetooth-gieđahallanmohtor
Comment[sl]=Hrbtenica za upravljanje z Bluetooth
Comment[sr]=Позадина за управљање блутутом
Comment[sr@latin]=Pozadina za upravljanje Bluetoothom
Comment[sv]=Blåtandshanteringsgränssnitt
Comment[te]=బ్లూటూత్ నిర్వహణా బ్యాక్ఎండ్
Comment[tg]=Пуштибонии идоракунии Bluetooth
Comment[th]=โปรแกรมเบื้องหลังการจัดการบลูทูธ
Comment[tr]=Bluetooth Yönetimi Arka Ucu
Comment[uk]=Програма керування Bluetooth
Comment[vi]=Hậu phương quản lý kỹ thuật Bluetooth
Comment[wa]=Bouye di fond di manaedjmint Bluetooth
Comment[x-test]=xxBluetooth Management Backendxx
Comment[zh_CN]=蓝牙管理后端
Comment[zh_TW]=藍芽管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

