[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Non-Unique Native Applet
Name[nds]=Nich eensoortet echt Lüttprogramm
Name[sv]=Icke-unikt inbyggt miniprogram
Name[x-test]=xxNon-Unique Native Appletxx
Name[zh_TW]=非唯一原始小程式
Comment=A natively compiled applet
Comment[nds]=En normaal kompileert Lüttprogramm
Comment[sv]=Ett inkompilerat miniprogram
Comment[x-test]=xxA natively compiled appletxx
Comment[zh_TW]=原始編譯小程式
Icon=native

X-KDE-Library=plasma_applet_native
X-KDE-UniqueApplet=false
