[Desktop Entry]
Name=Package metadata test file
Name[nds]=Paketmetadaten-Testdatei
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Ficheiro de testes de meta-dados dos pacotes
Name[zh_CN]=打包元数据测试文件
Comment=A test desktop file to test the PackageMetaData class.
Comment[nds]=Schriefdisch-Datei för't Utproberen vun de PackageMetaData-Klass
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[zh_CN]=一个用来测试 PackageMetaData 类的测试桌面文件。

Icon=test
Type=Service
ServiceTypes=Plasma/Applet

Description=Some fancy test description
Description[nds]=Jichtenseen smuck Testbeschrieven
Description[pt]=Uma descrição de teste bonita
Description[pt_BR]=Uma descrição de teste bonita
Description[zh_CN]=一些精美的测试描述

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-Plasmagik-RequiredVersion=1.2.3
X-KDE-Plasmagik-ApplicationName=A Test name
X-KDE-Plasmagik-MainFile=Main file

X-PlasmoidCategory=System Information
