[Desktop Entry]
Name=Package metadata test file
Name[el]=Δοκιμαστικό αρχείο μεταδεδομένων του πακέτου
Name[nds]=Paketmetadaten-Testdatei
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Ficheiro de testes de meta-dados dos pacotes
Name[sv]=Testfil för paketmetadata
Name[uk]=Файл перевірки метаданих пакунка
Name[zh_TW]=套件中繼資料測試檔
Comment=A test desktop file to test the PackageMetaData class.
Comment[el]=Ένα δοκιμαστικό αρχείο desktop για τον έλεγχο τς κλάσης PackageMetaData.
Comment[nds]=En Test-Schriefdischdatei för't Utproberen vun de Klass "PackageMetaData".
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[sv]=En skrivbordsfil för att testa klassen PackageMetaData.
Comment[uk]=Тестовий стільничний файл для перевірки класу PackageMetaData.
Comment[zh_TW]=測試 PackageMetaData 類別的桌面檔

Icon=test
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-Plasmagik-RequiredVersion=1.2.3
X-KDE-Plasmagik-ApplicationName=A Test name
X-KDE-Plasmagik-MainFile=Main file

X-PlasmoidCategory=System Information
