[Desktop Entry]
Name=Package metadata test file
Name[ar]=ملف اختبار البيانات الوصفية للحزمة
Name[as]=সৰঞ্জাম মিটাডাটাৰ পৰীক্ষাৰ নথিপত্ৰ
Name[be@latin]=Fajł spraŭdžvańnia metaźviestak pakunka
Name[ca]=Fitxer de proves de metadades de paquet
Name[de]=Testdatei für Paket-Metadaten
Name[el]=Δοκιμαστικό αρχείο μεταδεδομένων του πακέτου
Name[es]=Archivo de pruebas de metadatos de paquete
Name[et]=Plasma metaandmete testfail
Name[eu]=Paketeen metadatuen proba fitxategia
Name[fr]=Fichier de test des métadonnées de paquetage
Name[gl]=Ficheiro de proba de metadatos de paquete
Name[gu]=પેકેજ મેટાડેટા ચકાસણી ફાઇલ
Name[he]=חבילת בדיקה של מטה־מידע
Name[hsb]=Testowa dataja za metadata pakćika
Name[is]=Package metagagna prófunarskrá
Name[km]=ឯកសារ​សាកល្បង​ទិន្នន័យ​មេតា​កញ្ចប់
Name[ko]=패키지 메타데이터 테스트 파일
Name[ku]=Pela ceribandinê ya serdana yê pakêtê 
Name[lv]=Pakotņu metadatu testa fails
Name[mai]=संकुलक मेटाडाटा जाँचि फाइल
Name[ml]=പാക്കേജ് മെറ്റാഡാറ്റാ പരിശോധനാ ഫയല്‍
Name[nb]=Testfil for Package metadata
Name[nds]=Paketmetadaten-Testdatei
Name[nl]=Testbestand voor pakketmetadata
Name[nn]=Testfil for pakkemetadata
Name[pa]=ਪੈਕੇਜ ਮੇਟਾਡਾਟਾ ਟੈਸਟ ਫਾਇਲ
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Arquivo de teste dos metadados do pacote
Name[ro]=Fișier de testat metadatele pachetelor
Name[ru]=Тестовый файл пакета с метаданными 
Name[sk]=Balík metadát testovacieho súboru
Name[sl]=Datoteka za test metapodatkov paketa
Name[sv]=Testfil för paketmetadata
Name[tg]=Файли санҷишии стсетмаи metadata
Name[th]=แฟ้มทดสอบข้อมูลกำกับแพกเกจ
Name[tr]=Paket metadata test dosyası
Name[uk]=Файл перевірки метаданих пакунка
Name[x-test]=xxPackage metadata test filexx
Name[zh_CN]=工具包元数据测试文件
Name[zh_TW]=套件中繼資料測試檔
Comment=A test desktop file to test the PackageMetaData class.
Comment[ar]=ملف اختبار سطح المكتب لختبار صف  PackageMetaData
Comment[as]=PackageMetaData class পৰীক্ষা কৰিবলৈ এটা ডেষ্কট'প পৰীক্ষাৰ নথিপত্ৰ ।
Comment[be@latin]=Testavy fajł rabočaha stała dla spraŭdžvańnia klasy „PackageMetaData”.
Comment[ca]=Un fitxer d'escriptori de proves per provar la classe PackageMetaData.
Comment[de]=Eine Test-Desktop-Datei zum Testen der Klasse PackageMetaData.
Comment[el]=Ένα δοκιμαστικό αρχείο desktop για τον έλεγχο τς κλάσης PackageMetaData.
Comment[es]=Un archivo de escritorio para probar la clase PackageMetaData.
Comment[et]=Testtöölauafail klassi PackageMetaData testimiseks.
Comment[eu]=PackageMetaData klasea probatzeko probako mahaigain fitxategia.
Comment[fr]=Un fichier de bureau de démonstration pour tester la classe PackageMetaData.
Comment[gl]=Un ficheiro de escritorio de proba para probar a clase PackageMetaData.
Comment[gu]=પેકેજમેટાડેટા વર્ગ ચકાસવા માટે ચકાસણી ડેસ્કટોપ ફાઇલ.
Comment[he]=קובץ desktop לבדיקה של מחלקה PackageMetaData.
Comment[hsb]=Testowa dataja za dźěłowy powjerch za testowanje klasy PackageMetaData.
Comment[is]=Skjáborðsskrá til prófunar á PackageMetaData class
Comment[km]=ឯកសារ​ផ្ទៃតុ​សាកល្បង​ ដើម្បី​សាកល្បង​ថ្នាក់​របស់ PackageMetaData ។
Comment[ko]=PackageMetaData 클래스를 테스트하는 데스크톱 파일.
Comment[ku]=Pela ceribandina sermasê ku beşên SerDanayêPakêtê diceribîne.
Comment[lv]=Testa .dekstop fails lai pārbaudītu PackageMetaData klasi.
Comment[mai]=PackageMetaData वर्गक जाँचबाक लेल एकटा जाँचि डेस्कटाप फाइल.
Comment[ml]=പാക്കേജ്മെറ്റാഡാറ്റാ ക്ലാസ് പരിശോധിയ്ക്കാനുള്ള പരിശോധനാ പണിയിട ഫയല്‍.
Comment[nb]=En skrivebordsfil med testdata for klassen PackageMetaData.
Comment[nds]=En Test-Schriefdischdatei för't Utproberen vun de Klass "PackageMetaData".
Comment[nl]=Een desktop-bestand voor het testen van de PackageMetaData-klasse.
Comment[nn]=Ei .desktop-fil for testing av PackageMetaData-klassen.
Comment[pa]=PackageMetaData ਕਲਾਸ ਟੈਸਟ ਕਰਨ ਲਈ ਟੈਸਟ ਡੈਸਕਟਾਪ ਫਾਇਲ
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um arquivo desktop de testes para a classe PackageMetaData.
Comment[ro]=Un fișier de probă pentru a verifica clasa PackageMetadata.
Comment[ru]=Тестовый файл .desktop для проверки класса PackageMetaData
Comment[sk]=Testovací súbor na ploche na testovanie PackageMetaData triedy.
Comment[sl]=Namizna datoteka za test razreda PackageMetaData.
Comment[sv]=En skrivbordsfil för att testa klassen PackageMetaData.
Comment[tg]=Файли санҷишии мизи корӣ барои санҷиши системаи PackageMetaData.
Comment[th]=แฟ้มทดสอบพื้นที่ทำงาน สำหรับทดสอบคลาส PackageMetaData
Comment[tr]=PackageMetaData sınıfını test etmek için bir desktop dosyası.
Comment[uk]=Тестовий стільничний файл для перевірки класу PackageMetaData.
Comment[x-test]=xxA test desktop file to test the PackageMetaData class.xx
Comment[zh_CN]=用于测试 PackageMetaData 类的 desktop 类型文件。
Comment[zh_TW]=測試 PackageMetaData 類別的桌面檔

Icon=test
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-Plasmagik-RequiredVersion=1.2.3
X-KDE-Plasmagik-ApplicationName=A Test name
X-KDE-Plasmagik-MainFile=Main file

X-PlasmoidCategory=System Information
