[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Unique Javascript Applet
Name[nds]=Eensoortet JavaScript-Lüttprogramm
Name[x-test]=xxUnique Javascript Appletxx
Name[zh_TW]=獨一的 Javascript 小程式
Comment=An applet written in JavaScript
Comment[de]=Eine in JavaScript geschriebene Anwendung
Comment[nds]=En Lüttprogramm, schreven in JavaScript
Comment[x-test]=xxAn applet written in JavaScriptxx
Comment[zh_TW]=用 Javascript 寫的小程式
Icon=javascript
Hidden=true

X-KDE-Library=plasma_applet_javascript
X-KDE-LanguageBindings=JavaScript
X-KDE-UniqueApplet=true
