[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Unique Javascript Applet
Name[nds]=Eensoortet JavaScript-Lüttprogramm
Name[x-test]=xxUnique Javascript Appletxx
Comment=An applet written in JavaScript
Comment[nds]=En Lüttprogramm, schreven in JavaScript
Comment[x-test]=xxAn applet written in JavaScriptxx
Icon=javascript
Hidden=true

X-KDE-Library=plasma_applet_javascript
X-KDE-LanguageBindings=JavaScript
X-KDE-UniqueApplet=true
