[Desktop Entry]
Name=Plasma JavaScript Addon
Name[cs]=Doplněk Plasmy JavaScript
Name[de]=JavaScript-Erweiterung für Plasma
Name[es]=Complemento JavaScript para Plasma
Name[mr]=प्लाज्मा जावास्क्रिप्ट Addon
Name[nl]=Addon voor Plasma JavaScript
Name[pt]=Extensão de JavaScript do Plasma
Name[pt_BR]=Complementos de JavaScript do Plasma
Name[sk]=Doplnok JavaScript pre plasmu
Name[sv]=Plasma Javaskript-tillägg
Name[uk]=Додаток JavaScript до Плазми
Name[x-test]=xxPlasma JavaScript Addonxx
Type=ServiceType
X-KDE-ServiceType=Plasma/JavascriptAddon
Icon=plasma
