[Desktop Entry]
Name=JavaScript Runner
Name[cs]=Spouštěč JavaScriptu
Name[de]=JavaScript-Ausführung
Name[mr]=जावास्क्रिप्ट चालक
Name[nl]=JavaScript-runner
Name[pt]=Execução de JavaScript
Name[pt_BR]=Mecanismo JavaScript
Name[sk]=Spúšťač JavaScriptu
Name[sv]=Kör Javascript
Name[uk]=Механізм запуску JavaScript
Name[x-test]=xxJavaScript Runnerxx
Comment=JavaScript Runner
Comment[cs]=Spouštěč JavaScriptu
Comment[de]=JavaScript-Ausführung
Comment[mr]=जावास्क्रिप्ट चालक
Comment[nl]=JavaScript-runner
Comment[pt]=Execução de JavaScript
Comment[pt_BR]=Mecanismo JavaScript
Comment[sk]=Spúšťač JavaScriptu
Comment[sv]=Kör Javascript
Comment[uk]=Механізм запуску JavaScript
Comment[x-test]=xxJavaScript Runnerxx
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_runnerscript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=Runner
