[Desktop Entry]
Name=JavaScript Widget
Name[cs]=JavaScript Widget
Name[de]=JavaScript-Programm
Name[nl]=JavaScript-widget
Name[pt]=Elemento de JavaScript
Name[pt_BR]=Widget de JavaScript
Name[sk]=JavaScript widget
Name[sv]=Grafisk Javascript-komponent
Name[uk]=Віджет JavaScript
Name[x-test]=xxJavaScript Widgetxx
Comment=Native Plasma widget written in JavaScript
Comment[cs]=Nativní Plasma widget napsaný v JavaScriptu
Comment[de]=Echtes Plasma-Programm, geschrieben in JavaScript
Comment[nl]=Plasma-widget geschreven in JavaScript
Comment[pt]=Elemento nativo do Plasma feito em JavaScript
Comment[pt_BR]=Widget do Plasma nativo escrito em JavaScript
Comment[sk]=Natívny plasma widget napísaný v JavaScripte
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i Javascript
Comment[uk]=Віджет Плазми, написаний на JavaScript
Comment[x-test]=xxNative Plasma widget written in JavaScriptxx
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_appletscript_simple_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=Applet
X-KDE-PluginInfo-Version=5
