[Desktop Entry]
Keywords=
Name=Autumn
Name[ar]=الخريف
Name[az]=Payız
Name[bs]=Jesen
Name[ca]=Tardor
Name[ca@valencia]=Tardor
Name[cs]=Podzim
Name[da]=Efterår
Name[de]=Herbst
Name[en_GB]=Autumn
Name[es]=Otoño
Name[et]=Sügis
Name[eu]=Udazkena
Name[fi]=Syksy
Name[fr]=Automne
Name[gd]=Foghar
Name[gl]=Outono
Name[hu]=Ősz
Name[ia]=Autumno
Name[id]=Autumn
Name[it]=Autunno
Name[ko]=가을
Name[lt]=Ruduo
Name[lv]=Rudens
Name[mr]=शरद ऋतु
Name[nb]=Høst
Name[nds]=Harvsttiet
Name[nl]=Herfst
Name[nn]=Haust
Name[pa]=ਪਤਝੜ
Name[pl]=Jesień
Name[pt]=Outono
Name[pt_BR]=Outono
Name[ro]=Toamnă
Name[ru]=Осень
Name[sk]=Jeseň
Name[sl]=Jesen
Name[sr]=Јесен
Name[sr@ijekavian]=Јесен
Name[sr@ijekavianlatin]=Jesen
Name[sr@latin]=Jesen
Name[sv]=Höst
Name[ta]=இலையுதிர்காலம்
Name[tg]=Тиpамoҳ
Name[tr]=Son Bahar
Name[ug]=كۈز
Name[uk]=Осінь
Name[vi]=Mùa thu
Name[x-test]=xxAutumnxx
Name[zh_CN]=Autumn 秋色
Name[zh_TW]=秋天
Type=Service
Icon=java

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.autumn
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
