[Desktop Entry]
Name=Application dashboard
Name[nl]=Toepassingendashboard
Name[pt]=Painel da aplicação
Name[pt_BR]=Painel de aplicativos
Name[sv]=Instrumentpanel för program
Name[uk]=Панель приладів програм
Name[x-test]=xxApplication dashboardxx
Comment=Intended as Application dashboard default
Comment[pt]=Pretendido como predefinição do painel da aplicação
Comment[pt_BR]=Pretende ser o painel de aplicativos padrão
Comment[sv]=Avsett som förvald instrumentpanel för program
Comment[uk]=Призначено бути типовою панеллю приладів програм
Comment[x-test]=xxIntended as Application dashboard defaultxx

NoDisplay=true

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=appdashboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
UseNativeWidgetStyle=true
FallbackTheme=default
