[Desktop Entry]
Name=Application dashboard
Name[bg]=Табло за програми
Name[bs]=Programska instrument tabla
Name[ca]=Tauler d'aplicacions
Name[ca@valencia]=Tauler d'aplicacions
Name[cs]=Pracovní plocha aplikace
Name[da]=Programinstrumentbræt
Name[de]=Anwendungsübersicht
Name[en_GB]=Application dashboard
Name[es]=Tablero de aplicaciones
Name[et]=Rakendustevaade
Name[fr]=Tableau de bord des applications
Name[hr]=Nadzorna ploča aplikacije
Name[hu]=Alkalmazásáttekintő
Name[ia]=Pannello de instrumentos de Application
Name[is]=Stjórnborð forrits
Name[ja]=アプリケーションダッシュボード
Name[kk]=Қолданбаның аспаптар панелі
Name[km]=ផ្ទាំង​គ្រប់គ្រង​កម្មវិធី​
Name[ko]=프로그램 대시보드
Name[lt]=Programų skydelis
Name[nb]=Program-kontrollpult
Name[nds]=Programm-Klockpaneel
Name[nl]=Toepassingendashboard
Name[nn]=Programkontrollpult
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica programów
Name[pt]=Painel da aplicação
Name[pt_BR]=Painel de aplicativos
Name[ro]=Tablou de bord cu aplicații
Name[sl]=Plošča s programi
Name[sr]=Инструмент-табла програма
Name[sr@ijekavian]=Инструмент-табла програма
Name[sr@ijekavianlatin]=Instrument-tabla programa
Name[sr@latin]=Instrument-tabla programa
Name[sv]=Instrumentpanel för program
Name[tr]=Uygulama panosu
Name[ug]=پروگرامما تىزگىن تاختىسى
Name[uk]=Панель приладів програм
Name[wa]=Tåvlea d' boird des programes
Name[x-test]=xxApplication dashboardxx
Name[zh_CN]=程序面板
Name[zh_TW]=應用程式控制面板
Comment=Intended as Application dashboard default
Comment[bg]=Табло със стандартни програми
Comment[bs]=Namijenjeno kao podrazumijevana programska instrument tabla
Comment[ca]=Proposat com a tauler d'aplicacions per defecte
Comment[ca@valencia]=Proposat com a tauler d'aplicacions per defecte
Comment[cs]=Zamýšleno jako výchozí pracovní plocha aplikace
Comment[da]=Tiltænkt som standard for programinstrumentbræt
Comment[de]=Als Voreinstellung für Anwendungsübersicht angedacht
Comment[en_GB]=Intended as Application dashboard default
Comment[es]=Versión predeterminada del tablero de aplicaciones
Comment[et]=Vaikimisi rakendustevaade
Comment[fr]=Attendu comme tableau de bord des applications par défaut
Comment[hr]=Namijenjeno kao nadzorna ploča aplikacije
Comment[hu]=Alapértelmezésként alkalmazásáttekintőnek tervezett
Comment[ia]=Intendite como application predefinite del pannello de instrumentos
Comment[is]=Hugsað sem sjálfgefið stjórnborð forrits
Comment[kk]=Қолданбаның аспаптар панелі болуға бағытталған
Comment[km]=ដែល​បម្រុង​ជា​លំនាំដើម​ផ្ទាំង​​គ្រប់គ្រង​កម្មវិធី
Comment[ko]=프로그램 대시보드 기본값으로 의도됨
Comment[lt]=Numatytas kaip pradinis programų skydelis
Comment[nb]=Ment å være standard kontrollpult for et Program
Comment[nds]=As Standard för dat Programm-Klockpaneel dacht
Comment[nl]=Bedoelt als standaard in het toepassingendashboard
Comment[nn]=Laga som standard programkontrollpult
Comment[pl]=Zamierzone jako domyślna tablica programu
Comment[pt]=Pretendido como predefinição do painel da aplicação
Comment[pt_BR]=Pretende ser o painel de aplicativos padrão
Comment[ro]=Implicit pentru tabloul de bord cu aplicații
Comment[sl]=Namenjena kot privzeta za ploščo s programi
Comment[sr]=Замишљено као подразумевано за инструмент-таблу програма
Comment[sr@ijekavian]=Замишљено као подразумевано за инструмент-таблу програма
Comment[sr@ijekavianlatin]=Zamišljeno kao podrazumevano za instrument-tablu programa
Comment[sr@latin]=Zamišljeno kao podrazumevano za instrument-tablu programa
Comment[sv]=Avsett som förvald instrumentpanel för program
Comment[tr]=Uygulama kontrol paneli öntanımlısı olarak tasarlandı
Comment[ug]=پروگرامما تىزگىن تاختىنى كۆڭۈلدىكىگە تەڭشەيدۇ
Comment[uk]=Призначено бути типовою панеллю приладів програм
Comment[wa]=Fwait po esse li prémetou tåvlea d' boird des programes
Comment[x-test]=xxIntended as Application dashboard defaultxx
Comment[zh_CN]=设为应用程序面板的默认
Comment[zh_TW]=應用程式預設控制面板

NoDisplay=true

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=appdashboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
UseNativeWidgetStyle=true
FallbackTheme=default
