[Desktop Entry]
Name=Application dashboard
Name[en_GB]=Application dashboard
Name[es]=Tablero de aplicaciones
Name[et]=Rakendustevaade
Name[ia]=Pannello de instrumentos de Application
Name[nl]=Toepassingendashboard
Name[pt]=Painel da aplicação
Name[pt_BR]=Painel de aplicativos
Name[sv]=Instrumentpanel för program
Name[uk]=Панель приладів програм
Name[x-test]=xxApplication dashboardxx
Name[zh_TW]=應用程式控制面板
Comment=Intended as Application dashboard default
Comment[en_GB]=Intended as Application dashboard default
Comment[es]=Versión predeterminada del tablero de aplicaciones
Comment[et]=Vaikimisi rakendustevaade
Comment[ia]=Intendite como application predefinite del pannello de instrumentos
Comment[nl]=Bedoelt als standaard in het toepassingendashboard
Comment[pt]=Pretendido como predefinição do painel da aplicação
Comment[pt_BR]=Pretende ser o painel de aplicativos padrão
Comment[sv]=Avsett som förvald instrumentpanel för program
Comment[uk]=Призначено бути типовою панеллю приладів програм
Comment[x-test]=xxIntended as Application dashboard defaultxx
Comment[zh_TW]=應用程式預設控制面板

NoDisplay=true

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=appdashboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
UseNativeWidgetStyle=true
FallbackTheme=default
