[Desktop Entry]
Name=Air
Name[bn]=এয়ার
Name[bn_IN]=বাতাস
Name[cs]=Vzduch
Name[de]=Luft
Name[el]=Αέρας
Name[es]=Aire
Name[eu]=Airea
Name[gl]=Aire
Name[gu]=હવા
Name[he]=אוויר
Name[hu]=Levegő
Name[is]=Loft
Name[it]=Aria
Name[ja]=大気
Name[kk]=Ауа
Name[km]=ខ្យល់
Name[ko]=공기
Name[ku]=Hewa
Name[lt]=Oras
Name[lv]=Gaiss
Name[mk]=Небо
Name[ml]=എയര്‍
Name[nb]=Luft
Name[nds]=Luft
Name[nn]=Luft
Name[or]=ବାୟୁ
Name[pa]=ਏਅਰ
Name[pt_BR]=Ar
Name[ro]=Aer
Name[ru]=Волшебные пузырьки
Name[sk]=Vzduch
Name[sl]=Zrak
Name[sr]=Ваздух
Name[sr@latin]=Vazduh
Name[sv]=Luft
Name[tg]=Ҳаво
Name[uk]=Повітря
Name[x-test]=xxAirxx
Name[zh_CN]=大气
Comment=A breath of fresh air
Comment[ca]=Una alenada d'aire fresc
Comment[ca@valencia]=Una alenada d'aire fresc
Comment[es]=Un soplo de aire fresco
Comment[gl]=Un folgo de ar fresco
Comment[is]=Ferskir vindar
Comment[km]=ខ្យល់ដង្ហើម​បរិសុទ្ធ
Comment[pt]=Uma brisa de ar fresco
Comment[pt_BR]=Uma brisa de ar fresco
Comment[sv]=Ett friskt andetag
Comment[uk]=Ковток свіжого повітря
Comment[zh_TW]=吸一口新鮮空氣


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=air
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
