[Desktop Entry]
Name=Poor Man's Tasks
Name[bs]=Zadaci siromašnog čovjeka
Name[ca]=Tasques senzilles
Name[de]=Einfache Aufgaben
Name[es]=Tareas del hombre pobre
Name[fi]=Köyhän miehen tehtävät
Name[gl]=Tarefa do pobre home
Name[ia]=Cargas del Paupere Homine
Name[nds]=Sülvenmaakt Opgavenpleger
Name[nl]=Taken van 'Poor Man'
Name[pl]=Zadania biednego człowieka
Name[pt]=Tarefas Simples
Name[pt_BR]=Tarefas simples
Name[sk]=Úlohy úbohého človeka
Name[sl]=Opravila za reveže
Name[sr]=Прости задаци
Name[sr@ijekavian]=Прости задаци
Name[sr@ijekavianlatin]=Prosti zadaci
Name[sr@latin]=Prosti zadaci
Name[sv]=Fattigmans aktiviteter
Name[uk]=Задачі для початківців
Name[x-test]=xxPoor Man's Tasksxx
Comment=Example showing how to write your own tasks Widget
Comment[bs]=Primjer prikazuje kako da napišete svoj vlastiti podsjetnik zadataka
Comment[ca]=Exemple que mostra com escriure el vostre propi estri de tasques
Comment[de]=Beispiel für das Schreiben eigener Aufgaben-Miniprogramme
Comment[es]=Ejemplo que muestra cómo escribir su propio widget de tareas
Comment[fi]=Esimerkki oman tehtäväsovelman kirjoittamisesta
Comment[gl]=Un exemplo de como escribir un widget de tarefas pendentes
Comment[ia]=Exemplo monstrante como scriber tu proprie Widget de cargas
Comment[nds]=Bispill för en sülvenschreven Opgavenpleeg-Lüttprogramm
Comment[nl]=Voorbeeld die toont hoe u uw eigen taak-widget schrijft
Comment[pl]=Przykład pokazujący w jaki sposób napisać swój własny element interfejsu zadań
Comment[pt]=Um exemplo que demonstra como criar o seu próprio item de tarefas
Comment[pt_BR]=Exemplo que mostra como criar seu próprio widget de tarefas
Comment[sk]=Ukážka zobrazujúca ako písať váš vlastný widget úloh
Comment[sl]=Primer izdelave lastnega gradnika za opravila
Comment[sr]=Пример како написати сопствени виџет задатака
Comment[sr@ijekavian]=Пример како написати сопствени виџет задатака
Comment[sr@ijekavianlatin]=Primer kako napisati sopstveni vidžet zadataka
Comment[sr@latin]=Primer kako napisati sopstveni vidžet zadataka
Comment[sv]=Exempel som visar hur man skriver en egen grafisk komponent för aktiviteter
Comment[uk]=Приклад, який демонструє створення власного віджета задач
Comment[x-test]=xxExample showing how to write your own tasks Widgetxx
Icon=preferences-system-windows
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.tasks
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/qmltasks.qml
X-Plasma-RemoteLocation=
