[Desktop Entry]
Name=Application dashboard
Name[cs]=Pracovní plocha aplikace
Name[de]=Anwendungsübersicht
Name[es]=Tablero de mandos de la aplicación
Name[fr]=Tableau de bord des applications
Name[mr]=अनुप्रयोग प्रक्षेपक
Name[nl]=Toepassingendashboard
Name[pt]=Painel da aplicação
Name[pt_BR]=Painel de aplicativos
Name[sk]=Aplikačná prístrojová doska
Name[sv]=Instrumentpanel för program
Name[uk]=Панель приладів програм
Name[x-test]=xxApplication dashboardxx
Comment=Intended as Application dashboard default
Comment[cs]=Zamýšleno jako výchozí pracovní plocha aplikace
Comment[de]=Als Voreinstellung für Anwendungsübersicht angedacht
Comment[es]=Pensado como tablero de mandos por omisión de la aplicación
Comment[fr]=Prévu comme tableau de bord des applications par défaut
Comment[mr]=अनुप्रयोग प्रक्षेपकास अभिप्रेत मूलभूत
Comment[nl]=Bedoelt als standaard in het toepassingendashboard
Comment[pt]=Pretendido como predefinição do painel da aplicação
Comment[pt_BR]=Pretende ser o painel de aplicativos padrão
Comment[sk]=Určené ako predvolená prístrojová doska aplikácie
Comment[sv]=Avsett som förvald instrumentpanel för program
Comment[uk]=Призначено бути типовою панеллю приладів програм
Comment[x-test]=xxIntended as Application dashboard defaultxx

NoDisplay=true

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=appdashboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
UseNativeWidgetStyle=true
FallbackTheme=default
