[Desktop Entry]
Name=Home Files
Name[bs]=Lične datoteke
Name[de]=Persönliche Dateien
Name[fi]=Kodin tiedostot
Name[fr]=Fichiers personnels
Name[nl]=Persoonlijke bestanden
Name[pt]=Ficheiros Pessoais
Name[pt_BR]=Arquivos pessoais
Name[sk]=Domáce súbory
Name[sv]=Hemfiler
Name[uk]=Файли у домашній теці
Name[x-test]=xxHome Filesxx
Comment=Part of a tutorial demonstrating how to create Runner plugins
Comment[bs]=Dio tutorijala demonstrira kako se kreiraju Runner priključci
Comment[de]=Teil einer Anleitung zur Demonstration, wie Runner-Module erstellt werden
Comment[fr]=Éléments d'un tutoriel montrant comment créer des modules « Runner »
Comment[nl]=Deel van een inleiding die demonstreert hoe Runner-plug-ins te maken
Comment[pt]=Parte de um tutorial que demonstra como criar 'plugins' do Runner
Comment[pt_BR]=Parte de um tutorial que demonstra como criar plugins do Runner
Comment[sk]=Časť kurzu demonštrujúceho ako vytvoriť pluginy Runnera
Comment[sv]=Del av en handledning som demonstrerar hur insticksprogram till Runner skapas
Comment[uk]=Частина підручника, який демонструє створення додатків до засобу запуску
Comment[x-test]=xxPart of a tutorial demonstrating how to create Runner pluginsxx
Icon=user-home
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=plasma_runner_example_homefiles
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=example-homefiles
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
