[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[cs]=Tapeta Plasmy
Comment[de]=Plasma-Hintergrundbild
Comment[fi]=Plasma-taustakuva
Comment[hu]=Plasma háttérkép
Comment[nl]=Plasma-bureaubladachtergrond
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do Plasma
Comment[sk]=Tapeta Plasma
Comment[sv]=Plasma skrivbordsunderlägg
Comment[tr]=Plasma duvar kağıdı
Comment[uk]=Тло стільниці Плазми
Comment[x-test]=xxPlasma wallpaperxx

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList
