[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[uk]=Тло стільниці Плазми
Comment[x-test]=xxPlasma wallpaperxx

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList
