[Desktop Entry]
Name=Oxygen
Name[cs]=Oxygen
Name[de]=Oxygen
Name[es]=Oxígeno
Name[fr]=Oxygen
Name[mr]=ऑक्सीजन
Name[nl]=Oxygen
Name[pt]=Oxygen
Name[pt_BR]=Oxygen
Name[sk]=Oxygen
Name[sv]=Oxygen
Name[uk]=Oxygen
Name[x-test]=xxOxygenxx
Comment=Theme done in the Oxygen style
Comment[cs]=Motiv ve stylu Oxygen
Comment[de]=Oberflächen-Design im Oxygen-Stil
Comment[es]=Tema realizado al estilo de Oxígeno
Comment[fr]=Thème réalisé dans le style « Oxygen »
Comment[mr]=ऑक्सीजन शैली मध्ये शैली तयार केली
Comment[nl]=Thema in Oxygen-stijl
Comment[pt]=Um tema feito com o estilo Oxygen
Comment[pt_BR]=Tema criado no estilo Oxygen
Comment[sk]=Téma v štýle Oxygen
Comment[sv]=Tema skapat med Oxygen-stilen
Comment[uk]=Тема в стилі Oxygen
Comment[x-test]=xxTheme done in the Oxygen stylexx

X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=oxygen
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Elarun
defaultFileSuffix=.png
defaultWidth=2560
defaultHeight=1600
