[Desktop Entry]
Name=Breeze Dark
Name[ca]=Brisa fosca
Name[de]=Dunkle Brise
Name[es]=Brisa oscuro
Name[fi]=Breeze Dark
Name[gl]=Breeze escuro
Name[ia]=Brisa obscure
Name[nds]=Breeze düüster
Name[nl]=Breeze Dark
Name[pl]=Ciemna bryza
Name[pt]=Brisa Escura
Name[pt_BR]=Breeze Dark
Name[sk]=Tmavý vánok
Name[sl]=Vetrič (temna)
Name[sr]=Поветарац тамни
Name[sr@ijekavian]=Поветарац тамни
Name[sr@ijekavianlatin]=Povetarac tamni
Name[sr@latin]=Povetarac tamni
Name[sv]=Breeze mörk
Name[uk]=Темна Breeze
Name[x-test]=xxBreeze Darkxx


X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=breeze-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=2560
defaultHeight=1600

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
