[Desktop Entry]
Name=plasma-kpart-shell
Name[x-test]=xxplasma-kpart-shellxx
Exec=plasma-kpart-shell %i -caption "%c"
Icon=plasma-kpart-shell
Type=Application
X-DocPath=plasma-kpart-shell/index.html
GenericName=A KPart shell for Plasma
GenericName[x-test]=xxA KPart shell for Plasmaxx
Terminal=false
