[Desktop Entry]
Name=Sources On Request
Name[bs]=Izvori na zahtjev
Name[ca]=Fonts a demanda
Name[de]=Ressourcen auf Anforderung
Name[fi]=Lähteet pyynnöstä
Name[nds]=Borns op Anfraag
Name[nl]=Bronnen op verzoek
Name[pl]=Źródła na żądanie
Name[pt]=Fontes a Pedido
Name[pt_BR]=Fontes a pedido
Name[sk]=Zdroje na požiadanie
Name[sv]=Källor på begäran
Name[uk]=Джерела за запитом
Name[x-test]=xxSources On Requestxx
Comment=A DataEngine example showing how to respond to requests for source creation and updates
Comment[bs]=Primjer pogona podataka prikazuje kako odgovoriti na zahtjeve za kreiranje izvora i ažuriranja
Comment[ca]=Un exemple de «DataEngine» que mostra com respondre a peticions de creació i actualitzacions de fonts
Comment[de]=Ein Datentreiber-Beispiel, das die Antwort auf Anfragen zur Erstellung von Quellen und Aktualisierungen zeigt
Comment[fi]=DataEngine-esimerkki, joka näyttää miten vastata lähteiden luonnin ja päivittämisen pyyntöihin
Comment[nds]=En Datenkarn-Bispill, dat wiest, wodennig een op Anfragen na Bornopstellen un -opfrischen antern kann
Comment[nl]=Een voorbeeld van een gegevens-engine die toont hoe te antwoorden op verzoeken voor aanmaken van een bron en bijwerken
Comment[pl]=Przykład silnika danych pokazujący sposób odpowiedzi na żądanie utworzenia źródła i uaktualnienia
Comment[pt]=Um exemplo de DataEngine que demonstra como responder a pedidos de criação e actualização da fonte
Comment[pt_BR]=Exemplo de DataEngine que demonstra como responder a solicitações de criação e atualização da fonte
Comment[sk]=Ukážka dátového enginu ukazujúca, ako odpovedať na požiadavky na vytvorenie zdroja a aktualizácie
Comment[sv]=Ett exempel på en DataEngine som visar hur man svara på en begäran om att skapa källor och uppdateringar
Comment[uk]=Приклад рушія даних, який демонструє способи відповіді на запити щодо створення джерела і оновлень
Comment[x-test]=xxA DataEngine example showing how to respond to requests for source creation and updatesxx
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_dataengine_example_sourcesOnRequest

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.examples.sourcesOnRequest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
