[Desktop Entry]
Encoding=UTF-8
Name=Tiger
Name[ar]=النمر
Name[be@latin]=Tyhra
Name[bn]=টাইগার
Name[el]=Τίγρης
Name[es]=Tigre
Name[fr]=Tigre
Name[gl]=Tigre
Name[gu]=વાઘ
Name[he]=נמר
Name[hi]=शेर
Name[it]=Tigre
Name[ja]=タイガー
Name[kk]=Жолбарыс
Name[km]=ខ្លា
Name[ko]=호랑이
Name[lv]=Tīģeris
Name[ml]=ടൈഗര്‍
Name[nl]=Tijger
Name[or]=ଟାଇଗର
Name[pa]=ਟਾਈਗਰ
Name[pl]=Tygrys
Name[pt]=Tigre
Name[pt_BR]=Tigre
Name[ro]=Tigru
Name[tg]=Паланг
Name[th]=เสือโคร่ง
Name[tr]=Kaplan
Name[uk]=Тигр
Name[x-test]=xxTigerxx
Name[zh_CN]=虎
Name[zh_TW]=老虎
Comment=A Script Adaptor
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Richard Moore
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=tiger
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
