[Desktop Entry]
Encoding=UTF-8
Name=Tiger
Name[ar]=النمر
Name[be@latin]=Tyhra
Name[bn]=টাইগার
Name[el]=Τίγρης
Name[es]=Tigre
Name[fi]=Tiikeri
Name[fr]=Tigre
Name[gl]=Tigre
Name[gu]=વાઘ
Name[he]=נמר
Name[hi]=शेर
Name[hne]=टाइगर
Name[it]=Tigre
Name[ja]=タイガー
Name[kk]=Жолбарыс
Name[km]=ខ្លា
Name[ku]=Piling
Name[lt]=Tigras
Name[lv]=Tīģeris
Name[mai]=बाघ
Name[ml]=ടൈഗര്‍
Name[nl]=Tijger
Name[or]=ଟାଇଗର
Name[pa]=ਟਾਈਗਰ
Name[pl]=Tygrys
Name[pt]=Tigre
Name[pt_BR]=Tigre
Name[ro]=Tigru
Name[ru]=Тигр
Name[sr]=тигар
Name[sr@latin]=tigar
Name[tg]=Паланг
Name[th]=เสือโคร่ง
Name[tr]=Kaplan
Name[uk]=Тигр
Name[x-test]=xxTigerxx
Name[zh_CN]=虎
Name[zh_TW]=老虎
Comment=A Script Adaptor
Comment[ca]=Un adaptador de scripts
Comment[ca@valencia]=Un adaptador de scripts
Comment[cs]=Zpracování skriptu
Comment[da]=En script-adaptor
Comment[de]=Eine Skript-Anpassung
Comment[el]=Ένας προσαρμογέας σεναρίου
Comment[es]=Un adaptador javascript
Comment[et]=Skriptiadapter
Comment[fr]=Un adaptateur de script
Comment[ga]=Cuibheoir Scripte
Comment[gl]=Un adaptador de script
Comment[gu]=સ્ક્રિપ્ટ એડપ્ટર
Comment[is]=Skriftumótari
Comment[it]=Script adattatore
Comment[km]=អាដាប់ទ័ឬ​ស្គ្រីប
Comment[ko]=스크립트 어댑터
Comment[lt]=Scenarijų adaptatorius
Comment[lv]=Skriptu pielāgotājs
Comment[ml]=സ്ക്രിപ്റ്റിന്റെ ഒരു ഇണക്ക്
Comment[nb]=En skripttilpasser
Comment[nds]=En Skript-Topasser
Comment[nl]=Een scriptadaptor
Comment[or]=ଗୋଟିଏ ସ୍କ୍ରିପ୍ଟ ଏଡ଼ପଟର
Comment[pa]=ਸਕ੍ਰਿਪਟ ਅਡਾਪਟਰ
Comment[pl]=Adapter skryptów
Comment[pt]=Um Adaptador de Programas
Comment[pt_BR]=Um adaptador de script
Comment[ro]=Adaptor de scripturi
Comment[ru]=Адаптер скриптов
Comment[sl]=Skriptni prilagodilnik
Comment[sr]=Адаптор скрипти
Comment[sr@latin]=Adaptor skripti
Comment[sv]=En skriptanpassning
Comment[te]=స్క్రిప్ట్ ఎడాప్టర్
Comment[tr]=Bir Betik Uyarlayıcısı
Comment[uk]=Пристосування скриптів
Comment[x-test]=xxA Script Adaptorxx
Comment[zh_CN]=脚本适配器
Comment[zh_TW]=文稿適配器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Richard Moore
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=tiger
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
