[Desktop Entry]
Encoding=UTF-8
Name=Tiger
Name[el]=Τίγρης
Name[gl]=Tigre
Name[km]=ខ្លា
Name[pa]=ਸ਼ੇਰ
Name[pl]=Tygrys
Name[pt]=Tigre
Name[ro]=Tigru
Name[tr]=Kaplan
Name[uk]=Тигр
Name[x-test]=xxTigerxx
Comment=A Script Adaptor
Comment[el]=Μια υποδοχή σεναρίου
Comment[es]=Un adaptador de script
Comment[et]=Skriptiadaptor
Comment[fr]=Un adaptateur de script
Comment[gl]=Un adaptador de script
Comment[ja]=スクリプトアダプタ
Comment[km]=អាដាប់ទ័រ​ស្គ្រីប
Comment[nds]=En Skript-Topasser
Comment[nn]=Skripttilpassar
Comment[pa]=ਇੱਕ ਸਕ੍ਰਿਪਟ ਐਡਪਟਰ
Comment[pt]=Um Adaptador de Programas
Comment[pt_BR]=Um Adaptador de Script
Comment[sv]=En skriptadapter
Comment[uk]=Пристосування скриптів
Comment[x-test]=xxA Script Adaptorxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Richard Moore
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=tiger
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
