[Desktop Entry]
Name=plasma-kpart
Name[cs]=plasma-kpart
Name[de]=plasma-kpart
Name[es]=plasma-kpart
Name[mr]=प्लाज्मा-kpart
Name[nl]=plasma-kpart
Name[pt]=plasma-kpart
Name[pt_BR]=plasma-kpart
Name[sk]=plasma-kpart
Name[sv]=Plasma-delprogram
Name[uk]=plasma-kpart
Name[x-test]=xxplasma-kpartxx
Type=Service
ServiceTypes=KParts/Part
X-KDE-Library=plasma-kpart
