[Desktop Entry]
Comment=Report a bug in Plasma
Comment[ca]=Informa d'un error en el Plasma
Comment[de]=Einen Fehler in Plasma berichten
Comment[fi]=Ilmoita viasta Plasmassa
Comment[it]=Segnala un bug in Plasma
Comment[nds]=En Fehler binnen Plasma künnig maken
Comment[nl]=Een bug in Plasma rapporteren
Comment[pl]=Zgłoś błąd w Plazmie
Comment[pt]=Comunicar um erro no Plasma
Comment[pt_BR]=Comunicar um erro no Plasma
Comment[sk]=Oznámiť chybu v Plasma
Comment[sv]=Rapportera ett fel i Plasma
Comment[uk]=Повідомити про ваду у Плазмі
Comment[x-test]=xxReport a bug in Plasmaxx
Encoding=UTF-8
Keywords=plasma,bugzilla,bug,development,support
Keywords[ca]=plasma,bugzilla,error,desenvolupament,suport
Keywords[de]=plasma,bugzilla,Fehler,Entwicklung,Unterstützung
Keywords[fi]=plasma,bugzilla,bug,bugi,vika,virhe,development,kehitys,kehittäminen,support,tuki
Keywords[it]=plasma,bugzilla,bug,sviluppo,supporto
Keywords[nds]=Plasma,Bugzilla,Fehler,utwickeln,Support,ünnerstütten
Keywords[nl]=plasma,bugzilla,bug,ontwikkeling,ondersteuning
Keywords[pl]=plazma,bugzilla,błąd,rozwój,programowanie,wsparcie,obsługa
Keywords[pt]=plasma,bugzilla,erro,desenvolvimento,suporte
Keywords[pt_BR]=plasma,bugzilla,erro,desenvolvimento,suporte
Keywords[sk]=plasma,bugzilla,chyba,vývoj,podpora
Keywords[sv]=plasma,bugzilla,fel,utveckling,support
Keywords[uk]=plasma,bugzilla,bug,development,support,плазма,багзілла,вада,баг,розробка,підтримка,супровід
Keywords[x-test]=xxplasma,bugzilla,bug,development,supportxx
Name=Bug
Name[ca]=Error
Name[cs]=Chyba
Name[de]=Fehler
Name[fi]=Vika
Name[it]=Bug
Name[nds]=Fehler
Name[nl]=Bug
Name[pl]=Błąd
Name[pt]=Insecto
Name[pt_BR]=Erro
Name[sk]=Chyba
Name[sv]=Fel
Name[uk]=Вада
Name[x-test]=xxBugxx
Type=Service
Icon=kbugbuster

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.bugreport
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://bugs.kde.org
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
