[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_fakenet
InitialPreference=10
Icon=network-workgroup
Name=Fake Net
Name[af]=Netwerk-nabootsing
Name[be]=Падробка пад сетку
Name[be@latin]=Udavanaja sietka
Name[ca]=Xarxa falsa
Name[csb]=Falszëwô séc
Name[da]=Falsk net
Name[de]=Netzwerk (Dummy)
Name[el]=Πλαστό δίκτυο
Name[eo]=Ŝajnigita reto
Name[es]=Red falsa
Name[et]=Liba-võrk
Name[eu]=Sare faltsua
Name[fa]=شبکۀ جعلی
Name[fi]=Väärä verkko
Name[fr]=Réseau factice
Name[fy]=Ferfalske net
Name[ga]=Líonra Bréige
Name[gl]=Rede falsa
Name[gu]=ખોટું નેટ
Name[he]=רשת מזוייפת
Name[hi]=नक़ली नेट
Name[hu]=Hálózat (imitáció)
Name[is]=Falskt net
Name[ja]=疑似ネット
Name[kk]=Жалған Желі
Name[km]=សំណាញ់​ក្លែងក្លាយ​
Name[kn]=ನಕಲಿ ಜಾಲ
Name[ko]=가짜 네트워크
Name[lt]=Netikras tinklas
Name[lv]=Neīsts tīkls
Name[mr]=बनावटी नेट
Name[nb]=Falsk nettverk
Name[nds]=Nettwark (Platzholler)
Name[ne]=नक्कली नेट
Name[nl]=Nep net
Name[nn]=Falskt nettverk
Name[pa]=ਫ਼ਰਜੀ ਨੈੱਟ
Name[pl]=Nieprawdziwa sieć
Name[pt]=Rede Falsa
Name[pt_BR]=Rede Falsa
Name[ro]=Rețea falsă
Name[ru]=Фальшивая сеть
Name[se]=Mahkáš-fierpmádat
Name[sl]=Lažno omrežje
Name[sr]=Лажна мрежа
Name[sr@latin]=Lažna mreža
Name[sv]=Testnät
Name[te]=నకిలీ నెట్
Name[tg]=Шабакаи Fake
Name[th]=เครือข่ายเทียม
Name[tr]=Sahte Ağ
Name[uk]=Фальшива мережа
Name[vi]=Mạng giả
Name[wa]=Fåsse toele
Name[x-test]=xxFake Netxx
Name[zh_CN]=虚假网络
Name[zh_TW]=Fake 網路
Comment=Fake Network Management
Comment[af]=Netwerk-nabootsing beheer
Comment[be]=Кіраванне падробная сеткай
Comment[be@latin]=Kiravańnie udavanaj sietkaj
Comment[bg]=Фалшива мрежа
Comment[ca]=Gestió de xarxa falsa
Comment[csb]=Sprôwianié falszëwą sécą
Comment[da]=Håndtering af falsk netværk
Comment[de]=Netzwerkverwaltung (Dummy)
Comment[el]=Διαχειριστής πλαστού δικτύου
Comment[eo]=Administrilo de ŝajnigita reto
Comment[es]=Gestión de red falsa
Comment[et]=Liba-võrgu haldur
Comment[eu]=Sare faltsu kudeaketa
Comment[fa]=مدیریت شبکۀ جعلی
Comment[fi]=Väärän verkon hallinta
Comment[fr]=Gestionnaire de réseau factice
Comment[fy]=Ferfalske netwurkbehear
Comment[ga]=Bainisteoireacht Líonra Bréige
Comment[gl]=Xestión de rede falsa
Comment[gu]=ખોટું નેટવર્ક વ્યવસ્થાપક
Comment[he]=ניהול רשת מזוייף
Comment[hi]=नक़ली नेटवर्क प्रबंधन
Comment[hr]=Mrežno upravljanje
Comment[hu]=Hálózatkezelés (imitáció)
Comment[is]=Fölsk netstýring
Comment[it]=Gestione di una falsa rete
Comment[ja]=疑似ネット管理
Comment[kk]=Жалған Желіні басқару
Comment[km]=ការ​គ្រប់គ្រង​បណ្តាញ​ក្លែងក្លាយ​
Comment[kn]=ನಕಲಿ ಜಾಲ ವ್ಯವಸ್ಥಾಪನೆ
Comment[ko]=가짜 네트워크 관리
Comment[lt]=Netikro tinklo tvarkymas
Comment[lv]=Neīsta tīkla pārvaldnieks
Comment[ml]=ഫെയിക് നെറ്റ്‌വര്‍ക്ക് മാനേജ്മെന്റ്
Comment[mr]=बनावटी संजाळ व्यवस्थापन
Comment[nb]=Falsk nettverksstyring
Comment[nds]=Nettwark-Pleger (Platzholler)
Comment[ne]=नक्कली सञ्जाल व्यवस्थापन
Comment[nl]=Nep netwerkbeheer
Comment[nn]=Falskt nettverk-handtering
Comment[pa]=ਫ਼ਰਜ਼ੀ ਨੈੱਟਵਰਕ ਮੈਨਿਜਮੈਂਟ
Comment[pl]=Nieprawdziwe zarządzanie siecią
Comment[pt]=Gestão da Rede Falsa
Comment[pt_BR]=Gerenciamento de Rede Falsa
Comment[ro]=Management de rețea fals
Comment[ru]=Управление фальшивой сетью
Comment[se]=Mahkáš-fierpmádat-gieđahallan
Comment[sl]=Upravljanje z lažnimi omrežji
Comment[sr]=Управљање лажном мрежом
Comment[sr@latin]=Upravljanje lažnom mrežom
Comment[sv]=Hantering av testnätverk
Comment[te]=నకిలీ నెట్వర్‍క్  నిర్వహణ
Comment[tg]=Идоракунии шабакаи Fake
Comment[th]=การจัดการเครือข่ายเทียม
Comment[tr]=Sahte Ağ Yönetimi
Comment[uk]=Керування фальшивою мережею
Comment[vi]=Quản lý mạng giả
Comment[wa]=Fås manaedjmint d' rantoele
Comment[x-test]=xxFake Network Managementxx
Comment[zh_CN]=虚假网络管理
Comment[zh_TW]=Fake 網路管理
