[Desktop Entry]
Name=Custom DataContainers
Name[az]=DataContainer qeyri-standart elementləri
Name[bs]=Odabrani kontejneri podataka
Name[ca]=«DataContainers» personalitzats
Name[ca@valencia]=«DataContainers» personalitzats
Name[da]=Tilpassede databeholdere
Name[de]=Benutzerdefinierte Datencontainer
Name[en_GB]=Custom DataContainers
Name[es]=«DataContainers» personalizados
Name[et]=Kohandatud andmekonteinerid
Name[eu]=Norberak finkatutako «DataContainer»rak
Name[fi]=Mukautetut DataContainerit
Name[fr]=DataContainers personnalisés
Name[gd]=DataContainers gnàthaichte
Name[gl]=DataContainers personalizado
Name[hu]=Egyéni DataContainerek
Name[ia]=DataContainers (Contento de datos) personalisate
Name[id]=Custom DataContainers
Name[it]=DataContainer personalizzati
Name[ko]=사용자 정의 데이터 컨테이너
Name[nb]=Tilpassede DataContainers
Name[nds]=Egen Datengelaatsen
Name[nl]=Aangepaste gegevenscontainers
Name[nn]=Tilpassa «DataContainers»
Name[pl]=Własne pojemniki danych
Name[pt]=Contentores Personalizados
Name[pt_BR]=DataContainers personalizados
Name[ro]=DataContainere personalizate
Name[ru]=Нестандартные объекты DataContainer
Name[sk]=Vlastné dátové kontajnery
Name[sl]=DataContainers po meri
Name[sr]=Посебни садржаоци података
Name[sr@ijekavian]=Посебни садржаоци података
Name[sr@ijekavianlatin]=Posebni sadržaoci podataka
Name[sr@latin]=Posebni sadržaoci podataka
Name[sv]=Egen DataContainer
Name[tg]=Дарбаргирандаи иттилооти фармоишӣ
Name[tr]=Özel Veri Kapları
Name[uk]=Нетипові контейнери даних
Name[vi]=DataContainer riêng
Name[x-test]=xxCustom DataContainersxx
Name[zh_CN]=自定义数据容器
Name[zh_TW]=自訂資料容器
Comment=A demonstration of how to subclass DataContainer
Comment[az]=DataContainer alt sinifinin necə göstəriləcəyi nümunəsi
Comment[bs]=Demonstracija kako se podklasira kontejner podataka
Comment[ca]=Una demostració de com usar la subclasse «DataContainer»
Comment[ca@valencia]=Una demostració de com usar la subclasse «DataContainer»
Comment[da]=En demonstration af hvordan man gør DataContainer til en underklasse
Comment[de]=Eine Demonstration wie Unterklassen von Datencontainern erstellt werden
Comment[en_GB]=A demonstration of how to subclass DataContainer
Comment[es]=Una demostración de cómo derivar una clase de «DataContainer»
Comment[et]=Näidis, kuidas muuta andmekonteiner alamklassiks
Comment[eu]=«DataContainer» azpiklase bat egiteko erakustaldi bat
Comment[fi]=Demonstraatio DataContainerin aliluokittamisesta
Comment[fr]=Une démonstration de comment faire une sous-classe de « DataContainer »
Comment[gd]=Taisbeanadh air mar a chruthaicheas tu fo-chlasaichean aig DataContainer
Comment[gl]=Unha demostración de como facer subclases de DataContainer
Comment[hu]=A DataContainer alosztályként használatának demonstrációja
Comment[ia]=Un demonstration de como poner in sub-classe un DataContainer
Comment[id]=Sebuah demonstrasi bagaimana untuk mensubkelas WadahData
Comment[it]=Una dimostrazione di come creare sottoclassi di DataContainer
Comment[ko]=DataContainer 파생 클래스를 작성하는 방법 시연
Comment[nb]=En demonstrasjon av hvordan subklasser av DataContainer lages
Comment[nds]=En Demonstratschoon, wodennig sik en DataContainer-Ünnerklass bruken lett
Comment[nl]=Een demonstratie van hoe een subklasse toe te kennen aan een gegevenscontainer
Comment[nn]=Ein demonstrasjon av korleis subklassa ein «DataContainer»
Comment[pl]=Przedstawienie sposobu tworzenia podklasy pojemnika danych
Comment[pt]=Um demonstração de como usar a classe DataContainer
Comment[pt_BR]=Demonstração de como usar a subclasse DataContainer
Comment[ru]=Пример наследования от класса DataContainer
Comment[sk]=Demonštrácia ako urobiť podtriedu dátového kontajnera
Comment[sl]=Predstavitev podrazreda DataContainer
Comment[sr]=Демонстрација извођења из класе DataContainer
Comment[sr@ijekavian]=Демонстрација извођења из класе DataContainer
Comment[sr@ijekavianlatin]=Demonstracija izvođenja iz klase DataContainer
Comment[sr@latin]=Demonstracija izvođenja iz klase DataContainer
Comment[sv]=En demonstration av hur en delklass av DataContainer skapas
Comment[tg]=Намоиши тарзи зерсинфи дарбаргирандаи иттилоотӣ
Comment[tr]=Veri haznesinin nasıl altı sınıf yapıldığının bir göstergesi
Comment[uk]=Демонстрація створення підкласу DataContainer
Comment[vi]=Ví dụ minh hoạ việc kế thừa lớp DataContainer
Comment[x-test]=xxA demonstration of how to subclass DataContainerxx
Comment[zh_CN]=继承数据容器类的示例
Comment[zh_TW]=DataContainer 子類別的範例
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_dataengine_example_customDataContainers

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.examples.customDataContainers
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
