[Desktop Entry]
Name=Breeze Complementary
Name[ca]=Brisa complementària
Name[es]=Brisa complementaria
Name[fi]=Breeze Complementary
Name[ia]=Brisa complementari
Name[nds]=Breeze-Komplementeer
Name[nl]=Aanvullende Breeze
Name[pl]=Uzupełnienie bryzy
Name[pt]=Brisa Complementar
Name[pt_BR]=Breeze Complementary
Name[sk]=Doplnkový vánok
Name[sl]=Vetrič (komplementarna)
Name[sv]=Breeze komplementär
Name[uk]=Доповнення Breeze
Name[x-test]=xxBreeze Complementaryxx


X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=breeze-complementary
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
