[Desktop Entry]
Name=script-nowplaying
Name[cs]=Skript  "Právě hraje"
Name[es]=script-ejecutando
Name[is]=spilanúna-skrifta
Name[lt]=scenarijus-dabar groja
Name[nds]=Warrt-jüst-afspeelt-Skript
Name[nl]=script-nu-aan-het-spelen
Name[ro]=script-înredare
Name[sv]=script-spelar-nu
Name[te]=ఇప్పుడునడుస్తున్న-స్క్రిప్ట్
Name[tr]=betik-şimdi dinlenen parça
Name[x-test]=xxscript-nowplayingxx
Name[zh_CN]=脚本-现在收听
Comment=Javascript version current track playing
Comment[ca]=Versió en Javascript de la peça actual en reproducció
Comment[ca@valencia]=Versió en Javascript de la peça actual en reproducció
Comment[cs]=JavaScriptová verze skriptu "Právě hraje"
Comment[da]=Javascript-version af nuværende spor som afspilles
Comment[de]=Javascript-Version der Musiktitel-Anzeige
Comment[el]=Τρέχον κομμάτι αναπαραγωγής σε έκδοση Javascript
Comment[es]=versión javascript de la reproducción actual
Comment[et]=Esitatava pala JavaScripti versioon
Comment[fi]=Nyt soi -sovelman Javascript-versio
Comment[fr]=Morceau en cours de lecture - version Javascript
Comment[ga]=Amhrán á sheinm anois in JavaScript
Comment[gl]=Versión en Javascript da pista a reproducir
Comment[is]=Javascript útgáfa núverandi spilunar
Comment[it]=La traccia attualmente in riproduzione (versione Javascript)
Comment[ja]=「今聴いているもの」の JavaScript バージョン
Comment[km]=ការ​ចាក់​បទ​បច្ចុប្បន្ន​កំណែ​ Javascript
Comment[ko]=자바스크립트 버전 지금 재생 중
Comment[lt]=JavaScript versija – dabar grojantis takelis
Comment[lv]=Pašlaik atskaņo javascript versija
Comment[nb]=Javascript versjon – spor som spilles nå
Comment[nds]=JavaScript-Verschoon vun Opstunns afspeelt Stück
Comment[nl]=Javascript-versie van momenteel spelende track
Comment[pl]=Wersja "Teraz odtwarzany" w Javascript
Comment[pt]=Versão em JavaScript do 'Agora a tocar'
Comment[pt_BR]=Versão em Javascript da reprodução da trilha atual
Comment[ru]=Виджет «Сейчас проигрывается», написанный на языке JavaScript
Comment[sl]=Trenutno predvajana skladba v Javascriptu
Comment[sr]=Јаваскриптна верзија тренутне свирке
Comment[sr@latin]=Javascript verzija trenutne svirke
Comment[sv]=Javascript-version av nuvarande spår som spelas
Comment[te]=ప్లేఅవుతున్న జావాస్క్రిప్ట్ వర్షన్ ప్రస్తుత ట్రాక్
Comment[tr]=Şimdi çalınan parça bilgisi betiğinin Javascript sürümü
Comment[uk]=Javascript-версія показу назви композиції, що відтворюється
Comment[x-test]=xxJavascript version current track playingxx
Comment[zh_CN]=Javascript 版本的现在收听
Comment[zh_TW]=Javascript 版本的「正在播放」
Icon=configure
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=script-nowplaying
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
