[Desktop Entry]
Name=Simple DataEngine Example
Name[nl]=Eenvoudig voorbeeld voor gegevensengine
Name[uk]=Простий приклад рушія даних
Name[x-test]=xxSimple DataEngine Examplexx
Comment=A very basic DataEngine implementation
Comment[nl]=Een erge basisimplementatie van een gegevens-engine
Comment[uk]=Базова реалізація рушія даних
Comment[x-test]=xxA very basic DataEngine implementationxx
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_dataengine_example_simpleEngine

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.examples.simpleEngine
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
