[Desktop Entry]
Name=Simple DataEngine Example
Name[bs]=Jednostavan primjer pogona podataka
Name[ca]=Exemple senzill de «DataEngine»
Name[cs]=Jednoduchý příklad datového nástroje
Name[de]=Einfaches Datentreiber-Beispiel
Name[es]=Ejemplo sencillo de «DataEngine»
Name[fi]=Yksinkertainen DataEngine-esimerkki
Name[gl]=Exemplo sinxelo de DataEngine
Name[hu]=Egyszerű adatmotor példa
Name[nds]=Eenfach Datenkarn-Bispill
Name[nl]=Eenvoudig voorbeeld voor gegevensengine
Name[pl]=Prosty przykład silnika danych
Name[pt]=Exemplo Simples de Motor de Dados
Name[pt_BR]=Exemplo simples de DataEngine
Name[sk]=Jednoduchý príklad dátového enginu
Name[sr]=Једноставан пример датомотора
Name[sr@ijekavian]=Једноставан пример датомотора
Name[sr@ijekavianlatin]=Jednostavan primer datomotora
Name[sr@latin]=Jednostavan primer datomotora
Name[sv]=Enkelt exempel på DataEngine
Name[uk]=Простий приклад рушія даних
Name[x-test]=xxSimple DataEngine Examplexx
Comment=A very basic DataEngine implementation
Comment[bs]=Veoma jednostavna implementacija pogona podataka
Comment[ca]=Una implementació molt bàsica de «DataEngine»
Comment[de]=Eine Basis-Implementation eines Datentreibers
Comment[es]=Una implementación muy básica de «DataEngine»
Comment[fi]=Erittäin yksinkertainen DataEngine-toteutus
Comment[gl]=Unha implementación moi básica de DataEngine
Comment[hu]=Egy nagyon egyszerű adatmotor megvalósítás
Comment[nds]=En bannig simpel Datenkarn-Ümsetten
Comment[nl]=Een erge basisimplementatie van een gegevens-engine
Comment[pl]=Bardzo podstawowa implementacja silnika danych
Comment[pt]=Uma implementação muito básica do DataEngine
Comment[pt_BR]=Implementação muito básica do DataEngine
Comment[sk]=Veľmi základná implementácia dátového enginu
Comment[sr]=Врло основна изведба датомотора
Comment[sr@ijekavian]=Врло основна изведба датомотора
Comment[sr@ijekavianlatin]=Vrlo osnovna izvedba datomotora
Comment[sr@latin]=Vrlo osnovna izvedba datomotora
Comment[sv]=En mycket grundläggande implementering av DataEngine
Comment[uk]=Базова реалізація рушія даних
Comment[x-test]=xxA very basic DataEngine implementationxx
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_dataengine_example_simpleEngine

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.examples.simpleEngine
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
