[Desktop Entry]
Name=Air
Name[de]=Air
Name[nl]=Air
Name[pt]=Air
Name[pt_BR]=Air
Name[uk]=Air
Name[x-test]=xxAirxx
Comment=A breath of fresh air
Comment[de]=Ein Atemzug frische Luft
Comment[nl]=Een hap frisse lucht
Comment[pt]=Uma brisa de ar fresco
Comment[pt_BR]=Uma brisa de ar fresco
Comment[uk]=Ковток свіжого повітря
Comment[x-test]=xxA breath of fresh airxx


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Elarun
defaultFileSuffix=.png
defaultWidth=2560
defaultHeight=1600
