[Desktop Entry]
Comment=Example applet that shows how to use Models embedded in DataEngines
Comment[az]=Plasma verilənlər mənbəsində quraşdırılmış modellərin işinin nümayişi üçün vidjet nümunələri
Comment[ca]=Miniaplicació de prova que mostra com usar Models incrustats en «DataEngines»
Comment[ca@valencia]=Miniaplicació de prova que mostra com usar Models incrustats en «DataEngines»
Comment[da]=Eksempel på applet som viser hvordan modeller bruges indlejret i datamotorer
Comment[de]=Miniprogramm-Beispiel, das die Anwendung von Modellen eingebettet in Datenquellen zeigt
Comment[en_GB]=Example applet that shows how to use Models embedded in DataEngines
Comment[es]=Miniaplicación de ejemplo que muestra cómo usar modelos empotrados en motores de datos
Comment[et]=Näidisaplett selle kohta, kuidas kasutada andmemootoritesse põimitud mudeleid
Comment[eu]=Adibide aplikaziotxoa, «DataEngine»etan kapsulatutako modeloak nola erabili erakusten duena
Comment[fi]=Esimerkkisovelma, joka näyttää, miten tietomoottoreihin upotettuja malleja käytetään
Comment[fr]=Exemple d'applet qui montre comment utiliser les modèles embarqués dans DataEngines
Comment[gd]=Aplaid-eisimpleir a sheallas mar a chleachdas tu modailean leabaichte ann an DataEngines
Comment[gl]=Un miniaplicativo de exemplo que mostra como usar os modelos incorporados nos DataEngines
Comment[hu]=Példa kisalkalmazás a DataEngine-be ágyazott modellek használatának bemutatására
Comment[ia]=Applet de exemplo que monstra como usar Models (modellos)  insertate in DataEngines (Motores de datos)
Comment[id]=Contoh applet yang menampilkan bagaimana untuk menggunakan Model tertanam dalam DataEngine
Comment[it]=Applet di esempio che mostra come utilizzare i modelli integrati nei motori di dati
Comment[ko]=데이터 엔진에 임베드된 모델 사용법 시연 애플릿
Comment[nb]=Eksempel-applet som viser bruk av Modeller innebygget i DataEngines
Comment[nds]=Bispill-Lüttprogramm, dat wiest, wodennig sik Modellen binnen Datenkarns bruken laat
Comment[nl]=Voorbeeld van applet dat toont hoe modellen ingebed in gegevensengines zijn te gebruiken
Comment[nn]=Eksempel-applet som viser korleis bruka «Models» innebygd i «DataEngines»
Comment[pl]=Przykładowy aplet pokazujący sposób używania modeli osadzonych w silnikach danych
Comment[pt]=Uma 'applet' de exemplo que demonstra como usar os modelos incorporados em motores de dados
Comment[pt_BR]=Uma miniaplicativo de exemplo que mostra como usar os modelos integrados em mecanismos de dados
Comment[ru]=Пример виджета для демонстрации использования моделей, встроенных в источники данных Plasma.
Comment[sk]=Ukážkový applet, ktorý ukáže, ako použiť modely zabudované v dátových enginoch
Comment[sl]=Primer apleta, ki prikazuje kako uporabiti modele vgrajene v podatkovne pogone
Comment[sr]=Пример аплета који показује употребу модела угнежђених у датомоторима
Comment[sr@ijekavian]=Пример аплета који показује употребу модела угнежђених у датомоторима
Comment[sr@ijekavianlatin]=Primer apleta koji pokazuje upotrebu modela ugnežđenih u datomotorima
Comment[sr@latin]=Primer apleta koji pokazuje upotrebu modela ugnežđenih u datomotorima
Comment[sv]=Miniprogramexempel som visar hur modeller används inbäddade i datagränssnitt
Comment[tg]=Мисоли зербарномае, ки тарзи истифодаи намунаҳои дарунсохтро дар DataEngines нишон медиҳад
Comment[tr]=VeriMotorları içinde gömülü Modellerin nasıl kullanılacağını gösteren uygulama programı örneği
Comment[uk]=Приклад аплету, який демонструє використання моделей, вбудованих до рушіїв даних
Comment[vi]=Tiểu ứng dụng ví dụ cho thấy cách dùng các Model trong DataEngine
Comment[x-test]=xxExample applet that shows how to use Models embedded in DataEnginesxx
Comment[zh_CN]=展示如何使用数据引擎内嵌的模型的示例小部件
Comment[zh_TW]=顯示如何使用嵌入於資料引擎中的模型的範例小程式
Keywords=
Name=Dataengine model
Name[az]=Plasma verilənlər mənbəyi modeli
Name[ca]=Model de «Dataengine»
Name[ca@valencia]=Model de «Dataengine»
Name[da]=Datamotor-model
Name[de]=Datenquellen-Modell
Name[en_GB]=Dataengine model
Name[es]=Modelo de motor de datos
Name[et]=Andmemootori mudel
Name[eu]='Dataengine' modeloa
Name[fi]=Tietomoottorimalli
Name[fr]=Modèle pour moteur de données
Name[gd]=Modail inneil-dàta
Name[gl]=Modelo de Dataengine
Name[hu]=Adatmotor modell
Name[ia]=Modello de Dataengine (Motor de datos)
Name[id]=Model Dataengine
Name[it]=Modello del motore di dati
Name[ko]=데이터 엔진 모델
Name[lv]=Datu dzinēja modelis
Name[nb]=Dataengine-modell
Name[nds]=Datenkarn-Modell
Name[nl]=Model van gegevensengine
Name[nn]=Datamotor-modell
Name[pl]=Model silnika danych
Name[pt]=Modelo de motor de dados
Name[pt_BR]=Modelo de mecanismo de dados
Name[ro]=Model de motor de date
Name[ru]=Модель в источнике данных Plasma
Name[sk]=Model dátového enginu
Name[sl]=Model podatkovnega pogona
Name[sr]=Модел датомотора
Name[sr@ijekavian]=Модел датомотора
Name[sr@ijekavianlatin]=Model datomotora
Name[sr@latin]=Model datomotora
Name[sv]=Datagränssnittsmodell
Name[tg]=Намунаи Dataengine
Name[tr]=Veri motoru modeli
Name[uk]=Модель рушія даних
Name[vi]=Model Dataengine
Name[x-test]=xxDataengine modelxx
Name[zh_CN]=数据引擎模型
Name[zh_TW]=資料引擎模型
Type=Service
Icon=
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.dataenginemodel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
