[Desktop Entry]
Comment=Example applet that shows how to use Models embedded in DataEngines
Comment[de]=Miniprogramm-Beispiel, das die Anwendung von Modellen eingebettet in Datenquellen zeigt
Comment[fi]=Esimerkkisovelma, joka näyttää, miten tietomoottoreihin upotettuja malleja käytetään
Comment[nl]=Voorbeeld van applet dat toont hoe modellen ingebed in gegevensengines zijn te gebruiken
Comment[pt]=Uma 'applet' de exemplo que demonstra como usar os modelos incorporados em motores de dados
Comment[pt_BR]=Uma miniaplicativo de exemplo que mostra como usar os modelos integrados em mecanismos de dados
Comment[sk]=Ukážkový applet, ktorý ukáže, ako použiť modely zabudované v dátových enginoch
Comment[sv]=Miniprogramexempel som visar hur modeller används inbäddade i datagränssnitt
Comment[uk]=Приклад аплету, який демонструє використання моделей, вбудованих до рушіїв даних
Comment[x-test]=xxExample applet that shows how to use Models embedded in DataEnginesxx
Encoding=UTF-8
Keywords=
Name=Dataengine model
Name[de]=Datenquellen-Modell
Name[fi]=Tietomoottorimalli
Name[nl]=Model van gegevensengine
Name[pt]=Modelo de motor de dados
Name[pt_BR]=Modelo de mecanismo de dados
Name[sk]=Model dátového enginu
Name[sv]=Datagränssnittsmodell
Name[uk]=Модель рушія даних
Name[x-test]=xxDataengine modelxx
Type=Service
Icon=
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.dataenginemodel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
