[Desktop Entry]
Name=script-digital-clock
Name[cs]=Skript pro digitální hodiny
Name[es]=script-Reloj-digital
Name[gu]=સ્ક્રિપ્ટ-ડિજીટલ-ઘડિયાળ
Name[is]=Stafræn klukkuskrifta
Name[km]=នាឡិកា​ឌីជីថលស្គ្រីប
Name[lt]=scenarijus-skaitmeninis-laikrodis
Name[mai]=स्क्रिप्ट डिजिटल घडी
Name[mk]=Едноставен дигитален часовник
Name[nds]=Skript-Digitaalklock
Name[nl]=script-digitale-klok
Name[pt_BR]=script-relógio-digital
Name[ro]=script-ceas-digital
Name[sv]=Skript med digitalklocka
Name[tr]=betik-dijital-saat
Name[x-test]=xxscript-digital-clockxx
Name[zh_CN]=脚本-数字钟
Comment=Javascript digital clock
Comment[ca]=Rellotge digital en Javascript
Comment[ca@valencia]=Rellotge digital en Javascript
Comment[cs]=Digitální hodiny v JavaScriptu
Comment[da]=Digitalt ur i Javascript
Comment[de]=Eine digitale Javascript-Uhr
Comment[el]=Ψηφιακό ρολόι Javascript
Comment[es]=Reloj javascript digital
Comment[et]=Javascripti digikell
Comment[fr]=Horloge numérique JavaScript
Comment[ga]=Clog digiteach JavaScript
Comment[gl]=Reloxo dixital escrito en JavaScript
Comment[gu]=જાવાસ્ક્રિપ્ટ ડિજીટલ ઘડિયાળ
Comment[is]=JavaScript stafræn klukka
Comment[it]=Orologio digitale JavaScript
Comment[ja]=JavaScript のデジタル時計
Comment[kk]=JavaScript цифрлық сағат
Comment[km]=នាឡិកា​ឌីជីថល Javascript
Comment[ko]=자바스크립트 디지털 시계
Comment[lt]=JavaScript skaitmeninis laikrodis
Comment[lv]=Javascript digitālais pulkstenis
Comment[ml]=ജാവാസ്ക്രിപ്റ്റ് ഡിജിറ്റല്‍ ഘടികാരം
Comment[nb]=Javascript digital klokke
Comment[nds]=JavaScript-Digitaalklock
Comment[nl]=Digitale klok geschreven in Javascript
Comment[or]=Javascript ସାଂଖିକ ଘଡ଼ି
Comment[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਡਿਜਟੈੱਲ ਕਲਾਕ
Comment[pl]=Zegar cyfrowy w Javascript
Comment[pt]=Relógio digital em JavaScript
Comment[pt_BR]=Relógio digital em JavaScript
Comment[ro]=Un ceas digital Javascript
Comment[ru]=Цифровые часы, написанные на языке JavaScript
Comment[sl]=Digitalna ura v Javascriptu
Comment[sr]=Јаваскриптни дигитални сат
Comment[sr@latin]=Javascript digitalni sat
Comment[sv]=Javascript-digitalklocka
Comment[tr]=Javascript dijital saat
Comment[uk]=Цифровий годинник на JavaScript
Comment[x-test]=xxJavascript digital clockxx
Comment[zh_CN]=JavaScript 数字钟
Comment[zh_TW]=Javascript 數位時鐘
Icon=configure
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=script-digital-clock
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
