[Desktop Entry]
Name=Same game (QML)
Name[ar]=نفس اللعبة (QML)
Name[az]=Same oyunu (QML)
Name[bs]=Ista igra (QML)
Name[ca]=Joc Same (QML)
Name[ca@valencia]=Joc Same (QML)
Name[da]=Same game (QML)
Name[de]=SameGame-Spiel (QML)
Name[en_GB]=Same game (QML)
Name[es]=Juego Iguales (QML)
Name[et]=Sama mäng (QML)
Name[eu]=SameGame jokoa (QML)
Name[fi]=Same Game (QML)
Name[fr]=« Same Game »(QML)
Name[gd]=An aon gheama (QML)
Name[gl]=Xogo dos iguais (QML)
Name[hu]=Leszedegetős játék (QML)
Name[ia]=Mesme Joco (QML)
Name[id]=Permainan Same (QML)
Name[it]=Same game (QML)
Name[ko]=같은 것 맞추기(QML)
Name[lv]=Tā pati spēle (QML)
Name[nb]=Same game (QML)
Name[nds]=SameGame (QML)
Name[nl]=Zelfde spel (QML)
Name[nn]=Same game (QML)
Name[pl]=Ta sama gra (QML)
Name[pt]=Jogo de bolas (QML)
Name[pt_BR]=Jogo de bolas (QML)
Name[ru]=Игра Same (QML)
Name[sk]=Uložiť hru (QML)
Name[sl]=Same game (QML)
Name[sr]=Исто‑исто (КуМЛ)
Name[sr@ijekavian]=Исто‑исто (КуМЛ)
Name[sr@ijekavianlatin]=Isto‑isto (QML)
Name[sr@latin]=Isto‑isto (QML)
Name[sv]=Samegame (QML)
Name[tg]=Бозии монанд (QML)
Name[tr]=Aynı oyun (QML)
Name[uk]=Та сама гра (QML)
Name[vi]=Trò chơi Same game (QML)
Name[x-test]=xxSame game (QML)xx
Name[zh_CN]=找重游戏 (QML)
Name[zh_TW]=Same game (QML)
Comment=The Same game QML Qt demo converted as plasmoid
Comment[ar]=نسخة «نفس اللعبة» ب‍QML في «كيوت» محوّلة كبلازمويد
Comment[az]=Same oyunu QML-də Plasma vidjeti formasında
Comment[bs]=Ista igra QML Qt demo preobraćen kao plazmoid
Comment[ca]=La demo Qt en QML del joc Same convertit com a plasmoide
Comment[ca@valencia]=La demo Qt en QML del joc Same convertit com a plasmoide
Comment[da]=Same Game QML Qt-demo konverteret til en plasmoid
Comment[de]=Das Spiel SameGame als QML-QT-Demo umgewandelt in ein Plasmoid
Comment[en_GB]=The Same game QML Qt demo converted as plasmoid
Comment[es]=Demo en QML de Qt del juego Iguales convertido en plasmoide
Comment[et]=Plasmoidiks muudetud Sama mängu QML-versiooni näidis
Comment[eu]=SameGame jokoaren QML Qt demoa plasmoid bihurtuta
Comment[fi]=QML Qt-demo Same Game muunnettuna plasmoidiksi
Comment[fr]=Le jeu « Same Game » de la démo « QML » de Qt, converti en composant graphique
Comment[gd]=Taisbeanadh air QML Qt an aon gheama mar phlasmoid
Comment[gl]=O xogo dos iguais en QML convertido nun plasmoide
Comment[hu]=A leszedegetős játék demó verziója plazmoidként
Comment[ia]=Le Mesme Joco QML. Demo de QT convertite in plasmoid
Comment[id]=Demo Qt permainan Same QML yang dikonversi sebagai plasmoid
Comment[it]=La dimostrazione QML Qt del gioco Same convertito in plasmoide
Comment[ko]=Plasmoid로 변환된 같은 것 맞추기 QML Qt 데모
Comment[nb]=Same game QML Qt-demo gjort om til plasmoide
Comment[nds]=Dat SameGame-QML-Qt-Demo ümbuut as Plasma-Lüttprogramm
Comment[nl]=De demo van QML Qt van 'Zelfde spel' geconverteerd als plasmoid
Comment[nn]=Same game QML Qt-demo gjort om til plasmoide
Comment[pl]=Demo Qt Tej samej gry przekształcone na plazmoid
Comment[pt]=A demonstração do jogo Same Game do Qt em QML
Comment[pt_BR]=Demonstração do jogo Same Game do Qt em QML convertido como plasmoide
Comment[ru]=Игра Same в виде виджета Plasma на QML
Comment[sk]=Same game QML Qt demo konvertované ako plasmoid
Comment[sl]=Predstavitvena igra SameGame v QML Qt, pretvorjena v plasmoid
Comment[sr]=КуТ‑ов демо исто‑истог на КуМЛ‑у претворен у плазмоид
Comment[sr@ijekavian]=КуТ‑ов демо исто‑истог на КуМЛ‑у претворен у плазмоид
Comment[sr@ijekavianlatin]=Qt‑ov demo isto‑istog na QML‑u pretvoren u plazmoid
Comment[sr@latin]=Qt‑ov demo isto‑istog na QML‑u pretvoren u plazmoid
Comment[sv]=Samegame QML Qt-demonstrationen konverterad till Plasmoid
Comment[tg]=Намунаи бозии монанди QML Qt ба plasmoid табдил дода мешавад
Comment[tr]=Aynı oyunun QML Qt plasmoid olarak çevrilmiş halinin tanıtımı
Comment[uk]=Плазмоїд-демонстрація тієї самої гри на основі QML
Comment[vi]=Chương trình minh hoạ cho Qt, Same game, viết bằng QML, chuyển dạng thành plasmoid
Comment[x-test]=xxThe Same game QML Qt demo converted as plasmoidxx
Comment[zh_CN]=找重游戏 的 QML Qt 演示程序转换而来的小部件
Comment[zh_TW]=Same game QML Qt 展示轉換為元件
Icon=applications-games

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/samegame.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.samegame-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
