[Desktop Entry]
Name=org.kde.example.widgetgallery
Name[de]=org.kde.example.widgetgallery
Name[ia]=org.kde.example.widgetgallery
Name[is]=org.kde.example.widgetgallery
Name[nl]=org.kde.example.widgetgallery
Name[pt]=org.kde.example.widgetgallery
Name[uk]=org.kde.example.widgetgallery
Name[x-test]=xxorg.kde.example.widgetgalleryxx
Type=Service
X-KDE-PluginInfo-Author=Giorgos Tsiapaliwkas
X-KDE-PluginInfo-Email=terietor@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.widgetgallery
X-KDE-PluginInfo-Version=1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/Gallery.qml
