[Desktop Entry]
Name=Breeze Light
Name[ca]=Brisa clara
Name[ca@valencia]=Brisa clara
Name[cs]=Breeze Světlé
Name[da]=Breeze Light
Name[de]=Breeze Light
Name[en_GB]=Breeze Light
Name[es]=Brisa claro
Name[et]=Breeze Light
Name[fi]=Breeze Light
Name[gd]=Oiteag shoilleir
Name[gl]=Breeze claro
Name[it]=Brezza chiaro
Name[ko]=Breeze Light
Name[nl]=Breeze Light
Name[nn]=Breeze lys
Name[pl]=Lekka Bryza
Name[pt]=Brisa Clara
Name[pt_BR]=Breeze Light
Name[ru]=Breeze, светлый вариант
Name[sk]=Vánok svetlý
Name[sl]=Sapica (svetla)
Name[sr]=Поветарац лаки
Name[sr@ijekavian]=Поветарац лаки
Name[sr@ijekavianlatin]=Povetarac laki
Name[sr@latin]=Povetarac laki
Name[sv]=Breeze ljus
Name[uk]=Світла Breeze
Name[x-test]=xxBreeze Lightxx
Name[zh_CN]=亮色微风
Name[zh_TW]=Breeze Light


X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=5.20
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=2.0
saturation=1.7
