[Desktop Entry]
Keywords=
Name=Configuration test
Name[ar]=اختبار للضّبط
Name[az]=Konfiqurasiya testi
Name[bs]=test konfiguracije
Name[ca]=Prova la configuració
Name[ca@valencia]=Prova la configuració
Name[cs]=Test nastavení
Name[da]=Konfigurationstest
Name[de]=Einrichtungstest
Name[en_GB]=Configuration test
Name[es]=Prueba de configuración
Name[et]=Seadistuse test
Name[eu]=Konfigurazio proba
Name[fi]=Asetustesti
Name[fr]=Test de configuration
Name[gd]=Deuchainn air an rèiteachadh
Name[gl]=Proba de configuración
Name[hu]=Beállításteszt
Name[ia]=Prova de configuration
Name[id]=Uji konfigurasi
Name[it]=Prova di configurazione
Name[ko]=설정 테스트
Name[lt]=Konfigūracijos testas
Name[lv]=Konfigurācijas tests
Name[nb]=Oppsettstest
Name[nds]=Instellen-Test
Name[nl]=Test van instellingen
Name[nn]=Oppsett-test
Name[pa]=ਸੰਰਚਨਾ ਟੈਸਟ
Name[pl]=Próba ustawień
Name[pt]=Teste de configuração
Name[pt_BR]=Teste de configuração
Name[ro]=Test configurări
Name[ru]=Тестовая конфигурация
Name[sk]=Test nastavenia
Name[sl]=Preizkus nastavitev
Name[sr]=Проба поставе
Name[sr@ijekavian]=Проба поставе
Name[sr@ijekavianlatin]=Proba postave
Name[sr@latin]=Proba postave
Name[sv]=Inställningstest
Name[ta]=அமைப்பு சோதனை
Name[tg]=Санҷиши танзимот
Name[tr]=Yapılandırma Testi
Name[uk]=Перевірка налаштувань
Name[vi]=Kiểm thử cấu hình
Name[x-test]=xxConfiguration testxx
Name[zh_CN]=配置测试
Name[zh_TW]=設定測試
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.example.configuration
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
