[Desktop Entry]
Name=JavaScript DataEngine
Name[ca]=Motor de dades de JavaScript
Name[ca@valencia]=Motor de dades de JavaScript
Name[csb]=Mòtór JavaScript
Name[da]=JavaScript-datamotor
Name[de]=JavaScript-Datenmodul
Name[el]=Μηχανή δεδομένων JavaScript
Name[en_GB]=JavaScript DataEngine
Name[eo]=Ĝavaskripta Datummodulo
Name[et]=JavaScripti andmemootor
Name[eu]=JavaScript datu-motorea
Name[fr]=Moteur de donnée JavaScript
Name[fy]=JavaSkript gegevens motor
Name[gl]=Motor de datos de JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ માહિતીએન્જિન
Name[he]=מנוע נתונים של JavaScript
Name[hr]=JavaScript podatkovni mehanizam
Name[id]=Mesin Data JavaScript
Name[is]=JavaScript gagnavél
Name[ja]=JavaScript データエンジン
Name[kk]=JavaScript тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ JavaScript
Name[kn]=JavaScript DataEngine
Name[ko]=자바스크립트 데이터 엔진
Name[lt]=JavaScript duomenų variklis
Name[lv]=JavaScript datu dzinējs
Name[ml]=ജാവാസ്ക്രിപ്റ്റ് ഡാറ്റാഎഞ്ചിന്‍
Name[nb]=JavaScript datamotor
Name[nds]=JavaScript-Datenkarn
Name[nl]=JavaScript-data-engine
Name[nn]=JavaScript-datamotor
Name[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਡਾਟਾਇੰਜਣ
Name[pt]=Motor de Dados do JavaScript
Name[pt_BR]=Mecanismo de dados JavaScript
Name[ro]=MotorDate JavaScript
Name[ru]=Поставщик данных (JavaScript)
Name[si]=JavaScript දත්ත එන්ජිම
Name[sl]=Podatkovni pogon za JavaScript
Name[sr]=јаваскриптни датомотор
Name[sr@ijekavian]=јаваскриптни датомотор
Name[sr@ijekavianlatin]=JavaScript datomotor
Name[sr@latin]=JavaScript datomotor
Name[sv]=Javascript-datagränssnitt
Name[tr]=JavaScript Veri Motoru
Name[uk]=Рушій даних JavaScript
Name[x-test]=xxJavaScript DataEnginexx
Name[zh_CN]=JavaScript 数据引擎
Name[zh_TW]=JavaScript 資料引擎
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_dataenginescript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=DataEngine
