[Desktop Entry]
Name=JavaScript DataEngine
Name[ja]=JavaScript データエンジン
Name[pt]=Motor de Dados do JavaScript
Name[pt_BR]=Mecanismo de dados JavaScript
Name[sv]=Javascript-datagränssnitt
Name[uk]=Рушій даних JavaScript
Name[x-test]=xxJavaScript DataEnginexx
Name[zh_TW]=JavaScript 資料引擎
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_dataenginescript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=DataEngine
