[Desktop Entry]
Name=JavaScript DataEngine
Name[de]=JavaScript-Datenmodul
Name[hr]=JavaScript podrška
Name[is]=JavaScript gagnavél
Name[ja]=JavaScript データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ JavaScript
Name[ko]=자바스크립트 데이터 엔진
Name[nb]=JavaScript datamotor
Name[nds]=JavaScript-Datenkarn
Name[nn]=JavaScript-datamotor
Name[pt]=Motor de Dados do JavaScript
Name[pt_BR]=Mecanismo de dados JavaScript
Name[ru]=Поставщик данных (JavaScript)
Name[sr]=јаваскриптни датомотор
Name[sr@latin]=javascript datomotor
Name[sv]=Javascript-datagränssnitt
Name[tr]=JavaScript Veri Motoru
Name[uk]=Рушій даних JavaScript
Name[x-test]=xxJavaScript DataEnginexx
Name[zh_TW]=JavaScript 資料引擎
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_dataenginescript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=DataEngine
