[Desktop Entry]
Name=Python Runner
Name[de]=Python-Runner
Name[fi]=Python-suoritusohjelma
Name[hu]=Python-indító
Name[nl]=Python-starter
Name[pt]=Módulo de Execução em Python
Name[pt_BR]=Execução em Python
Name[sk]=Python spúšťač
Name[sv]=Python körningsprogram
Name[uk]=Засіб запуску Python
Name[x-test]=xxPython Runnerxx
Comment=Plasma Runner support for Python
Comment[de]=Unterstützung für Plasma-Runner in Python
Comment[fi]=Plasma-suoritusohjelmatuki Python-kielelle
Comment[hu]=Plazma-indító támogatás Pythonhoz
Comment[nl]=Ondersteuning voor Plasma-starter voor Python
Comment[pt]=Suporte de módulos de execução do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos de execução do Plasma para Python
Comment[sk]=Podpora spúšťača plasmy pre Python
Comment[sv]=Plasma körningsstöd för Python
Comment[uk]=Підтримка Python у інструментах запуску
Comment[x-test]=xxPlasma Runner support for Pythonxx

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pyrunner.py
X-EngineName=pythonrunner
X-Plasma-API=python
X-Plasma-ComponentTypes=Runner
