[Desktop Entry]
Name=Python data engine
Name[ar]=محرّك بيانات بايثون
Name[az]=Python məlumat mənbəyi
Name[ca]=Motor de dades en Python
Name[ca@valencia]=Motor de dades en Python
Name[cs]=Rozhraní v Pythonu
Name[da]=Datamotor til Python
Name[de]=Python-Datentreiber
Name[en_GB]=Python data engine
Name[es]=Motor de datos Python
Name[et]=Pythoni andmemootor
Name[eu]=Python datu-motorea
Name[fi]=Python-tietomoottori
Name[fr]=Moteur de données Python
Name[gd]=Inneal-dàta Python
Name[gl]=Motor de datos de Python
Name[hu]=Python adatmotor
Name[ia]=Motor de datos de Python
Name[id]=Mesin data Python
Name[it]=Motore di dati Python
Name[ko]=파이썬 데이터 엔진
Name[lt]=Python duomenų variklis
Name[lv]=Python datu dzinējs
Name[nb]=Python datamotor
Name[nds]=Python-Datenkarn
Name[nl]=Gegevensengine van Python
Name[nn]=Python-datamotor
Name[pa]=ਪਾਈਥਨ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych w Pythonie
Name[pt]=Motor de dados em Python
Name[pt_BR]=Mecanismo de dados Python
Name[ru]=Источники данных на языке Python
Name[sk]=Python dátový nástroj
Name[sl]=Podatkovni vir v Pythonu
Name[sr]=питонски датомотор
Name[sr@ijekavian]=питонски датомотор
Name[sr@ijekavianlatin]=Python datomotor
Name[sr@latin]=Python datomotor
Name[sv]=Python datagränssnitt
Name[tg]=Низоми иттилоотии Python
Name[tr]=Python veri motoru
Name[uk]=Рушій даних Python
Name[x-test]=xxPython data enginexx
Name[zh_CN]=Python 数据引擎
Name[zh_TW]=Python 資料引擎
Comment=Plasma data engine support for Python
Comment[ar]=دعم محرّك بيانات «بلازما» ل‍«بايثون»
Comment[az]=Python üçün dəstəklənən Plasma məlumat mənbəyi
Comment[ca]=Implementació d'un motor de dades del Plasma per a Python
Comment[ca@valencia]=Implementació d'un motor de dades del Plasma per a Python
Comment[cs]=Podpora datového rozhraní Plasmy v Pythonu
Comment[da]=Plasma datamotor-understøttelse af Python
Comment[de]=Unterstützung für Plasma-Datentreiber in Python
Comment[en_GB]=Plasma data engine support for Python
Comment[es]=Motor de datos de Plasma para Python
Comment[et]=Plasma andmemootori toetus Pythonile
Comment[eu]=Plasma datu-motorearen euskarria Python-entzat
Comment[fi]=Plasma-tietomoottorituki Python-kielelle
Comment[fr]=Prise en charge du moteur de données de Plasma pour Python
Comment[gd]=Taic ri inneal-dàta aig Plasma airson Python
Comment[gl]=Compatibilidade do motor de datos de Plasma con Python.
Comment[hu]=Plazma adatmotor támogatás Pythonhoz
Comment[ia]=Supporto de moptor de datos de Plasma per Python
Comment[id]=Dukungan mesin data Plasma untuk Python
Comment[it]=Supporto per Python del motore di dati di Plasma
Comment[ko]=Python용 Plasma 데이터 엔진 지원
Comment[lt]=Plasma duomenų variklio palaikymas Python kalbai
Comment[lv]=Plasma datu dzinēja atbalsts priekš Python
Comment[nb]=Plasma datamotor-støtte for Python
Comment[nds]=Plasma-Datenkarnünnerstütten för Python
Comment[nl]=Ondersteuning voor Plasma-gegevensengine voor Python
Comment[nn]=Plasma-datamotorstøtte for Python
Comment[pa]=ਪਾਈਥਨ ਲਈ ਪਲਾਜ਼ਮਾ ਡਾਟਾ ਇੰਜਣ ਸਹਿਯੋਗ
Comment[pl]=Obsługa silnika danych Plazmy w Pythonie
Comment[pt]=Suporte para os motores de dados do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos de dados do Plasma para Python
Comment[ru]=Поддержка источников данных для Python
Comment[sk]=Podpora dátového nástroja plasmy pre Python
Comment[sl]=Podpora za podatkovne vire napisane v Pythonu
Comment[sr]=Подршка плазма датомотора за питон
Comment[sr@ijekavian]=Подршка плазма датомотора за питон
Comment[sr@ijekavianlatin]=Podrška plasma datomotora za Python
Comment[sr@latin]=Podrška plasma datomotora za Python
Comment[sv]=Plasma datagränssnittstöd för Python
Comment[tg]=Дастгирии низоми иттилоотии Plasma барои Python
Comment[tr]=Python için Plasma veri motoru desteği
Comment[uk]=Підтримка Python у рушії роботи з даними Плазми
Comment[x-test]=xxPlasma data engine support for Pythonxx
Comment[zh_CN]=Plasma 的 Python 数据引擎支持
Comment[zh_TW]=支援 Python 的 Plasma 資料引擎

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pydataengine.py
X-EngineName=pythondataengine
X-Plasma-API=python
X-Plasma-ComponentTypes=DataEngine
