[Desktop Entry]
Name=Python data engine
Name[ca]=Motor de dades en Python
Name[cs]=Rozhraní v Pythonu
Name[de]=Python-Datentreiber
Name[fi]=Python-tietomoottori
Name[gl]=Motor de datos de Python
Name[hu]=Python adatmotor
Name[nds]=Python-Datenkarn
Name[nl]=Gegevensengine van Python
Name[pl]=Silnik danych w Pythonie
Name[pt]=Motor de dados em Python
Name[pt_BR]=Mecanismo de dados Python
Name[sk]=Python dátový nástroj
Name[sv]=Python datagränssnitt
Name[uk]=Рушій даних Python
Name[x-test]=xxPython data enginexx
Comment=Plasma data engine support for Python
Comment[ca]=Implementació de motor de dades del Plasma per al Python
Comment[cs]=Podpora datového rozhraní Plasmy v Pythonu
Comment[de]=Unterstützung für Plasma-Datentreiber in Python
Comment[fi]=Plasma-tietomoottorituki Python-kielelle
Comment[gl]=Motor de datos de Plasma para dar soporte a Python
Comment[hu]=Plazma adatmotor támogatás Pythonhoz
Comment[nds]=Plasma-Datenkarnünnerstütten för Python
Comment[nl]=Ondersteuning voor Plasma-gegevensengine voor Python
Comment[pl]=Obsługa silnika danych Plazmy w Pythonie
Comment[pt]=Suporte para os motores de dados do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos de dados do Plasma para Python
Comment[sk]=Podpora dátového nástroja plasmy pre Python
Comment[sv]=Plasma datagränssnittstöd för Python
Comment[uk]=Підтримка Python у рушії роботи з даними Плазми
Comment[x-test]=xxPlasma data engine support for Pythonxx

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pydataengine.py
X-EngineName=pythondataengine
X-Plasma-API=python
X-Plasma-ComponentTypes=DataEngine
