[Desktop Entry]
Name=Python Runner
Name[uk]=Засіб запуску Python
Name[x-test]=xxPython Runnerxx
Comment=Plasma Runner support for Python
Comment[uk]=Підтримка Python у інструментах запуску
Comment[x-test]=xxPlasma Runner support for Pythonxx

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pyrunner.py
X-EngineName=pythonrunner
X-Plasma-API=python
X-Plasma-ComponentTypes=Runner
