[Desktop Entry]
Comment=Basic App
Comment[ar]=تطبيق أساسيّ
Comment[az]=Əsas Tətbiqlər
Comment[ca]=Aplicació bàsica
Comment[ca@valencia]=Aplicació bàsica
Comment[cs]=Základní aplikace
Comment[da]=Basal app
Comment[de]=Einfache Anwendung
Comment[en_GB]=Basic App
Comment[es]=Aplicación básica
Comment[et]=Lihtrakendus
Comment[eu]=Oinarrizko aplikazioa
Comment[fi]=Perussovellus
Comment[fr]=Application basique
Comment[gd]=Aplacaid bhunaiteach
Comment[gl]=Aplicativo básico
Comment[hu]=Alap alkalmazás
Comment[ia]=App Basic
Comment[id]=App Dasar
Comment[it]=Applicazione di base
Comment[ko]=기본 앱
Comment[lv]=Vienkārša programma
Comment[nl]=Basis app
Comment[nn]=Grunnleggjande program
Comment[pl]=Podstawowa aplikacja
Comment[pt]=Aplicação Básica
Comment[pt_BR]=Aplicativo básico
Comment[ro]=Aplicație simplă
Comment[ru]=Простейшее приложение
Comment[sk]=Základná aplikácia
Comment[sl]=Osnovni program
Comment[sr]=Основни програм
Comment[sr@ijekavian]=Основни програм
Comment[sr@ijekavianlatin]=Osnovni program
Comment[sr@latin]=Osnovni program
Comment[sv]=Enkel applikation
Comment[tg]=Барномаи аслӣ
Comment[tr]=Temel Uygulama
Comment[uk]=Базова програма
Comment[vi]=Ứng dụng cơ bản
Comment[x-test]=xxBasic Appxx
Comment[zh_CN]=基本应用程序
Comment[zh_TW]=基本應用程式
Name=Bug
Name[ar]=علّة
Name[az]=Xəta
Name[ca]=Error
Name[ca@valencia]=Error
Name[cs]=Chyba
Name[da]=Programfejl
Name[de]=Fehler
Name[en_GB]=Bug
Name[es]=Fallo
Name[et]=Viga
Name[eu]=Akatsa
Name[fi]=Vika
Name[fr]=Bogue
Name[gd]=Buga
Name[gl]=Fallo
Name[hu]=Hiba
Name[ia]=Bug
Name[id]=Bug
Name[it]=Bug
Name[ko]=버그
Name[lt]=Klaida
Name[lv]=Kļūda
Name[nb]=Feil
Name[nds]=Fehler
Name[nl]=Bug
Name[nn]=Feil
Name[pa]=ਬੱਗ
Name[pl]=Błąd
Name[pt]=Insecto
Name[pt_BR]=Erro
Name[ro]=Problemă
Name[ru]=Ошибка
Name[sk]=Chyba
Name[sl]=Hrošč
Name[sr]=Грешка
Name[sr@ijekavian]=Грешка
Name[sr@ijekavianlatin]=Greška
Name[sr@latin]=Greška
Name[sv]=Fel
Name[ta]=பிழை
Name[tg]=Хато
Name[tr]=Hata
Name[uk]=Вада
Name[vi]=Lỗi
Name[x-test]=xxBugxx
Name[zh_CN]=程序缺陷
Name[zh_TW]=錯誤
Icon=kbugbuster

Type=Application
Exec=kpackagelauncherqml -a org.kde.example.developerguide.basic %u

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Name=org.kde.example.developerguide.basic
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
