[Desktop Entry]
Name=JavaScript File Operations
Name[bs]=JavaScript operacije s datotekama
Name[ca]=Operacions amb fitxers en JavaScript
Name[ca@valencia]=Operacions amb fitxers en JavaScript
Name[cs]=Operace souboru JavaScript
Name[da]=JavaScript filoperationer
Name[de]=JavaScript-Datei-Aktionen
Name[en_GB]=JavaScript File Operations
Name[es]=Operaciones de archivo JavaScript
Name[fi]=JavaScript-tiedostotoiminnot
Name[fr]=Opérations sur les fichiers en JavaScript
Name[gd]=Obrachaidhean faidhle JavaScript
Name[gl]=Operacións de ficheiro JavaScript
Name[hu]=JavaScript fájlműveletek
Name[ia]=Operationes de file de JavaScript
Name[it]=Operazioni su file JavaScript
Name[ko]=JavaScript 파일 작업
Name[lt]=JavaScript failo operacijos
Name[mr]=जावास्क्रिप्ट फाईलच्या क्रिया
Name[nb]=JavaScript filhandlinger
Name[nds]=JavaScript-Dateiakschonen
Name[nl]=Bestandsbewerkingen in JavaScript
Name[nn]=JavaScript-filoperasjonar
Name[pl]=Operacje plikowe JavaScript
Name[pt]=Operações com Ficheiros em JavaScript
Name[pt_BR]=Operações com arquivos JavaScript
Name[ru]=Операции с файлами в JavaScript
Name[sk]=JavaScriptové súborové operácie
Name[sl]=Datotečna opravila v JavaScript
Name[sr]=Јаваскриптне операције над фајловима
Name[sr@ijekavian]=Јаваскриптне операције над фајловима
Name[sr@ijekavianlatin]=JavaScript operacije nad fajlovima
Name[sr@latin]=JavaScript operacije nad fajlovima
Name[sv]=Filåtgärder för Javascript
Name[tr]=JavaScript Dosya Operatörleri
Name[uk]=Дії з файлами за допомогою JavaScript
Name[x-test]=xxJavaScript File Operationsxx
Name[zh_CN]=JavaScript 文件操作
Name[zh_TW]=JavaScript 檔案操作
Comment=Demonstrates accessing data via HTTP in JavaScript
Comment[bs]=Demonstrira pristupanje padacima preko HTTP u JavaScript
Comment[ca]=Demostra l'accés a dades via HTTP en JavaScript
Comment[ca@valencia]=Demostra l'accés a dades via HTTP en JavaScript
Comment[cs]=Ukazuje jak v JavaScriptu přistupovat k datům přes HTTP
Comment[da]=Demonstrerer tilgang til data via HTTP i JavaScript
Comment[de]=Demonstriert den Zugriff auf Daten über HTTP in JavaScript
Comment[en_GB]=Demonstrates accessing data via HTTP in JavaScript
Comment[es]=Demuestra el acceso a datos usando HTTP en JavaScript
Comment[fi]=Demonstroi datan hakemista HTTP:n välityksellä käyttäen JavaScriptiä
Comment[fr]=Illustre l'accès aux données via HTTP en JavaScript
Comment[gd]=Seallaidh seo mar a nì thu inntrigeadh air dàta le HTTP ann an JavaScript
Comment[gl]=Demostra o acceso a datos mediante HTTP en JavaScript
Comment[hu]=Demonstrálja adatok elérését HTTP-n keresztül JavaScriptben
Comment[ia]=Il demonstra como acceder datos via HTTP inJavaScript
Comment[it]=Dimostra l'accesso ai dati tramite HTTP in JavaScript
Comment[ko]=JavaScript 내에서 데이터를 HTTP로 접근하는 과정 시연
Comment[lt]=Demonstruoja duomenų pasiekimą per HTTP su JavaScript
Comment[mr]=जावास्क्रिप्ट मध्ये डेटा HTTP ने बघण्याचे प्रदर्शन
Comment[nb]=Demonstrerer tilgang til data via HTTP i JavaScript
Comment[nds]=Wiest, wodennig een op Daten över HTTP in JavaScript togriepen kann
Comment[nl]=Demonstreert toegang tot gegevens via HTTP in JavaScript
Comment[nn]=Demonstrerer JavaScript-tilgang til data via HTTP
Comment[pl]=Przedstawia uzyskiwanie dostępu do danych przez HTTP w JavaScript
Comment[pt]=Demonstra o acesso a dados por HTTP em JavaScript
Comment[pt_BR]=Demonstra o acesso a dados por HTTP em JavaScript
Comment[ru]=Демонстрация доступа к данным по HTTP в JavaScript
Comment[sk]=Demonštruje prístup k údajom cez HTTP v JavaScripte
Comment[sl]=Predstavi dostopanje do podatkov preko HTTP v JavaScript
Comment[sr]=Демонстрира приступање подацима преко ХТТП‑а у јаваскрипту
Comment[sr@ijekavian]=Демонстрира приступање подацима преко ХТТП‑а у јаваскрипту
Comment[sr@ijekavianlatin]=Demonstrira pristupanje podacima preko HTTP‑a u JavaScriptu
Comment[sr@latin]=Demonstrira pristupanje podacima preko HTTP‑a u JavaScriptu
Comment[sv]=Förevisar åtkomst av data via HTTP i Javascript
Comment[tr]=JavaScript HTTP üzerinden veri erişimini gösterir
Comment[uk]=Демонстрації доступу до даних за допомогою HTTP мовою JavaScript
Comment[x-test]=xxDemonstrates accessing data via HTTP in JavaScriptxx
Comment[zh_CN]=展示在 JavaScript 中通过 HTTP 访问数据
Comment[zh_TW]=展示如何在 JavaScript 中透過 HTTP 存取資料
Icon=text-x-generic

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.simpified-javascript-http-example
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-License=GPL

X-Plasma-OptionalExtensions=http
X-Plasma-MainScript=code/main.js
