[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[bs]=Plazma usluga
Comment[ca]=Servei del Plasma
Comment[cs]=Služba Plasma
Comment[de]=Plasma-Dienst
Comment[es]=Servicio de Plasma
Comment[fi]=Plasma-palvelu
Comment[ia]=Servicio de Plasma
Comment[mr]=प्लाज्मा सेवा
Comment[nl]=Plasma-service
Comment[pl]=Usługa Plazmy
Comment[pt]=Serviço do Plasma
Comment[pt_BR]=Serviço do Plasma
Comment[sk]=Služba Plasma
Comment[sv]=Plasma-tjänst
Comment[tr]=Plasma servisi
Comment[ug]=Plasma مۇلازىمىتى
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
