[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[nl]=Plasma-applet
Comment[uk]=Аплет Плазми
Comment[x-test]=xxPlasma appletxx

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

[PropertyDef::X-Plasma-DropUrlPatterns]
Type=QStringList

[PropertyDef::X-Plasma-NotificationArea]
Type=bool

[PropertyDef::X-Plasma-DBusActivationService]
Type=QString
