[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Plasma Data Engine
Comment[uk]=Рушій даних Плазми
Comment[x-test]=xxPlasma Data Enginexx

