[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Shell
Name=Plasma Shell
Name[bs]=Plazma školjka
Name[ca]=Intèrpret d'ordres del Plasma
Name[de]=Plasma-Umgebung
Name[fi]=Plasma-kuori
Name[gl]=Shell de Plasma
Name[nds]=Plasma-Konsool
Name[nl]=Plasma Shell
Name[pl]=Powłoka Plazmy
Name[pt]=Consola do Plasma
Name[pt_BR]=Plasma Shell
Name[sk]=Plasma Shell
Name[sr]=Плазма шкољка
Name[sr@ijekavian]=Плазма шкољка
Name[sr@ijekavianlatin]=Plasma školjka
Name[sr@latin]=Plasma školjka
Name[sv]=Plasma skal
Name[uk]=Оболонка Плазми
Name[x-test]=xxPlasma Shellxx
Comment=Plasma Shell Components
Comment[bs]=Komponente plazma školjke
Comment[ca]=Components de l'intèrpret d'ordres del Plasma
Comment[de]=Plasma-Shell-Komponenten
Comment[fi]=Plasma-kuoren komponentit
Comment[gl]=Compoñentes da shell de Plasma
Comment[nds]=Plasma-Konsoolkomponenten
Comment[nl]=Plasma Shell-componenten
Comment[pl]=Składniki powłoki Plazmy
Comment[pt]=Componentes da Consola do Plasma
Comment[pt_BR]=Componentes do Plasma Shell
Comment[sk]=Komponenty shellu Plasma
Comment[sr]=Компоненте плазма шкољке
Comment[sr@ijekavian]=Компоненте плазма шкољке
Comment[sr@ijekavianlatin]=Komponente plasma školjke
Comment[sr@latin]=Komponente plasma školjke
Comment[sv]=Plasma skalkomponenter
Comment[uk]=Компоненти оболонки Плазми
Comment[x-test]=xxPlasma Shell Componentsxx

