[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[cs]=Aplet Plasma
Comment[de]=Plasma-Miniprogramm
Comment[es]=Miniaplicación para Plasma
Comment[fi]=Plasma-sovelma
Comment[fr]=Applet Plasma
Comment[mr]=प्लाज्मा एप्लेट
Comment[nl]=Plasma-applet
Comment[pt]='Applet' do Plasma
Comment[pt_BR]=Miniaplicativo do Plasma
Comment[sk]=Plasma aplet
Comment[sv]=Plasma-miniprogram
Comment[uk]=Аплет Плазми
Comment[x-test]=xxPlasma appletxx

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

[PropertyDef::X-Plasma-DropUrlPatterns]
Type=QStringList

[PropertyDef::X-Plasma-DefaultSize]
Type=QSize

