[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PackageStructure
Comment=Plasma package structure definition
Comment[nl]=Structuurdefinitie van plasmapakket
Comment[uk]=Опис структури пакунка плазми
Comment[x-test]=xxPlasma package structure definitionxx

[PropertyDef::X-Plasma-PackageFileFilter]
Type=QString

[PropertyDef::X-Plasma-PackageFileMimetypes]
Type=QStringList

[PropertyDef::X-Plasma-ProvidesWidgetBrowser]
Type=bool

