[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[bs]=Sadržilac plazma apleta i iscrtavač pozadine
Comment[ca]=Contenidor de miniaplicació del Plasma i pintor de fons
Comment[cs]=Kontejner apletů a vykreslovač pozadí Plasma
Comment[de]=Plasma-Programmcontainer und Hintergrund-Zeichnung
Comment[fi]=Plasma-sovelmasäiliö ja taustan piirrin
Comment[gl]=Un contedor de applet de Plasma e pintor do fondo
Comment[hu]=Tároló Plasma-kisalkalmazásokhoz és háttérrajzoló
Comment[ia]=Receptaculo applet Plasma e pictor de fundo
Comment[mr]=प्लाज्मा एप्लेट कंटेनर व बेकग्राउंड पेंटर
Comment[nds]=Plasma-Gelaats för Lüttprogrammen un Achtergrundpleger
Comment[nl]=Container voor plasma-applets en achtergrondinvulling
Comment[pl]=Pojemnik apletu Plazmy i malowanie w tle
Comment[pt]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[pt_BR]=Recipiente de miniaplicativos do Plasma e pintor de plano de fundo
Comment[sk]=Kontainer appletov Plasma a vykresľovač pozadia
Comment[sv]=Plasmaminiprogram-omgivning och bakgrundsuppritning
Comment[tr]=Plasma programcık içerici ve arkaplan oluşturucu
Comment[ug]=Plasma قاچا ھەرىكىتى ۋە تەگلىك سىزغۇچ
Comment[uk]=Контейнер аплетів Плазми і малювання у тлі
Comment[x-test]=xxPlasma applet container and background painterxx

[PropertyDef::X-Plasma-ContainmentType]
Type=QString
