[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[bs]=Plazma aplet
Comment[ca]=Miniaplicació del Plasma
Comment[cs]=Aplet Plasma
Comment[de]=Plasma-Miniprogramm
Comment[es]=Miniaplicación para Plasma
Comment[hu]=Plasma kisalkalmazás
Comment[ia]=Applet Plasma
Comment[mr]=प्लाज्मा एप्लेट
Comment[nl]=Plasma-applet
Comment[pl]=Aplet Plazmy
Comment[pt]='Applet' do Plasma
Comment[pt_BR]=Miniaplicativo do Plasma
Comment[sk]=Plasma aplet
Comment[sv]=Plasma-miniprogram
Comment[tr]=Plasma programcığı
Comment[ug]=Plasma قوللانچاق
Comment[uk]=Аплет Плазми
Comment[x-test]=xxPlasma appletxx

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

[PropertyDef::X-Plasma-DropUrlPatterns]
Type=QStringList

[PropertyDef::X-Plasma-NotificationArea]
Type=bool

[PropertyDef::X-Plasma-DBusActivationService]
Type=QString
