[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/LookAndFeel
Name=Plasma Look and Feel
Name[de]=Plasma-Erscheinungsbild
Name[fi]=Plasman ulkoasu ja tuntuma
Name[fr]=Apparence de Plasma
Name[nl]=Plasma Look-and-Feel
Name[pl]=Wygląd Plazmy
Name[pt]=Aparência e Comportamento do Plasma
Name[pt_BR]=Aparência e comportamento do Plasma
Name[sk]=Vzhľad a nastavenie Plasmy
Name[sv]=Plasma utseende och känsla
Name[uk]=Вигляд і поведінка Плазми
Name[x-test]=xxPlasma Look and Feelxx
Comment=Defines the Visual Language for Plasma Shells
Comment[fr]=Définit le langage visuel pour les terminaux de Plasma
Comment[nl]=Definieert de Visual Language voor Plasma Shells
Comment[pl]=Określa wizualny język dla Powłok Plazmy
Comment[pt]=Define a Linguagem Visual para as Consolas do Plasma
Comment[pt_BR]=Define a linguagem visual para o Plasma Shells
Comment[sk]=Definuje vizuálny jazyk pre shelly Plasma
Comment[sv]=Definierar det visuella språket för Plasma skal
Comment[uk]=Визначає візуальну мову для оболонок Плазми
Comment[x-test]=xxDefines the Visual Language for Plasma Shellsxx


