[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper
Name=Plasma Wallpaper
Name[cs]=Tapety Plasmy
Name[de]=Plasma-Hintergrundbild
Name[fi]=Plasma-taustakuva
Name[fr]=Papier peint de Plasma
Name[nl]=Plasma-bureaubladachtergrond
Name[pt]=Papel de Parede do Plasma
Name[pt_BR]=Papel de parede do Plasma
Name[sk]=Tapeta Plasma
Name[sv]=Plasma skrivbordsunderlägg
Name[uk]=Тло стільниці Плазми
Name[x-test]=xxPlasma Wallpaperxx
Comment=QML Wallpaper Packages
Comment[de]=QML-Hintergrundbild-Pakete
Comment[fi]=QML-taustakuvapaketit
Comment[fr]=Paquets de papier peint pour QML
Comment[nl]=QML-pakketten voor achtergrondafbeeldingen
Comment[pt]=Pacotes de Papéis de Parede em QML
Comment[pt_BR]=Pacotes de papéis de parede em QML
Comment[sk]=Balíky tapiet QML
Comment[sv]=Paket med QML-skrivbordsunderlägg
Comment[uk]=Пакунки зображень тла QML
Comment[x-test]=xxQML Wallpaper Packagesxx
