[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Shell
Name=Plasma Shell
Name[nl]=Plasma Shell
Name[uk]=Оболонка Плазми
Name[x-test]=xxPlasma Shellxx
Comment=Plasma Shell Components
Comment[nl]=Plasma Shell-componenten
Comment[uk]=Компоненти оболонки Плазми
Comment[x-test]=xxPlasma Shell Componentsxx

