[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ToolBox

Comment=Plasma toolbox
Comment[cs]=Plasma toolbox
Comment[de]=Plasma-Werkzeugkasten
Comment[es]=Caja de herramientas de Plasma
Comment[fi]=Plasma-työkalupakki
Comment[fr]=Boîte à outils de Plasma
Comment[mr]=प्लाज्मा साधने
Comment[nl]=Plasma-hulpmiddelen
Comment[pt]=Barra de ferramentas do Plasma
Comment[pt_BR]=Barra de ferramentas do Plasma
Comment[sk]=Nástroje Plasma
Comment[sv]=Plasma verktygslåda
Comment[uk]=Набір інструментів Плазми
Comment[x-test]=xxPlasma toolboxxx
