[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[uk]=Контейнер аплетів Плазми і малювання у тлі
Comment[x-test]=xxPlasma applet container and background painterxx

[PropertyDef::X-Plasma-ContainmentType]
Type=QString
