[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[cs]=Modul KRunneru
Comment[de]=KRunner-Modul
Comment[es]=Complemento para KRunner
Comment[fr]=Module externe de KRunner
Comment[mr]=KRunner प्लगइन
Comment[nl]=KRunner-plugin
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plugin do KRunner
Comment[sk]=KRunner modul
Comment[sv]=Krunner-insticksprogram
Comment[uk]=Додаток до KRunner
Comment[x-test]=xxKRunner pluginxx

[PropertyDef::X-Plasma-AdvertiseSingleRunnerQueryMode]
Type=bool

[PropertyDef::TryExec]
Type=QString

[PropertyDef::X-Plasma-Args]
Type=QStringList

