[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
