[Desktop Entry]
Name=Test Data Engine
Name[bs]=Probni pogon za podatke
Name[ca]=Motor de dades de prova
Name[cs]=Testovací datový nástroj
Name[de]=Test-Datentreiber
Name[es]=Motor de datos de pruebas
Name[fi]=Testitietomoottori
Name[hu]=Teszt adatmotor
Name[ia]=Motor del essayo de datos
Name[mr]=चाचणी डेटा इंजिन
Name[nl]=Testgegevensengine
Name[pl]=Silnik danych próbnych
Name[pt]=Motor de Dados de Teste
Name[pt_BR]=Mecanismo de dados de teste
Name[sk]=Testovací dátový nástroj
Name[sv]=Testdatagränssnitt
Name[tr]=Test Veri Motoru
Name[ug]=سىناققا ئىشلىتىدىغان ماتور
Name[uk]=Перевірка рушія даних
Name[x-test]=xxTest Data Enginexx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_testengine
X-Plasma-EngineName=testengine
