[Desktop Entry]
Name=Test Data Engine
Name[ca]=Motor de dades de prova
Name[el]=Μηχανή δεδομένων ελέγχου
Name[gl]=Motor de datos de probas
Name[gu]=ચકાસણી માહિતી એન્જિન
Name[he]=בדיקה למנוע מידע
Name[is]=Gagnaprófunarvél
Name[nb]=Testdata-motor
Name[nds]=Test-Datenkarn
Name[nl]=Testgegevensengine
Name[pt]=Motor de Dados de Teste
Name[pt_BR]=Mecanismo de dados de teste
Name[sv]=Testdatagränssnitt
Name[tr]=Test Veri Motoru
Name[uk]=Перевірка рушія даних
Name[x-test]=xxTest Data Enginexx
Name[zh_TW]=測試資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_testengine
X-Plasma-EngineName=testengine
