[Desktop Entry]
Name=Test Data Engine
Name[af]=Toets data-enjin
Name[ca]=Motor de dades de prova
Name[de]=Test-Datentreiber
Name[el]=Μηχανή δεδομένων ελέγχου
Name[eo]=Testo de datuma motoro
Name[et]=Testandmete mootor
Name[fr]=Moteur de données de test
Name[ga]=Inneall Sonraí Trialach
Name[gl]=Motor de datos de proba
Name[gu]=ચકાસણી માહિતી એન્જિન
Name[km]=សាកល្បង​ម៉ាស៊ីន​ទិន្នន័យ
Name[ko]=테스트 데이터 엔진
Name[lv]=Testēšanas datu dzinējs
Name[nds]=Test-Hanteerkarn
Name[pa]=ਟੈਸਟ ਡਾਟਾ ਇੰਜਣ
Name[pt]=Motor de Dados de Teste
Name[pt_BR]=Motor de Dados de Teste
Name[ro]=Test motor de date
Name[sl]=Preizkusni pogon s podatki
Name[sr]=пробни мотор података
Name[sr@latin]=probni motor podataka
Name[sv]=Testdatagränssnitt
Name[tr]=Test Veri Motoru
Name[uk]=Тестовий рушій даних
Name[zh_CN]=测试数据引擎
Name[zh_TW]=測試資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_testengine
X-Plasma-EngineName=testengine
