[Desktop Entry]
Name=plasma-kpart
Name[en_GB]=plasma-kpart
Name[ia]=plasma-kpart
Name[is]=plasma-kpart
Name[ko]=plasma-kpart
Name[nds]=Kpart för Plasma
Name[nl]=plasma-kpart
Name[pt]=plasma-kpart
Name[pt_BR]=plasma-kpart
Name[sv]=Plasma-delprogram
Name[uk]=plasma-kpart
Name[x-test]=xxplasma-kpartxx
Name[zh_TW]=plasma-kpart
Type=Service
ServiceTypes=KParts/Part
X-KDE-Library=plasma-kpart
