[Desktop Entry]
Comment=Example on how to manage Drop data
Comment[bs]=Primjer upravljanja ispuštenim podacima
Comment[ca]=Exemple de com gestionar dades «Drop»
Comment[de]=Beispiel zur Verwaltung von abgelegten Daten
Comment[en_GB]=Example on how to manage Drop data
Comment[es]=Ejemplo sobre cómo usar los datos soltados
Comment[fi]=Esimerkki tiedon pudottamisen käsittelemisestä
Comment[gl]=Exemplo de como xestionar os datos soltados
Comment[ia]=Exemplo de como gerer Drop data (deponer datos)
Comment[nds]=Bispill för't Hanteren vun afleggt Daten
Comment[nl]=Voorbeeld van hoe gegevens van Drop te beheren
Comment[pl]=Przykład postępowania z upuszczanymi danymi
Comment[pt]=Exemplo de gestão de dados do Drop
Comment[pt_BR]=Exemplo de gerenciamento de dados do Drop
Comment[sk]=Ukážka ako spravovať Drop data
Comment[sl]=Primer ravnanja s spuščenimi podatki
Comment[sr]=Пример како управљати превученим подацима
Comment[sr@ijekavian]=Пример како управљати превученим подацима
Comment[sr@ijekavianlatin]=Primer kako upravljati prevučenim podacima
Comment[sr@latin]=Primer kako upravljati prevučenim podacima
Comment[sv]=Exempel på hur Släpp data hanteras
Comment[uk]=Приклад керування скинутими даними
Comment[x-test]=xxExample on how to manage Drop dataxx
Encoding=UTF-8
Keywords=
Name=Example notes
Name[bs]=Primjer bilješke
Name[ca]=Notes d'exemple
Name[de]=Beispielnotizen
Name[en_GB]=Example notes
Name[es]=Notas del ejemplo
Name[fi]=Muistiinpanoesimerkki
Name[gl]=Notas de exemplo
Name[ia]=Notas de exemplo
Name[it]=Note di esempio
Name[nds]=Bispillnotizen
Name[nl]=Voorbeeldnotities
Name[pl]=Uwagi do przykładu
Name[pt]=Notas de exemplo
Name[pt_BR]=Notas de exemplo
Name[sk]=Ukážkové poznámky
Name[sl]=Primer opomb
Name[sr]=Пример белешки
Name[sr@ijekavian]=Пример белешки
Name[sr@ijekavianlatin]=Primer beleški
Name[sr@latin]=Primer beleški
Name[sv]=Exempelanteckningar
Name[uk]=Приклад нотаток
Name[x-test]=xxExample notesxx
Type=Service
Icon=knotes
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.notes
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DropMimeTypes=text/plain
