[Desktop Entry]
Comment=Example on how to manage Drop data
Comment[az]=Daşınan elementlərlə işləmə nümunəsi
Comment[bs]=Primjer upravljanja ispuštenim podacima
Comment[ca]=Exemple de com gestionar dades «Drop»
Comment[ca@valencia]=Exemple de com gestionar dades «Drop»
Comment[da]=Eksempel på hvordan man håndterer drop-data
Comment[de]=Beispiel zur Verwaltung von abgelegten Daten
Comment[en_GB]=Example on how to manage Drop data
Comment[es]=Ejemplo sobre cómo usar los datos soltados
Comment[et]=Näidis, kuidas hallata Dropi andmeid
Comment[eu]=Adibidea jaregindako datuak kudeatzeko moduari buruz
Comment[fi]=Esimerkki tiedon pudottamisen käsittelemisestä
Comment[fr]=Exemple de comment gérer les données déposées
Comment[gd]=Ball-eisimpleir air mar a stiùiricheas tu dàta Drop
Comment[gl]=Exemplo de como xestionar os datos soltados
Comment[hu]=Példa a Drop adatok kezeléséhez
Comment[ia]=Exemplo de como gerer Drop data (deponer datos)
Comment[id]=Contoh bagaimana untuk mengelola data Drop
Comment[it]=Esempio su come gestire i dati Drop
Comment[ko]=드롭 데이터를 관리하는 방법 시연
Comment[nb]=Eksempel på hvordan slippdata håndteres
Comment[nds]=Bispill för't Hanteren vun afleggt Daten
Comment[nl]=Voorbeeld van hoe gegevens van Drop te beheren
Comment[nn]=Eksempel på korleis handtera «Drop»-data
Comment[pl]=Przykład postępowania z upuszczanymi danymi
Comment[pt]=Exemplo de gestão de dados do Drop
Comment[pt_BR]=Exemplo de gerenciamento de dados do Drop
Comment[ru]=Пример обработки перетаскиваемых объектов
Comment[sk]=Ukážka ako spravovať Drop data
Comment[sl]=Primer ravnanja s spuščenimi podatki
Comment[sr]=Пример како управљати превученим подацима
Comment[sr@ijekavian]=Пример како управљати превученим подацима
Comment[sr@ijekavianlatin]=Primer kako upravljati prevučenim podacima
Comment[sr@latin]=Primer kako upravljati prevučenim podacima
Comment[sv]=Exempel på hur Släpp data hanteras
Comment[ta]=இழுத்து போடப்படும் தரவை கையாள்வதற்கான எடுத்துக்காட்டு
Comment[tg]=Мисоли тарзи идоракунии гузоштани иттилоот
Comment[tr]=Drop verisinin nasıl yönetileceği örneği
Comment[uk]=Приклад керування скинутими даними
Comment[vi]=Ví dụ về cách quản lí dữ liệu thả
Comment[x-test]=xxExample on how to manage Drop dataxx
Comment[zh_CN]=如何管理拖放数据的示例程序
Comment[zh_TW]=如何管理 Drop 資料的範例
Keywords=
Name=Example notes
Name[ar]=ملاحظات مثال
Name[az]=Qeydlərlə nümunə
Name[bs]=Primjer bilješke
Name[ca]=Notes d'exemple
Name[ca@valencia]=Notes d'exemple
Name[da]=Eksempel på noter
Name[de]=Beispielnotizen
Name[en_GB]=Example notes
Name[es]=Notas del ejemplo
Name[et]=Näidismärkmed
Name[eu]=Adibide oharrrak
Name[fi]=Muistiinpanoesimerkki
Name[fr]=Exemple de notes
Name[gd]=Nòtaichean-eisimpleir
Name[gl]=Notas de exemplo
Name[hu]=Példa jegyzetek
Name[ia]=Notas de exemplo
Name[id]=Catatan contoh
Name[it]=Note di esempio
Name[ko]=예제 노트
Name[nb]=Eksempelnotater
Name[nds]=Bispillnotizen
Name[nl]=Voorbeeldnotities
Name[nn]=Eksempelnotat
Name[pl]=Uwagi do przykładu
Name[pt]=Notas de exemplo
Name[pt_BR]=Notas de exemplo
Name[ro]=Notițe ca exemplu
Name[ru]=Пример с заметками
Name[sk]=Ukážkové poznámky
Name[sl]=Primeri sporočilc
Name[sr]=Пример белешки
Name[sr@ijekavian]=Пример белешки
Name[sr@ijekavianlatin]=Primer beleški
Name[sr@latin]=Primer beleški
Name[sv]=Exempelanteckningar
Name[ta]=எடுத்துக்காட்டு குறிப்புகள்
Name[tg]=Қайдҳои намунавӣ
Name[tr]=Örnek notlar
Name[uk]=Приклад нотаток
Name[vi]=Ghi chú ví dụ
Name[x-test]=xxExample notesxx
Name[zh_CN]=示例便笺
Name[zh_TW]=範例備忘
Type=Service
Icon=org.kde.plasma.notes
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.notes
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DropMimeTypes=text/plain
