[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=platformstatus
X-KDE-DBus-ModuleName=plaformstatus
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=Platform Status
Name[uk]=Стан платформи
Name[x-test]=xxPlatform Statusxx
Comment=Tracks the current shell package and the platform definition strings.
Comment[uk]=Стежить за станом поточного пакунка оболонки та рядками визначення платформи.
Comment[x-test]=xxTracks the current shell package and the platform definition strings.xx
