[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kf5/kded/platformstatus
X-KDE-DBus-ModuleName=platformstatus
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=Platform Status
Name[ar]=حالة المنصّة
Name[bs]=Status platforme
Name[ca]=Estat de la plataforma
Name[cs]=Stav platformy
Name[da]=Platformstatus
Name[de]=Plattform-Status
Name[en_GB]=Platform Status
Name[es]=Estado de la plataforma
Name[fi]=Alustan tila
Name[fr]=État de la plate-forme
Name[gd]=Staid an ùrlair
Name[gl]=Estado da plataforma
Name[hu]=Platform állapot
Name[ia]=Stato de platteforma
Name[it]=Stato della piattaforma
Name[ko]=플랫폼 상태
Name[nb]=Plattform-status
Name[nds]=Ünnerbuu-Status
Name[nl]=Status van platform
Name[pa]=ਪਲੇਟਫਾਰਮ ਸਥਿਤੀ
Name[pl]=Stan Platformy
Name[pt]=Estado da Plataforma
Name[pt_BR]=Status da plataforma
Name[ru]=Состояние платформы
Name[sk]=Stav platformy
Name[sl]=Stanje okolja
Name[sr]=Стање платформе
Name[sr@ijekavian]=Стање платформе
Name[sr@ijekavianlatin]=Stanje platforme
Name[sr@latin]=Stanje platforme
Name[sv]=Plattformstatus
Name[tr]=Platform Durumu
Name[uk]=Стан платформи
Name[x-test]=xxPlatform Statusxx
Name[zh_CN]=平台状态
Name[zh_TW]=平台狀態
Comment=Tracks the current shell package and the platform definition strings.
Comment[bs]=Prati  trenutni paket školjke i definicijone nizove platforme
Comment[ca]=Segueix el paquet d'intèrpret d'ordres actual i les cadenes de definició de la plataforma.
Comment[da]=Holder styr på den aktuelle skal-pakke og platformsdefinition-strengene.
Comment[de]=Überwacht das aktuelle Shell-Paket und die Plattformdefinitionen.
Comment[en_GB]=Tracks the current shell package and the platform definition strings.
Comment[es]=Rastrea las cadenas de definición del paquete de intérprete actual y de la plataforma.
Comment[fi]=Seuraa nykyistä kuoripakettia ja alustan määrittelyn merkkijonoja.
Comment[fr]=Suit le paquet du terminal actuel et les chaînes de définition de la plate-forme.
Comment[gd]=Nì seo tracadh air pacaid a' shell làithreach 's air na sreangan a mhìnicheas an t-ùrlar.
Comment[gl]=Fai seguimento do paquete da shell e do texto de definición da plataforma.
Comment[hu]=A jelenlegi felületcsomag és platformdefiníciós sztringek követése.
Comment[ia]=Il tracia le pacchetto de shell currente e le catenas de definition de platteforma.
Comment[it]=Traccia il pacchetto della shell attuale e le stringhe di definizione della piattaforma.
Comment[ko]=현재 셸 패키지와 플랫폼 정의 문자열을 추적합니다.
Comment[nb]=Sporer gjeldende skallpakke og plattformens definisjonsstrenger.
Comment[nds]=Kiekt op dat aktuelle Konsoolpaket un de Ünnerbuu-Definitschonen
Comment[nl]=Volgt het huidige shell-pakket en de definitietekenreeksen van platform.
Comment[pl]=Śledzi bieżący pakiet powłoki oraz ciągi znaków określające platformę.
Comment[pt]=Segue o pacote da consola actual e a os textos de definição da plataforma.
Comment[pt_BR]=Segue o pacote do shell atual e as strings de definição da plataforma.
Comment[ru]=Отслеживает текущую оболочку и строки определения платформы
Comment[sk]=Sleduje aktuálny balík shellu a reťazce definície platformy.
Comment[sl]=Sledi trenutnemu paketu lupine in nizom določila okolja.
Comment[sr]=Прати тренутни пакет шкољке и ниске дефиниције платформе
Comment[sr@ijekavian]=Прати тренутни пакет шкољке и ниске дефиниције платформе
Comment[sr@ijekavianlatin]=Prati trenutni paket školjke i niske definicije platforme
Comment[sr@latin]=Prati trenutni paket školjke i niske definicije platforme
Comment[sv]=Följer nuvarande skalpaket och plattformens definitionssträngar
Comment[tr]=Mevcut kabuk paketini ve düzlem tanımlama dizilerini izle
Comment[uk]=Стежить за станом поточного пакунка оболонки та рядками визначення платформи.
Comment[x-test]=xxTracks the current shell package and the platform definition strings.xx
Comment[zh_TW]=追蹤目前的 shell 套件與平台定義字串。
