[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[pt]=Serviço do Plasma
Comment[sv]=Plasma-tjänst
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
