[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ToolBox

Comment=Plasma toolbox
Comment[en_GB]=Plasma toolbox
Comment[es]=Caja de herramientas de Plasma
Comment[eu]=Plasma tresna-kutxa
Comment[ia]=Cassetta de utilitate (instrumentario) de Plasma
Comment[ku]=Qutiya amûrên Plasma
Comment[nb]=Plasma-verktøykasse
Comment[nds]=Plasma-Warktüüchkist
Comment[pt]=Barra de ferramentas do Plasma
Comment[pt_BR]=Barra de ferramentas do Plasma
Comment[sv]=Plasma verktygslåda
Comment[ta]=பிளாஸ்மா கருவிப்பட்டி
Comment[th]=กล่องเครื่องมือ Plasma
Comment[uk]=Набір інструментів Плазми
Comment[x-test]=xxPlasma toolboxxx
Comment[zh_TW]=Plasma 工具盒
