[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ContainmentActions

Comment=Plasma ContainmentActions
Comment[bg]=Действия за контейнера на Plasma
Comment[ca]=ContainmentActions del Plasma
Comment[en_GB]=Plasma ContainmentActions
Comment[es]=ContainmentActions de Plasma
Comment[et]=Plasma konteineritoimingud
Comment[gl]=ContainmentActions de Plasma 
Comment[id]=Plasma Aksi Berisi
Comment[is]=Plasma ContainmentActions
Comment[ko]=Plasma ContainmentActions
Comment[nb]=Plasma ContainmentActions
Comment[nds]=Plasma-Gelaatsakschonen
Comment[nl]=Plasma Containeracties
Comment[pt]=Acções do Contentor do Plasma
Comment[pt_BR]=Ações do contentor do Plasma
Comment[ro]=AcțiuniContainer Plasma
Comment[sv]=Plasma omgivningsåtgärder
Comment[tr]=Plasma İçerici Eylemleri
Comment[uk]=Дії контейнерів Плазми
Comment[x-test]=xxPlasma ContainmentActionsxx
Comment[zh_TW]=Plasma 容器動作

[PropertyDef::X-Plasma-HasConfigurationInterface]
Type=bool

