[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[bg]=Услуга Plasma
Comment[ca]=Servei del Plasma
Comment[da]=Plasma-tjeneste
Comment[de]=Plasma-Dienst
Comment[el]=Υπηρεσία plasma
Comment[en_GB]=Plasma service
Comment[es]=Servicio de Plasma
Comment[et]=Plasma teenus
Comment[gl]=Servizo do Plasma
Comment[hu]=Plazma-szolgáltatás
Comment[ia]=Servicio de Plasma
Comment[is]=Plasma-þjónusta
Comment[kk]=Plasma қызметі
Comment[km]=សេវា​​ប្លាស្មា
Comment[ko]=Plasma 서비스
Comment[nb]=Plasma-tjeneste
Comment[nds]=Plasma-Deenst
Comment[nl]=Plasma-service
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸਰਵਿਸ
Comment[pt]=Serviço do Plasma
Comment[pt_BR]=Serviço do Plasma
Comment[ro]=Servicu Plasma
Comment[ru]=Служба Plasma
Comment[si]=ප්ලස්මා සේවා
Comment[sv]=Plasma-tjänst
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
Comment[zh_CN]=Plasma 服务
Comment[zh_TW]=Plasma 服務
