[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PopupApplet

Comment=Plasma scripting popup applet
Comment[ar]=بريمج منبثق بواسطة سكربت بلازما
Comment[ast]=Miniaplicación emerxente de script pa Plasma
Comment[be@latin]=Skryptavy vypłyŭny aplet „Plasma”
Comment[bg]=Аплет за Plasma за скриптове за изскачащи прозорци
Comment[ca]=Miniaplicació emergent d'scripting del Plasma
Comment[ca@valencia]=Miniaplicació emergent d'scripting del Plasma
Comment[cs]=Skriptovací vyskakující Plasma applet
Comment[da]=Popop-applet til Plasma-scripting
Comment[de]=Plasma-Skript-Miniprogramm
Comment[el]=Αναδυόμενη μικροεφαρμογή σεναρίου plasma
Comment[en_GB]=Plasma scripting popup applet
Comment[es]=Miniaplicación emergente de script para Plasma
Comment[et]=Plasma skriptimise hüpikaplett
Comment[eu]=Plasma scripting popup appleta
Comment[fi]=Plasma ponnahdusikkunoiden  komentojonosovelma
Comment[fr]=Applet de script Plasma
Comment[fy]=Plasma scripting popup applet
Comment[ga]=Feidhmchláirín aníos scriptithe Plasma
Comment[gl]=Applet contextual de scripting de Plasma
Comment[gu]=પ્લાઝમા સ્ક્રિપ્ટીંગ પોપઅપ એપ્લેટ
Comment[hr]=Plasmin skriptni skočni applet
Comment[hu]=Szkriptkezelő kisalkalmazás a Plasmához
Comment[ia]=Applet popup de scripting Plasma
Comment[id]=Applet popup skrip Plasma
Comment[is]=Plasma smáforrit fyrir skriftun
Comment[it]=Applet Plasma scripting a comparsa
Comment[ja]=Plasma スクリプティング・ポップアップアプレット
Comment[kk]=Қалқымалы Plasma скрипт апплеті
Comment[km]=អាប់ភ្លេត​លេចឡើង​របស់​ស្គ្រីប​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ವಿಧಿಗುಚ್ಛ (ಸ್ಕ್ರಿಪ್ಟ್) ವಿಕಸನ ಪುಟಿಕೆ (ಪಾಪಪ್) ಅನ್ವಯಾಂಶ (ಆಪ್ಲೆಟ್)
Comment[ko]=Plasma 스크립팅 팝업 애플릿
Comment[lv]=Plasma skriptu uznirstošais logs
Comment[ml]=പ്ലാസ്മ സ്ക്രിപ്റ്റിങ്ങിന്റെ പൊങ്ങിവരുന്ന ലഘുപ്രയോഗം
Comment[nb]=Oppsprett-miniprogram for Plasma-skripting
Comment[nds]=Skript-Opduklüttprogramm vun Plasma
Comment[nl]=Plasma-applet voor scripting-popup
Comment[nn]=Sprettoppelement for Plasma-skript
Comment[pa]=ਪਾਲਜ਼ਮਾ ਸਕ੍ਰਿਪਟਿੰਗ ਪੋਪਅੱਪ ਐਪਲਿਟ
Comment[pl]=Aplet Plazmy do skryptów
Comment[pt]='Applet' de programação do Plasma
Comment[pt_BR]=Miniaplicativo de script do Plasma
Comment[ro]=Miniaplicație Plasma de indicii ale scripturilor
Comment[ru]=Аплет программируемого контекстного окна Plasma
Comment[sk]=Skriptovací vyskakujúci Plasma aplet
Comment[sl]=Plasma skriptni pojavni programček
Comment[sr]=Плазма скриптовани искачући аплет
Comment[sr@ijekavian]=Плазма скриптовани искачући аплет
Comment[sr@ijekavianlatin]=Plasma skriptovani iskačući aplet
Comment[sr@latin]=Plasma skriptovani iskačući aplet
Comment[sv]=Plasma-skriptminiprogram
Comment[tg]=Барномаи скрипти пайдошавандаи Plasma
Comment[th]=แอพเพล็ตผุดการใช้สคริปต์ของพลาสมา
Comment[tr]=Plasma betik kullanan açılabilir gereci
Comment[uk]=Аплет програмованого контекстного вікна Плазми
Comment[x-test]=xxPlasma scripting popup appletxx
Comment[zh_CN]=Plasma 脚本型弹出小程序
Comment[zh_TW]=Plasma 文稿彈出小程式


