[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[ca]=Servei del Plasma
Comment[de]=Plasma-Dienst
Comment[es]=Servicio de Plasma
Comment[et]=Plasma teenus
Comment[ia]=Servicio de Plasma
Comment[nds]=Plasma-Deenst
Comment[nl]=Plasma-service
Comment[pt]=Serviço do Plasma
Comment[sv]=Plasma-tjänst
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
Comment[zh_TW]=Plasma 服務
