[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ContainmentActions

Comment=Plasma ContainmentActions
Comment[bg]=Действия за контейнера на Plasma
Comment[ca]=ContainmentActions del Plasma
Comment[ca@valencia]=ContainmentActions del Plasma
Comment[id]=Plasma Aksi Berisi
Comment[nds]=Plasma-Gelaatsakschonen
Comment[pt]=Acções do Contentor do Plasma
Comment[pt_BR]=Ações do contentor do Plasma
Comment[sv]=Plasma omgivningsåtgärder
Comment[tr]=Plasma İçerici Eylemleri
Comment[uk]=Дії контейнерів Плазми
Comment[x-test]=xxPlasma ContainmentActionsxx
Comment[zh_TW]=Plasma 容器動作

[PropertyDef::X-Plasma-HasConfigurationInterface]
Type=bool

