[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ToolBox

Comment=Plasma toolbox
Comment[de]=Plasma-Werkzeugkasten
Comment[en_GB]=Plasma toolbox
Comment[es]=Caja de herramientas de Plasma
Comment[et]=Plasma tööriistakast
Comment[eu]=Plasma tresna-kutxa
Comment[gl]=Barra de ferramentas do Plasma
Comment[hu]=Plazma-eszközkészlet
Comment[ia]=Cassetta de utilitate (instrumentario) de Plasma
Comment[is]=Plasma verkfærasafn
Comment[ku]=Qutiya amûrên Plasma
Comment[nb]=Plasma-verktøykasse
Comment[nds]=Plasma-Warktüüchkist
Comment[nl]=Plasma-hulpmiddelen
Comment[pt]=Barra de ferramentas do Plasma
Comment[pt_BR]=Barra de ferramentas do Plasma
Comment[ro]=Cutie de unelte Plasma
Comment[se]=Plasma-reaidoboksa
Comment[sv]=Plasma verktygslåda
Comment[ta]=பிளாஸ்மா கருவிப்பட்டி
Comment[th]=กล่องเครื่องมือ Plasma
Comment[uk]=Набір інструментів Плазми
Comment[x-test]=xxPlasma toolboxxx
Comment[zh_TW]=Plasma 工具盒
