[Desktop Entry]
Name=Test
Name[cs]=Test
Name[de]=Test
Name[es]=Prueba
Name[fr]=Test
Name[mr]=चाचणी
Name[nl]=Test
Name[pt]=Teste
Name[pt_BR]=Teste
Name[sk]=Test
Name[sv]=Test
Name[uk]=Тест
Name[x-test]=xxTestxx
Comment=A dummy plugin for testing
Comment[cs]=Falešný zásuvný modul pro testování
Comment[de]=Ein Dummy-Modul zum Testen.
Comment[es]=Un complemento de simulación para hacer pruebas
Comment[fr]=Un module externe factice pour le test
Comment[mr]=चाचणीसाठी नकली प्लगइन
Comment[nl]=Een dummy plugin voor testen
Comment[pt]=Um 'plugin' de exemplo para testes
Comment[pt_BR]=Um plugin fictício para testes
Comment[sk]=Ukážkový modul pre testovanie
Comment[sv]=Ett exempelinsticksprogram för test
Comment[uk]=Додаток для тестування
Comment[x-test]=xxA dummy plugin for testingxx
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_test
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true
