[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ScriptEngine

Comment=Scripting language extension for Plasma
Comment[de]=Skriptsprachen-Erweiterung für Plasma
Comment[pt_BR]=Extensão de linguagem de script do Plasma
Comment[uk]=Розширення скриптових мов для Плазми
Comment[x-test]=xxScripting language extension for Plasmaxx

[PropertyDef::X-Plasma-ComponentTypes]
Type=QStringList

[PropertyDef::X-Plasma-PackageFormat]
Type=QString

