[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[de]=Plasma-Dienst
Comment[nl]=Plasma-service
Comment[pt]=Serviço do Plasma
Comment[pt_BR]=Serviço do Plasma
Comment[sk]=Služba Plasma
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
