[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ContainmentActions

Comment=Plasma ContainmentActions
Comment[de]=Plasma-Container-Aktionen
Comment[pt_BR]=Ações do contêiner do Plasma
Comment[uk]=Дії контейнерів Плазми
Comment[x-test]=xxPlasma ContainmentActionsxx

[PropertyDef::X-Plasma-HasConfigurationInterface]
Type=bool

