[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[de]=Plasma-Miniprogramm
Comment[pt_BR]=Miniaplicativo do Plasma
Comment[uk]=Аплет Плазми
Comment[x-test]=xxPlasma appletxx

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

[PropertyDef::X-Plasma-DropUrlPatterns]
Type=QStringList

[PropertyDef::X-Plasma-DefaultSize]
Type=QSize

