[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin

[PropertyDef::X-Plasma-AdvertiseSingleRunnerQueryMode]
Type=bool

[PropertyDef::TryExec]
Type=QString

[PropertyDef::X-Plasma-Args]
Type=QStringList

